<div class="collection__trophy">
    <div class="article trophy-tab collection__trophy__nav">
        <ul class="collection__trophy__nav__wrap tab season__index__wrap">
            <li value="3" class="collection__trophy__btn season season__index active" style="color: #fff;"><a
                    href="#tab">シーズン3</a></li>
            <li value="2" class="collection__trophy__btn season season__index" style="color: #fff;"><a
                    href="#tab">シーズン2</a></li>
            <li value="1" class="collection__trophy__btn season season__index" style="color: #fff;"><a
                    href="#tab">シーズン1</a></li>
        </ul>
    </div>
    <div class="tabContents active" id="tab">
        <div class="collection__trophy__progress collection-box">
            <dl class="progress__wrap">
                <dt id="progressTitle" class="progress__title">トロフィー進捗</dt>
                <dd class="progress__data">
                    <div class="data__summary">
                        <dl class="summary__wrap">
                            <dt>獲得率</dt>
                            <dd id="getRate">15%</dd>
                        </dl>
                        <dl class="summary__wrap">
                            <dt>獲得数</dt>
                            <dd id="totalCount">3個</dd>
                        </dl>
                    </div>
                    <div class="data__items">
                        <dl class="items__wrap">
                            <dt><img src="/assets/img/trophy/bronze.png" alt="trophyBronze" class="img__rarity"></dt>
                            <dd><span id="bronzeCount">1</span><span id="bronzeTotalCount">/3</span></dd>
                        </dl>
                        <dl class="items__wrap">
                            <dt><img src="/assets/img/trophy/silver.png" alt="trophySilver" class="img__rarity"></dt>
                            <dd><span id="silverCount">1</span><span id="silverTotalCount">/6</span></dd>
                        </dl>
                        <dl class="items__wrap">
                            <dt><img src="/assets/img/trophy/gold.png" alt="trophyGold" class="img__rarity"></dt>
                            <dd><span id="goldCount">0</span><span id="goldTotalCount">/7</span></dd>
                        </dl>
                        <dl class="items__wrap">
                            <dt><img src="/assets/img/trophy/platinum.png" alt="trophyPlatinum" class="img__rarity">
                            </dt>
                            <dd><span id="platinumCount">1</span><span id="platinumTotalCount">/4</span></dd>
                        </dl>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="collection__trophy-list"><h2>トロフィー一覧</h2>
            <ul id="trophy_content">
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301001" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/4_2.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">みなぎってきた</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_2.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301002" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/4_3.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">匠の入り口</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_3.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301003" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/4_4.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">なんということでしょう</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_4.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301004" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/2_1.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">ベル・エポック</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_1.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301005" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/2_2.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">アルマンド</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_2.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301006" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/2_3.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">ドン・ペリニヨン</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_3.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301007" class="trophy__modal ">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/5_2.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">線引くの好き</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_2.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301008" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/5_3.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">景品キラー</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_3.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301009" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/5_2.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">お残しは許さない</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_2.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301010" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/5_3.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">完璧主義者</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_3.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301011" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/5_3.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">WACCA依存症</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_3.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301012" class="trophy__modal ">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/2_4.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">俺には…、WACCAしかないんですよ。</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_4.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301013" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/2_3.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">小ブタニンニクヤサイマシ</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_3.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301014" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/2_4.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">大ブタW全マシマシ</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_4.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301015" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/5_2.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">戦いが始まる</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_2.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301016" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/5_3.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">更なる高みへ</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_3.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301017" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/2_2.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">ただのまっ白な空間だ…!!</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_2.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301018" class="trophy__modal ">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/3_1.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">パーリーピーポー</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_1.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301019" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/3_1.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">表があれば裏もある</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_1.png"></div>
                        </div>
                    </div>
                </a></li>
                <li><a data-izimodal-open="#modal_trophy_conditions_confirm301020" class="trophy__modal gray__mask">
                    <div class="trophy-list__icon"><img src="/assets/img/trophy/6_4.png"></div>
                    <div class="trophy-list__detail"><p class="trophy-list__name">シーズン3コンプリート！</p>
                        <div class="trophy-list__bottom">
                            <div class="trophy-list__rank"><img src="/assets/img/web/collection/rank_star_4.png"></div>
                        </div>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</div>

<span id="modal_trophy_conditions_confirm301001"
      data-izimodal-iframeurl="/web/modal/trophy/conditionsConfirm?trid=301001" aria-hidden="false"
      aria-labelledby="modal_trophy_conditions_confirm301001" role="dialog" class="iziModal"
      style="z-index: 999; border-radius: 3px; border-bottom: 3px solid rgb(136, 160, 185); overflow: hidden; max-width: 414px; display: inline; height: 227px;"><div
        class="iziModal-header iziModal-noSubtitle" style="background: rgb(136, 160, 185); padding-right: 50px;"><h2
        class="iziModal-header-title"> </h2><p class="iziModal-header-subtitle"></p><div
        class="iziModal-header-buttons"><a href="javascript:void(0)" class="iziModal-button iziModal-button-close"
                                           data-izimodal-close=""></a></div></div><div class="iziModal-wrap"
                                                                                       style="height: auto;"><div
        class="iziModal-content" style="padding: 0px;"><div class="iziModal-iframe" style="height: 400px;">.
<div id="modal_confirm">    <div class="modal-details">        <div class="modal_info">            <div
        class="modal_name">みなぎってきた</div>            <img
        src="/assets/img/web/collection/rank_star_2.png">        </div>    </div>    <hr>    <p class="description"><span>楽曲を30回プレイ</span></p>    <hr>    <div
        class="btn">        <a class="btn no-btn btn_close">閉じる</a>    </div></div></div></div></div></span>
