<section id="option">
    <article>
        <div><h2><span>判定表示位置</span></h2>
            <div class="article"><p class="top_description">判定の表示位置を設定できます。</p>
                <div class="option_image_select">
                    <div class="option_image_select_content  selected ">
                        <div class="option_image_select_value"><p>センター</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/judge_position/0.png" alt="option"
                                                                    class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="0"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>アンダー</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/judge_position/1.png" alt="option"
                                                                    class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="1"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>トップ</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/judge_position/2.png" alt="option"
                                                                    class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="2"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>OFF</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/judge_position/3.png" alt="option"
                                                                    class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="3"></div>
                </div>
                <a class="btn option_confirm" data-izimodal-open="#modal_option_confirm">変更する</a> <a
                        routerLink="/web/option/displaySetting" class="back-btn bold">戻る</a></div><!-- /article -->
        </div>
    </article>
</section>
