<section class="login-select">
    <h2>WACCA マイページ</h2>
    <p>使用するアカウントを選択してください。</p>
    <ul class="select-acount"><a class="btn login" data-izimodal-open="#modal_login0">
        <li>
            <div class="user-info__icon">
                <div class="user-info__icon__stage"></div>
                <div class="symbol__color__base"><img alt="symbol_color" class="" src="/img/symbol_color/303001.png">
                    <div class="icon__image"><img alt="icon" class="" src="/img/icon/102100.png"></div>
                </div>
            </div>
            <div class="user-info__detail">
                <div class="user-info__detail__wrap">
                    <div class="user-info__detail__lv">Lv.24</div>
                    <div class="user-info__detail__name">USER_001</div>
                </div>
                <div class="user-info__detail__title">God ？raves?</div>
                <div class="user-info__detail__wrap">
                    <div class="user-info__detail__wp"><img src="/assets/img/web/top/info/rp.png"
                                                            width="20">7480<span>RP</span></div>
                </div>
                <div class="rating__wrap">
                    <div class="rating__img"><img alt="rating_icon" class="" src="/assets/img/web/rating/rate_003.png">
                        <div class="rating__data">1613</div>
                    </div>
                </div>
            </div>
        </li>
    </a></ul>
</section>

<section class="bottom_btn">
    <ul>
        <li><a routerLink="/web/login">ログイン画面へ</a></li>
    </ul>
</section>


<div aria-hidden="false" aria-labelledby="modal_login0" class="iziModal" id="modal_login0" role="dialog"
     style="z-index: 999; border-radius: 3px; border-bottom: 3px solid rgb(136, 160, 185); overflow: hidden; max-width: 414px; display: block; height: 215px;">
    <div class="iziModal-header iziModal-noSubtitle" style="background: rgb(136, 160, 185); padding-right: 50px;"><h2
            class="iziModal-header-title"></h2>
        <p class="iziModal-header-subtitle"></p>
        <div class="iziModal-header-buttons"><a class="iziModal-button iziModal-button-close" data-izimodal-close=""
                                                href="javascript:void(0)"></a></div>
    </div>
    <div class="iziModal-wrap" style="height: auto;">
        <div class="iziModal-content" style="padding: 0px;"><h3 class="aslope back_gray txt_center"><span>USER_001</span>
        </h3>
            <p>このアカウントでログインしますか？</p>
            <div>
                <a class="btn btn_pink fpm" routerLink="/web/top">YES</a>
                <a class="btn" data-izimodal-close="">NO</a></div>
        </div>
    </div>
</div>
