<section class="ranking">
    <div class="ranking__tab">
        <ul class="ranking__tab__wrap">
            <li class="tab__btn  active "><a routerLink="/web/ranking/musicHighScore">楽曲別</a></li>
            <li class="tab__btn "><a routerLink="/web/ranking/totalHighScore/detail">トータルスコア</a></li>
            <li class="tab__btn "><a routerLink="/web/ranking/stageupScore">ステージアップ</a></li>
            <li class="tab__btn "><a routerLink="/web/ranking/wpScore/detail">トータルRP</a></li>
        </ul>
    </div>
    <div class="contents-wrap">
        <router-outlet></router-outlet>
    </div>
</section>
