<section id="option">
    <article>
        <div><h2><span>タッチノーツの色</span></h2>
            <div class="article"><p class="top_description">タッチノーツの色を設定できます。</p>
                <div class="option_image_select">
                    <div class="option_image_select_content  selected ">
                        <div class="option_image_select_value"><p>ライトマゼンタ</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_5"></div>
                        <input type="hidden" id="option_value" name="option_value" value="5"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>ライトイエロー</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_6"></div>
                        <input type="hidden" id="option_value" name="option_value" value="6"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>オレンジ</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_4"></div>
                        <input type="hidden" id="option_value" name="option_value" value="4"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>ライム</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_3"></div>
                        <input type="hidden" id="option_value" name="option_value" value="3"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>レッド</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_1"></div>
                        <input type="hidden" id="option_value" name="option_value" value="1"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>スカイブルー</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_2"></div>
                        <input type="hidden" id="option_value" name="option_value" value="2"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>ダークイエロー</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_7"></div>
                        <input type="hidden" id="option_value" name="option_value" value="7"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>ライトレッド</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_1001"></div>
                        <input type="hidden" id="option_value" name="option_value" value="1001"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>イエロー</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_1002"></div>
                        <input type="hidden" id="option_value" name="option_value" value="1002"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>ピュアグリーン</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_1003"></div>
                        <input type="hidden" id="option_value" name="option_value" value="1003"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>ブライトブルー</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_1004"></div>
                        <input type="hidden" id="option_value" name="option_value" value="1004"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>ライトブルー</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_1005"></div>
                        <input type="hidden" id="option_value" name="option_value" value="1005"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>ライトグレー</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/base_note/touch_note.png"
                                                                    alt="option" class="note_color_1006"></div>
                        <input type="hidden" id="option_value" name="option_value" value="1006"></div>
                </div>
                <a class="btn option_confirm" data-izimodal-open="#modal_option_confirm">変更する</a> <a
                        routerLink="/web/option/designSetting" class="back-btn bold">戻る</a></div><!-- /article -->
        </div>
    </article>
</section>
