<section id="option">
    <article>
        <div><h2><span>ボーナス効果</span></h2>
            <div class="article"><p class="top_description">ボーナスノーツの効果のON/OFFを設定できます。</p>
                <p><select id="optionValue" name="optionValue">
                    <option value="0" selected="">OFF</option>
                    <option value="1">ON</option>
                </select></p>
                <a class="btn option_confirm" data-izimodal-open="#modal_option_confirm">変更する</a> <a
                        routerLink="/web/option/gameSetting" class="back-btn bold">戻る</a></div><!-- /article -->
        </div>
    </article>
</section>
