<div class="ranking＿stageup"><h2><img src="/assets/img/web/stage/stageup_title.png" width="100%"></h2>
    <ul class="ranking＿stageup__list">
        <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="1004">
            <li>
                <div class="stageup__list__name">BOSS Re:MIX Vol.1</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="1005">
            <li>
                <div class="stageup__list__name">BOSS Re:MIX Vol.2</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="1006">
            <li>
                <div class="stageup__list__name">BOSS Re:MIX Vol.3</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="1001">
            <li>
                <div class="stageup__list__name">SPURT Re:MIX Vol.1</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="1002">
            <li>
                <div class="stageup__list__name">SPURT Re:MIX Vol.2</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="1003">
            <li>
                <div class="stageup__list__name">SPURT Re:MIX Vol.3</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="1">
            <li>
                <div class="stageup__list__name">ステージI</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="2">
            <li>
                <div class="stageup__list__name">ステージII</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="3">
            <li>
                <div class="stageup__list__name">ステージIII</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="4">
            <li>
                <div class="stageup__list__name">ステージIV</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="5">
            <li>
                <div class="stageup__list__name">ステージV</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="6">
            <li>
                <div class="stageup__list__name">ステージVI</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="7">
            <li>
                <div class="stageup__list__name">ステージVII</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="8">
            <li>
                <div class="stageup__list__name">ステージVIII</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="9">
            <li>
                <div class="stageup__list__name">ステージIX</div>
            </li>
        </a> <a class="ranking＿stageup__list__link" routerLink="/web/ranking/stageupScore/detail" value="10">
            <li>
                <div class="stageup__list__name">ステージX</div>
            </li>
        </a>
    </ul>
</div>
