<section class="playdata">
    <div class="playdata__tab">
        <ul class="playdata__tab__wrap">
            <li class="tab__btn  active "><a routerLink="/web/music">楽曲スコア</a></li>
            <li class="tab__btn "><a routerLink="/web/player">Myデータ</a></li>
            <li class="tab__btn "><a routerLink="/web/gate">ゲート</a></li>
            <li class="tab__btn "><a routerLink="/web/history">プレイ履歴</a></li>
            <li class="tab__btn "><a routerLink="/web/rating">レーティング</a></li>
        </ul>
    </div>
    <div class="contents-wrap">
        <router-outlet></router-outlet>
    </div>
</section>

