<section id="option">
    <article>
        <div><h2><span>ギブアップ設定</span></h2>
            <div class="article"><p class="top_description">プレイ中の「途中終了」を設定できます。</p>
                <p><select id="optionValue" name="optionValue">
                    <option value="0">なし</option>
                    <option value="1" selected="">ノータッチ</option>
                    <option value="2">Sボーダー</option>
                    <option value="3">SSボーダー</option>
                    <option value="4">SSSボーダー</option>
                    <option value="5">自己ベストボーダー</option>
                </select></p>
                <a class="btn option_confirm" data-izimodal-open="#modal_option_confirm">変更する</a> <a
                        routerLink="/web/option/gameSetting" class="back-btn bold">戻る</a></div><!-- /article -->
        </div>
    </article>
</section>
