<div class="collection__navi-character">
    <div class="collection__current-navi-character collection-box">
        <dl>
            <dt>現在のナビキャラ</dt>
            <dd>
                <div class="current-navi-character__icon"><img src="/img/navi_character/310001.png" alt="naviCharacter"
                                                               class=""></div>
                <div class="current-navi-character__info"><p class="current-navi-character__name">ルーン</p></div>
            </dd>
        </dl>
    </div>
    <ul class="collection__navi-character-list">
        <li>
            <div class="navi-character-list__icon"><img src="/img/navi_character/210001.png" alt="naviCharacter"
                                                        class=""></div>
            <p class="navi-character-list__name">エリザベス</p>
            <div class="navi-character-list__bottom">
                <div class="navi-character-list__set-btn">
                    <a class="pa pf" routerLink="/web/naviCharacter/index/exec"><p>SETする</p></a>
                </div>
            </div>
        </li>
        <li>
            <div class="navi-character-list__icon"><img src="/img/navi_character/210002.png" alt="naviCharacter"
                                                        class=""></div>
            <p class="navi-character-list__name">リリィ</p>
            <div class="navi-character-list__bottom">
                <div class="navi-character-list__set-btn">
                    <a class="pa pf" routerLink="/web/naviCharacter/index/exec"><p>SETする</p></a>
                </div>
            </div>
        </li>
        <li>
            <div class="navi-character-list__icon"><img src="/img/navi_character/310001.png" alt="naviCharacter"
                                                        class=""></div>
            <p class="navi-character-list__name">ルーン</p>
            <div class="navi-character-list__bottom">
                <div class="navi-character-list__set-btn">
                    <a class="pa pf" routerLink="/web/naviCharacter/index/exec"><p>SETする</p></a>
                </div>
            </div>
        </li>
    </ul>
</div>
