<div class="container">
    <header>
        <div class="top-btn"><a routerLink="/web/top"><img alt="" id="top" src="/assets/img/web/common/nav/nav_top_on.png"></a></div>
        <h1><a routerLink="/web/top"><img src="/assets/img/web/common/wacca_logo_reverse.png"></a></h1></header>
    <div id="pushobj">
        <router-outlet></router-outlet>
        <footer id="top">
            <div id="footer">
                <hr>
                <div class="logo">
                </div>
                <div id="logo_copyright"><p>©</p></div>
                <div id="text_menu">
                    <ul>
                        <li><a routerLink="/web/siteinfo">推奨環境</a></li>
                        <li><a routerLink="/web/vip">VIP利用規約</a></li>
                        <li><a href="https://www.marv.jp/privacy_policy/">個人情報保護方針</a></li>
                    </ul>
                </div>
                <hr>
                <div *ngIf="false" id="copyright"><p><br> 「VOCALOID(ボーカロイド)」および「ボカロ」はヤマハ株式会社の登録商標です。<br></p>
                    <p> VOCALOID and VOCALO are trademarks of Yamaha <br> Corporation.<br></p>
                    <p><br> ※ヤマハ株式会社の開発した「VOCALOID」の技術による音源を使用しています。<br></p>
                    <p> 2018 MAGES./ KADOKAWA/ 未来ガジェット研究所<br></p>
                    <p> ©大川ぶくぶ/ 竹書房・キングレコード<br></p>
                    <p> ©けものフレンズプロジェクト2A<br></p>
                    <p> ©川上泰樹・伏瀬・講談社／ 転スラ製作委員会<br></p>
                    <p> ©2017 暁なつめ・三嶋くろね／ KADOKAWA／<br> このすば2製作委員会<br></p>
                    <p> ©春場ねぎ・講談社／ 「五等分の花嫁」製作委員会　<br> ℗PONY CANYON INC.<br></p>
                    <p> ©アース・スターエンターテイメント<br></p>
                    <p> ©REISSUE RECORDS<br></p>
                    <p> illustration by ハチ<br></p>
                    <p> ©AI,Inc.<br></p>
                    <p> © INTERNET Co., Ltd. All rights reserved.<br></p>
                    <p> ©VOCALOMAKETS Powered by Bumpy Factory Corporation.<br></p>
                    <p><br> 「結月ゆかり」「紲星あかり」は株式会社バンピーファクトリーの登録商標です。<br></p>
                    <p> ©AHS Co. Ltd.<br></p>
                    <p> ©ゾンビランドサガ製作委員会<br></p>
                    <p> illustration by TNSK<br></p>
                    <p> © 壁の彩度<br></p>
                    <p> © 上海アリス幻樂団<br></p>
                    <p> ©あfろ・芳文社/ 野外活動サークル<br></p>
                    <p> ©Kizuna AI<br></p>
                    <p> ℗ 2018 upd8 music<br></p>
                    <p> ©カラー／ Project Eva.<br></p>
                    <p> © はせつ町民会/ ユーリ!!! on ICE 製作委員会<br></p>
                    <p> Licensed by Warner Music Japan Inc.<br></p>
                    <p> © 渡辺航（週刊少年チャンピオン）／<br> 弱虫ペダル04製作委員会<br></p>
                    <p> © 渡辺航（週刊少年チャンピオン）／ マーベラス、 東宝、<br> アルテメイト<br></p>
                    <p> ©A-Sketch Inc.<br></p>
                    <p> Licensed by Sony Music Records<br></p>
                    <p> © 許斐 剛／<br> 集英社・ＮＡＳ・新テニスの王子様プロジェクト<br></p>
                    <p> © 許斐 剛／ 集英社・テニミュ製作委員会<br></p>
                    <p> ©2014 Marvelous Inc.／ 幕末Rock製作委員会<br></p>
                    <p> © 中山幸・芳文社／ ブレンド・S製作委員会<br></p>
                    <p> © 2018 U/ M/ A/ A Inc.<br></p>
                    <p> ©Gynoid. Illustration by のう<br></p>
                    <p> Licensed by Sony Music Labels Inc.<br></p>
                    <p> Licensed by Avex Music Publishing Inc.<br></p>
                    <p> ©2014 Marvelous Inc.／ 幕末Rock製作委員会<br></p>
                    <p> Licensed by EMI RECORDS, A UNIVERSAL MUSIC COMPANY<br></p>
                    <p> ©2016 うかみ／ ＫＡＤＯＫＡＷＡ　<br> アスキー・メディアワークス／<br> ガヴリールドロップアウト製作委員会<br></p>
                    <p> ©KADOKAWA CORPORATION <br></p>
                    <p> illustration by LAM<br></p>
                    <p> ©2016 EXIT MUSIC PUBLISHING INC.<br></p>
                    <p> © T-ARTS / syn Sophia / テレビ東京 / <br> PRR製作委員会<br></p>
                    <p> © T－ARTS / syn Sophia / テレビ東京 / <br> IPP製作委員会<br></p>
                    <p> ©T－ARTS / syn Sophia / テレビ東京 / <br> PCH3製作委員会<br></p>
                    <p> ©MTK / INTERNET Co., Ltd.<br></p>
                    <p> Licensed by NBCUniversal ENTERTAINMENT JAPAN, LLC.<br></p>
                    <p> © 2014 DWANGO Co.,Ltd.<br></p>
                    <p> ©Kitty Co.,Ltd<br></p>
                    <p> © 2019 Warner Bros. Japan<br></p>
                    <p> © 2020 Warner Bros. Japan<br></p>
                    <p> 大森藤ノ・SBクリエイティブ/ ダンまち2製作委員会<br></p>
                    <p> © 2017-2020 cover corp.<br></p>
                    <p> ©GAL<br></p>
                    <p> © 2001 by FUJIPACIFIC MUSIC INC.<br></p>
                    <p> Avex Music Publishing Inc.<br></p>
                    <p> &amp; DEPARTURE PUBLISHERS<br></p>
                    <p> ©2008 IXY music Co.,Ltd.<br></p>
                    <p> ©DJ MAG JP records<br></p>
                    <p> © Noxy Games Inc.<br></p>
                    <p> Licensed by INCS toenter Co.,ltd. ©2020 丈／<br> KADOKAWA／ 宇崎ちゃん製作委員会<br></p>
                    <p> ©Qruppo<br></p>
                    <p> ©2014 EXIT MUSIC PUBLISHING INC.<br></p>
                    <p> ©鎌池和馬/ 冬川基/ アスキー・メディアワークス/<br> PROJECT-RAILGUN S<br></p>
                    <p> © coalowl<br></p>
                    <p> Licensed by PONY CANYON INC.<br></p>
                    <p> ©2017 DWANGO CO., Ltd.<br></p>
                    <p> ©2018 DWANGO CO., Ltd.<br></p>
                    <p> ©bushiroad All Rights Reserved.<br></p>
                    <p> © Donuts Co. Ltd. All rights reserved.<br></p>
                    <p> ©2017 Manjuu Co.,Ltd. &amp; Yongshi Co.,Ltd. All <br> Rights Reserved.<br></p>
                    <p> ©2017 Yostar, Inc. All Rights Reserved.<br></p>
                    <p> 2010 EXIT MUSIC PUBLISHING INC.<br></p>
                    <p> Ado「うっせぇわ」<br></p>
                    <p> Licensed by Virgin Music, A UNIVERSAL MUSIC COMPANY<br></p>
                    <p> ©ANYCOLOR, Inc.<br></p>
                    <p> ©のう<br></p>
                    <p> © 2020 DWANGO Co.,Ltd.<br></p>
                    <p> ©YuNi<br></p>
                    <p> ©Mirai Akari Project<br></p>
                    <p> ©Siro Channel<br></p>
                    <p> ©ルーツ / Piyo / アース・スター <br> エンターテイメント / 亀井戸高校テニス部<br></p>
                    <p> ©2013 EXIT MUSIC PUBLISHING INC.<br></p>
                    <p> 1st PLACE Co.,Ltd.<br></p>
                    <p> ©2010 DWANGO CO., Ltd.<br></p>
                    <p> 2009 EXIT MUSIC PUBLISHING INC.<br></p>
                    <p> ©2018 EXIT MUSIC PUBLISHING INC.<br></p>
                    <p> © 2017-2021 peropero Co.,Ltd.All Rights Reserved.<br></p>
                    <p> ©田中工務店<br></p>
                    <p> ©2009 IXY music Co.,Ltd.<br></p>
                    <p> © 2010 IXY music Co.,Ltd.<br></p>
                    <p> ©2012 EXIT MUSIC PUBLISHING INC.<br></p>
                    <p> ©TAITO CORPORATION 2021 ALL RIGHTS RESERVED.<br></p>
                    <p> ©Marvelous / Rejet<br></p>
                    <p> ©Crypton Future Media, INC. www.piapro.net <img class="copyright_logo"
                                                                        src="/assets/img/web/copyright/piapro_logo.png">
                    </p>
                    <p> ©CAFFEIN / スミス・ヒオカ / Crypton Future Media, INC. www.piapro.net <img
                            class="copyright_logo" src="/assets/img/web/copyright/piapro_logo.png"></p>
                    <p> ©線/小山乃舞世/ <img class="copyright_logo" src="/assets/img/web/copyright/twindrill_logo.png">
                    </p>
                </div>
            </div>
        </footer>
        <p id="page-top" style="display: none;"><a><img src="/assets/img/web/btn/btn_top.svg"></a></p>
        <script>    if ($("#modal_music").length) {
          $(function () {
            $("#modal_music").iziModal({
              title: ' ',
              closeButton: true,
              closeOnEscape: true,
              iframe: true,
              fullscreen: false,
              width: 414,
              overlayClose: false,
              transitionIn: 'fadeInDown',
            });
          });
        }</script>
    </div>
</div>
