<nav class="common-nav">
    <ul>
        <li><a routerLink="/web/music"><img alt="" id="play_data" src="/assets/img/web/common/nav/nav_playdata.png"></a></li>
        <li><a routerLink="/web/title/preset"><img alt="" src="/assets/img/web/common/nav/nav_collection.png"></a></li>
        <li><a routerLink="/web/stageup"><img alt="" src="/assets/img/web/common/nav/nav_stageup.png"></a></li>
        <li><a routerLink="/web/friend/list"><img alt="" src="/assets/img/web/common/nav/nav_friend.png"></a></li>
        <li><a routerLink="/web/ranking/musicHighScore"><img alt="" src="/assets/img/web/common/nav/nav_ranking.png"></a></li>
        <li><a routerLink="/web/option"><img alt="" id="option" src="/assets/img/web/common/nav/nav_option.png"></a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
