<div class="collection__nameplate">
    <div class="collection__current-nameplate collection-box">
        <dl>
            <dt>現在の設定</dt>
            <dd style="display: block;">
                <div class="current-icon__icon"><img src="/img/nameplate/211004.png" alt="plate" class=""></div>
            </dd>
        </dl>
    </div>
    <ul class="collection__nameplate-list grid">
        <li class="nameplate_item" data-nameplate_id="211001"><p data-izimodal-open="#modal_nameplate211001">デフォルト</p>
            <div class="nameplate-list__bottom">
                <div class="nameplate-list__rank"><img src="/img/nameplate/211001.png" alt="plate" class=""></div>
                <a class="pa pf" routerLink="/web/plate/index/exec">
                    <div class="nameplate-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="nameplate_item" data-nameplate_id="211004"><p data-izimodal-open="#modal_nameplate211004">リッチ</p>
            <div class="nameplate-list__bottom">
                <div class="nameplate-list__rank"><img src="/img/nameplate/211004.png" alt="plate" class=""></div>
                <a class="pa pf" routerLink="/web/plate/index/exec">
                    <div class="nameplate-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
    </ul>
</div>
