<section class="option">
    <div class="option__setting"><h2 class="option__title">ゲーム設定</h2>
        <ul class="option__select">
            <li class="second__index"><a routerLink="/web/option/noteSpeed">
                <div class="select__top">
                    <div class="select__tl">スピード調整</div>
                    <div class="select__right">4.7</div>
                </div>
            </a>
                <div class="select__bottom">ノーツのスピードを設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/judgeLineTiming">
                <div class="select__top">
                    <div class="select__tl">判定調整設定</div>
                    <div class="select__right">+0.0</div>
                </div>
            </a>
                <div class="select__bottom">入力判定タイミングを設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/mask">
                <div class="select__top">
                    <div class="select__tl">マスク濃度</div>
                    <div class="select__right">濃度+3</div>
                </div>
            </a>
                <div class="select__bottom">マスク濃度を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/movie">
                <div class="select__top">
                    <div class="select__tl">背景動画設定</div>
                    <div class="select__right">毎回確認</div>
                </div>
            </a>
                <div class="select__bottom">プレイ中の背景動画表示を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/bonusNoteEffect">
                <div class="select__top">
                    <div class="select__tl">ボーナス効果</div>
                    <div class="select__right">OFF</div>
                </div>
            </a>
                <div class="select__bottom">ボーナスノーツの効果のON/OFFを設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/mirror">
                <div class="select__top">
                    <div class="select__tl">ミラー設定</div>
                    <div class="select__right">なし</div>
                </div>
            </a>
                <div class="select__bottom">プレイ中のノーツ配置入れ替えを設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/giveup">
                <div class="select__top">
                    <div class="select__tl">ギブアップ設定</div>
                    <div class="select__right">ノータッチ</div>
                </div>
            </a>
                <div class="select__bottom">プレイ中の「途中終了」を設定できます。</div>
            </li>
        </ul>
    </div>
</section>
