<section id="option">
    <article>
        <div><h2><span>タッチエフェクト(ポップ)</span></h2></div>
    </article>
</section>
<section class="collection">
    <div class="contents-wrap">
        <div class="collection__toucheffect">
            <div class="collection__current-toucheffect collection-box">
                <dl>
                    <dt>現在のタッチエフェクト</dt>
                    <dd>
                        <div class="current-toucheffect__icon"><img src="/assets/img/web/touch_effect_pop/312001.png"
                                                                    alt="option" class=""></div>
                        <div class="current-toucheffect__info"><p class="current-toucheffect__name">デフォルト</p></div>
                    </dd>
                </dl>
            </div>
            <ul class="collection__toucheffect-list">
                <li>
                    <div class="toucheffect-list__icon" data-izimodal-open="#modal_touch_effect_confirm312000"><img
                            src="/assets/img/web/touch_effect_pop/312000.png" alt="option" class=""></div>
                    <p class="toucheffect-list__name">OFF</p>
                    <div>
                        <div class="toucheffect-list__bottom">
                            <div class="toucheffect-list__set-btn">
                                <a class="pa pf" routerLink="/web/option/touchEffectPop/exec"><p>SETする</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="toucheffect-list__icon" data-izimodal-open="#modal_touch_effect_confirm312001"><img
                            src="/assets/img/web/touch_effect_pop/312001.png" alt="option" class=""></div>
                    <p class="toucheffect-list__name">デフォルト</p>
                    <div>
                        <div class="toucheffect-list__bottom">
                            <div class="toucheffect-list__set-btn">
                                <a class="pa pf" routerLink="/web/option/touchEffectPop/exec"><p>SETする</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="toucheffect-list__icon" data-izimodal-open="#modal_touch_effect_confirm312002"><img
                            src="/assets/img/web/touch_effect_pop/312002.png" alt="option" class=""></div>
                    <p class="toucheffect-list__name">バブル</p>
                    <div>
                        <div class="toucheffect-list__bottom">
                            <div class="toucheffect-list__set-btn">
                                <a class="pa pf" routerLink="/web/option/touchEffectPop/exec"><p>SETする</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a routerLink="/web/option/designSetting" class="back-btn bold">戻る</a></div>
</section>
