<div class="user-info">
    <div class="user-info__detail user__rating">
        <div class="user-info__detail__wrap">
            <div class="user-info__detail__name">USER_001</div>
            <div class="rating__wrap rating__data__wrap">
                <div class="rating__img"><img alt="rating_icon" class="" src="/assets/img/web/rating/rate_003.png">
                    <div class="rating__data">1613</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="playdata__rate-list rating-list"><h2>レーティング対象曲（WACCA Reverse）</h2>
    <ul class="playdata__rate-list__wrap rating-list__wrap grid new__music__best__grid muuri" style="height: 252px;">
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">炉心融解</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>972521
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(63px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ヒトガタ</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 9+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>993443
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(126px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Chobit Flavor</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 9</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>996501
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(189px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Love Kills U</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 8</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>991648
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <h2>レーティング対象曲（～WACCA Lily R）</h2>
    <ul class="playdata__rate-list__wrap rating-list__wrap grid old__music__best__grid muuri" style="height: 2217px;">
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ナイト・オブ・ナイツ</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>997234
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(63px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">LOVE!HUG!GROOVY!!</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>982392
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(126px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">GRiDGALAXY</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 11</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>993062
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(189px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ベノム</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>986621
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(252px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">illanai-assorted</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>978202
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(315px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Gate One</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>985775
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(378px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">KALACAKLA</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>978121
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(441px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">EU over Progress</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>970492
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(504px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Got more raves?</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 13</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>961962
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(567px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Seyana. ～何でも言うことを聞いてくれるアカネチャン～</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 11+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>981882
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(642px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">BUCHiGiRE Berserker</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 10+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>992063
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(705px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ロキ</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 11</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>985600
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(768px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">FUJIN Rumble</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 10+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>991129
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(831px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Knight Rider</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 13</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>963805
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(894px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Good Night, Bad Luck.</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 10+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>995294
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(957px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ぐるぐるDJ TURN!!</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>969654
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1020px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">君のStarlight Road</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>997409
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1083px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">RAV#GIRL</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>960310
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1146px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Pixel Galaxy</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 10+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>982065
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1209px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ぐるぐるDJ TURN!!</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>1000000
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1272px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ドラマツルギー</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>997797
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1335px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">聖者の鼓動</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>963299
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1398px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">You are the Miserable</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>991087
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1461px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">MEMORiZE</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>991534
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1524px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">While Shining feat.Yukacco</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>960189
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1587px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">初音ミクの消失</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>981013
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1650px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Poseidon</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 9+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>995190
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1713px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">アカリがやってきたぞっ</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 11</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>972712
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1776px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Brain Power</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 9+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>993780
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1839px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">conflict</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>985124
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1902px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">QiXiN MAdN3ss 2153</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 11</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>974697
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1965px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Let you DIVE!</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 11+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>961792
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2028px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">BUCHiGiRE Berserker</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 13+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>944570
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2091px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Gate One</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 9</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>993688
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2154px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Ever Free(Raw Edit)</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>988086
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <h2>レーティング候補曲（WACCA Reverse）</h2>
    <ul class="playdata__rate-list__wrap rating-list__wrap grid new__music__candidate__grid muuri"
        style="height: 0px;"></ul>
    <h2>レーティング候補曲（～WACCA Lily R）</h2>
    <ul class="playdata__rate-list__wrap rating-list__wrap grid old__music__candidate__grid muuri"
        style="height: 654px;">
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">グルーヴ・ザ・ハート</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 12</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>955105
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(63px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">FUJIN Rumble</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 13</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>942874
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(126px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">Seyana. ～何でも言うことを聞いてくれるアカネチャン～</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 9</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>1000000
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(201px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">エイリアンエイリアン</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>978740
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(264px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">マトリョシカ</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>977507
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(327px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ナイト・オブ・ナイツ</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 9</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>992958
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(390px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ルーンファクトリー４スペシャルより「この想いを乗せて」</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 9</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>996364
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(465px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ウミユリ海底譚</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_expert">EXPERT 10</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>974462
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(528px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">illanai-assorted</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 8+</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>990065
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item muuri-item muuri-item-shown"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(591px); display: block;">
            <div style="display: flex; opacity: 1; transform: scale(1);">
                <div class="playdata__rate-list__song-info">
                    <div class="playdata__rate-list__song-info__name">ロキ</div>
                    <div class="song-info__bottom-wrap difficulty__normal is-show">
                        <div class="playdata__rate-list__song-info__lv">
                            <div class="diff_icon_hard">HARD 9</div>
                        </div>
                        <div class="playdata__rate-list__song-info__score"><span class="song-score">SCORE</span>981881
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
