<section class="mission">
    <div class="contents-wrap">
        <div class="mission__bingo">
            <div class="current-sheet-num"><span>2</span>枚目</div>
            <hr>
            <table class="mission__bingo-panel_list">
                <tbody>
                <tr class="mission__bingo-panel_content">
                    <td class="panel" data-index="0"><a data-izimodal-open="#modal"> <img class="level"
                                                                                          src="/assets/img/web/mission/condition_level/1.png">
                        <img class="type " src="/assets/img/web/mission/condition_type/3.png">
                        <div class="gauge mini">
                            <div class="progress-bar" style="width:100%;"></div>
                        </div>
                    </a></td>
                    <td class="panel" data-index="1"><a data-izimodal-open="#modal"> <img class="level"
                                                                                          src="/assets/img/web/mission/condition_level/1.png">
                        <img class="type " src="/assets/img/web/mission/condition_type/4.png">
                        <div class="gauge mini">
                            <div class="progress-bar" style="width:100%;"></div>
                        </div>
                    </a></td>
                    <td class="panel" data-index="2"><a data-izimodal-open="#modal"> <img class="level"
                                                                                          src="/assets/img/web/mission/condition_level/1.png">
                        <img class="type " src="/assets/img/web/mission/condition_type/3.png">
                        <div class="gauge mini">
                            <div class="progress-bar" style="width:100%;"></div>
                        </div>
                    </a></td>
                </tr>
                <tr class="mission__bingo-panel_content">
                    <td class="panel" data-index="3"><a data-izimodal-open="#modal"> <img class="level"
                                                                                          src="/assets/img/web/mission/condition_level/1.png">
                        <img class="type " src="/assets/img/web/mission/condition_type/3.png">
                        <div class="gauge mini">
                            <div class="progress-bar" style="width:0%;"></div>
                        </div>
                    </a></td>
                    <td class="panel" data-index="4"><a data-izimodal-open="#modal"> <img class="level"
                                                                                          src="/assets/img/web/mission/condition_level/1.png">
                        <img class="type " src="/assets/img/web/mission/condition_type/7.png">
                        <div class="gauge mini">
                            <div class="progress-bar" style="width:100%;"></div>
                        </div>
                    </a></td>
                    <td class="panel" data-index="5"><a data-izimodal-open="#modal"> <img class="level"
                                                                                          src="/assets/img/web/mission/condition_level/1.png">
                        <img class="type " src="/assets/img/web/mission/condition_type/7.png">
                        <div class="gauge mini">
                            <div class="progress-bar" style="width:100%;"></div>
                        </div>
                    </a></td>
                </tr>
                <tr class="mission__bingo-panel_content">
                    <td class="panel" data-index="6"><a data-izimodal-open="#modal"> <img class="level"
                                                                                          src="/assets/img/web/mission/condition_level/1.png">
                        <img class="type " src="/assets/img/web/mission/condition_type/5.png">
                        <div class="gauge mini">
                            <div class="progress-bar" style="width:100%;"></div>
                        </div>
                    </a></td>
                    <td class="panel" data-index="7"><a data-izimodal-open="#modal"> <img class="level"
                                                                                          src="/assets/img/web/mission/condition_level/1.png">
                        <img class="type " src="/assets/img/web/mission/condition_type/6.png">
                        <div class="gauge mini">
                            <div class="progress-bar" style="width:100%;"></div>
                        </div>
                    </a></td>
                    <td class="panel" data-index="8"><a data-izimodal-open="#modal"> <img class="level"
                                                                                          src="/assets/img/web/mission/condition_level/1.png">
                        <img class="type " src="/assets/img/web/mission/condition_type/8.png">
                        <div class="gauge mini">
                            <div class="progress-bar" style="width:0%;"></div>
                        </div>
                    </a></td>
                </tr>
                </tbody>
            </table>
            <h2>BINGO BONUS</h2>
            <div class="mission__bingo-reward">
                <div class="mission__bingo-reward__icon"><img src="/assets/img/web/box/item/item_2.png" alt="box_item"
                                                              class=""></div>
                <div class="mission__bingo-reward__detail"><p class="mission__bingo-reward__name">100RP</p>
                    <div class="mission__bingo-reward__bottom">
                        <div class="mission__bingo-reward__num"></div>
                    </div>
                </div>
            </div>
            <h2>ALL CLEAR</h2>
            <div class="mission__bingo-reward">
                <div class="mission__bingo-reward__icon"><img src="/assets/img/web/box/item/item_9.png" alt="box_item"
                                                              class=""></div>
                <div class="mission__bingo-reward__detail"><p class="mission__bingo-reward__name">EXオープンチケット×1</p>
                    <div class="mission__bingo-reward__bottom">
                        <div class="mission__bingo-reward__num"> × 1</div>
                    </div>
                </div>
            </div>
            <h2>MISSION</h2>
            <div class="mission__bingo-list">
                <ul class="mission__bingo-content">
                    <li id="mission__bingo-content_0"><p class="mission__bingo-content__description">
                        楽曲をお気に入りに登録する </p>
                        <div class="mission__bingo-content__bottom">
                            <div class="gauge content">
                                <div class="progress-bar" style="width:100%;"></div>
                                <div class="progress"> 1 / 1</div>
                            </div>
                        </div>
                    </li>
                    <li id="mission__bingo-content_1"><p class="mission__bingo-content__description">
                        難易度NORMALの曲を3回クリア </p>
                        <div class="mission__bingo-content__bottom">
                            <div class="gauge content">
                                <div class="progress-bar" style="width:100%;"></div>
                                <div class="progress"> 3 / 3</div>
                            </div>
                        </div>
                    </li>
                    <li id="mission__bingo-content_2"><p class="mission__bingo-content__description">
                        プレートを変更してプレイする </p>
                        <div class="mission__bingo-content__bottom">
                            <div class="gauge content">
                                <div class="progress-bar" style="width:100%;"></div>
                                <div class="progress"> 1 / 1</div>
                            </div>
                        </div>
                    </li>
                    <li id="mission__bingo-content_3"><p class="mission__bingo-content__description">
                        ナビゲーターを変更してプレイする </p>
                        <div class="mission__bingo-content__bottom">
                            <div class="gauge content">
                                <div class="progress-bar" style="width:0%;"></div>
                                <div class="progress"> 0 / 1</div>
                            </div>
                        </div>
                    </li>
                    <li id="mission__bingo-content_4"><p class="mission__bingo-content__description">
                        アイコンを3個獲得する </p>
                        <div class="mission__bingo-content__bottom">
                            <div class="gauge content">
                                <div class="progress-bar" style="width:100%;"></div>
                                <div class="progress"> 3 / 3</div>
                            </div>
                        </div>
                    </li>
                    <li id="mission__bingo-content_5"><p class="mission__bingo-content__description">
                        称号を3個獲得する </p>
                        <div class="mission__bingo-content__bottom">
                            <div class="gauge content">
                                <div class="progress-bar" style="width:100%;"></div>
                                <div class="progress"> 3 / 3</div>
                            </div>
                        </div>
                    </li>
                    <li id="mission__bingo-content_6"><p class="mission__bingo-content__description">
                        累計1000RP獲得する </p>
                        <div class="mission__bingo-content__bottom">
                            <div class="gauge content">
                                <div class="progress-bar" style="width:100%;"></div>
                                <div class="progress"> 1000 / 1000</div>
                            </div>
                        </div>
                    </li>
                    <li id="mission__bingo-content_7"><p class="mission__bingo-content__description">
                        楽曲プレイの累計スコア2500000達成 </p>
                        <div class="mission__bingo-content__bottom">
                            <div class="gauge content">
                                <div class="progress-bar" style="width:100%;"></div>
                                <div class="progress"> 2500000 / 2500000</div>
                            </div>
                        </div>
                    </li>
                    <li id="mission__bingo-content_8"><p class="mission__bingo-content__description">
                        ステージアップに挑戦する </p>
                        <div class="mission__bingo-content__bottom">
                            <div class="gauge content">
                                <div class="progress-bar" style="width:0%;"></div>
                                <div class="progress"> 0 / 1</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
