<section id="option">
    <article>
        <div><h2><span>マスク濃度</span></h2>
            <div class="article"><p class="top_description">マスク濃度を設定できます。</p>
                <div class="option_image_select">
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>マスク無し</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/mask/0.png" alt="mask" class="">
                        </div>
                        <input type="hidden" id="option_value" name="option_value" value="0"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>濃度+1</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/mask/1.png" alt="mask" class="">
                        </div>
                        <input type="hidden" id="option_value" name="option_value" value="1"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>濃度+2</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/mask/2.png" alt="mask" class="">
                        </div>
                        <input type="hidden" id="option_value" name="option_value" value="2"></div>
                    <div class="option_image_select_content  selected ">
                        <div class="option_image_select_value"><p>濃度+3</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/mask/3.png" alt="mask" class="">
                        </div>
                        <input type="hidden" id="option_value" name="option_value" value="3"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>濃度+4</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/mask/4.png" alt="mask" class="">
                        </div>
                        <input type="hidden" id="option_value" name="option_value" value="4"></div>
                </div>
                <a class="btn option_confirm" data-izimodal-open="#modal_option_confirm">変更する</a> <a
                        routerLink="/web/option/gameSetting" class="back-btn bold">戻る</a></div><!-- /article -->
        </div>
    </article>
</section>
