<div class="ranking-detail-top">
    <div class="ranking-detail-top__song-icon"><img src="/img/music/3062.png" alt="music" class=""></div>
    <div class="ranking-detaill-top__song-info">
        <div class="song-info">
            <div class="song-info__name">Möbius</div>
            <div class="song-info__artist">USAO &amp; Camellia</div>
        </div>
        <a class="pa song-info__detail-btn" routerLink="/web/music/detail">スコア詳細</a>
    </div>
</div>
<div class="ranking__difficulty">
    <ul class="ranking__difficulty__wrap">
        <li id="isNormal" class="difficulty__btn difficulty__btn-normal ">
            <a class="pa mode_n" routerLink="/web/ranking/musicHighScore/detail"><img src="/assets/img/web/play_data/btntx_normal.png"
                                                                              height="8"></a>
        </li>
        <li id="isHard" class="difficulty__btn difficulty__btn-hard ">
            <a class="pa mode_h" routerLink="/web/ranking/musicHighScore/detail"><img src="/assets/img/web/play_data/btntx_hard.png"
                                                                              height="8"></a>
        </li>
        <li id="isExpert" class="difficulty__btn difficulty__btn-expert ">
            <a class="pa mode_ex" routerLink="/web/ranking/musicHighScore/detail"><img src="/assets/img/web/play_data/btntx_expert.png"
                                                                              height="8"></a>
        </li>
        <li id="isInferno" class="difficulty__btn difficulty__btn-inferno  active ">
            <a class="pa mode_inf" routerLink="/web/ranking/musicHighScore/detail"><img src="/assets/img/web/play_data/btntx_inferno.png"
                                                                              height="8"></a>
        </li>
    </ul>
</div>
<div class="ranking__score">
    <div class="ranking__score__rank top-rank">-位</div>
    <div class="ranking__score__name">USER_001</div>
    <div class="ranking__score__score"><span>SCORE</span><br>-</div>
</div>
<div class="nw-ranking"><h2>全国ランキング</h2>
    <ul class="nw-ranking-wrap">
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">Satomai</div>
            <div class="nw-ranking__score__score"><span>2022/05/27</span><br>1000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-2nd"><img src="/assets/img/web/ranking/icon-2nd.png" height="22"></div>
            <div class="nw-ranking__score__name">SiRen-HZ</div>
            <div class="nw-ranking__score__score"><span>2022/06/28</span><br>993012</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-3rd"><img src="/assets/img/web/ranking/icon-3rd.png" height="22"></div>
            <div class="nw-ranking__score__name">UtsuLie</div>
            <div class="nw-ranking__score__score"><span>2022/06/01</span><br>990781</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">4<span>位</span></div>
            <div class="nw-ranking__score__name">I+i</div>
            <div class="nw-ranking__score__score"><span>2022/05/01</span><br>990487</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">5<span>位</span></div>
            <div class="nw-ranking__score__name">Negitoro</div>
            <div class="nw-ranking__score__score"><span>2022/08/07</span><br>989665</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">6<span>位</span></div>
            <div class="nw-ranking__score__name">Paly_4</div>
            <div class="nw-ranking__score__score"><span>2022/06/18</span><br>988726</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">7<span>位</span></div>
            <div class="nw-ranking__score__name">Nayu*sq</div>
            <div class="nw-ranking__score__score"><span>2022/04/27</span><br>988256</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">8<span>位</span></div>
            <div class="nw-ranking__score__name">Zirkfied</div>
            <div class="nw-ranking__score__score"><span>2022/06/05</span><br>988197</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">9<span>位</span></div>
            <div class="nw-ranking__score__name">BOY &amp;</div>
            <div class="nw-ranking__score__score"><span>2022/05/15</span><br>987434</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">10<span>位</span></div>
            <div class="nw-ranking__score__name">Ryota*LB</div>
            <div class="nw-ranking__score__score"><span>2022/05/20</span><br>987199</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">11<span>位</span></div>
            <div class="nw-ranking__score__name">VER3</div>
            <div class="nw-ranking__score__score"><span>2022/05/03</span><br>985555</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">12<span>位</span></div>
            <div class="nw-ranking__score__name">GUMAE</div>
            <div class="nw-ranking__score__score"><span>2022/05/11</span><br>985320</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">13<span>位</span></div>
            <div class="nw-ranking__score__name">Karyl*RB</div>
            <div class="nw-ranking__score__score"><span>2022/05/07</span><br>984733</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">14<span>位</span></div>
            <div class="nw-ranking__score__name">XENOViA</div>
            <div class="nw-ranking__score__score"><span>2022/05/19</span><br>984204</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">15<span>位</span></div>
            <div class="nw-ranking__score__name">YZ.4241</div>
            <div class="nw-ranking__score__score"><span>2022/06/18</span><br>984087</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">16<span>位</span></div>
            <div class="nw-ranking__score__name">EX4m-19</div>
            <div class="nw-ranking__score__score"><span>2022/05/17</span><br>983735</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">17<span>位</span></div>
            <div class="nw-ranking__score__name">Sunahara</div>
            <div class="nw-ranking__score__score"><span>2022/05/04</span><br>981973</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">18<span>位</span></div>
            <div class="nw-ranking__score__name">OmochaJK</div>
            <div class="nw-ranking__score__score"><span>2022/06/01</span><br>981445</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">19<span>位</span></div>
            <div class="nw-ranking__score__name">ATM</div>
            <div class="nw-ranking__score__score"><span>2022/06/27</span><br>981386</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">20<span>位</span></div>
            <div class="nw-ranking__score__name">Ballkey</div>
            <div class="nw-ranking__score__score"><span>2022/04/29</span><br>980564</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">21<span>位</span></div>
            <div class="nw-ranking__score__name">Soahc@NN</div>
            <div class="nw-ranking__score__score"><span>2022/04/27</span><br>980446</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">22<span>位</span></div>
            <div class="nw-ranking__score__name">ANTIQUA</div>
            <div class="nw-ranking__score__score"><span>2022/06/23</span><br>979977</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">23<span>位</span></div>
            <div class="nw-ranking__score__name">ARMEN</div>
            <div class="nw-ranking__score__score"><span>2022/07/06</span><br>979742</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">24<span>位</span></div>
            <div class="nw-ranking__score__name">NB1RS</div>
            <div class="nw-ranking__score__score"><span>2022/06/23</span><br>978332</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">25<span>位</span></div>
            <div class="nw-ranking__score__name">A</div>
            <div class="nw-ranking__score__score"><span>2022/05/03</span><br>977628</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">26<span>位</span></div>
            <div class="nw-ranking__score__name">February</div>
            <div class="nw-ranking__score__score"><span>2022/06/08</span><br>977452</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">27<span>位</span></div>
            <div class="nw-ranking__score__name">Mu211c</div>
            <div class="nw-ranking__score__score"><span>2022/08/11</span><br>977041</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">28<span>位</span></div>
            <div class="nw-ranking__score__name">Nag@re*</div>
            <div class="nw-ranking__score__score"><span>2022/06/16</span><br>974985</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">29<span>位</span></div>
            <div class="nw-ranking__score__name">M@njRoto</div>
            <div class="nw-ranking__score__score"><span>2022/05/26</span><br>973928</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">30<span>位</span></div>
            <div class="nw-ranking__score__name">Pere</div>
            <div class="nw-ranking__score__score"><span>2022/05/03</span><br>973870</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">31<span>位</span></div>
            <div class="nw-ranking__score__name">REI</div>
            <div class="nw-ranking__score__score"><span>2022/04/29</span><br>972754</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">32<span>位</span></div>
            <div class="nw-ranking__score__name">- TaKO -</div>
            <div class="nw-ranking__score__score"><span>2022/04/30</span><br>972460</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">33<span>位</span></div>
            <div class="nw-ranking__score__name">CcHK</div>
            <div class="nw-ranking__score__score"><span>2022/05/14</span><br>972225</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">34<span>位</span></div>
            <div class="nw-ranking__score__name">SURAPON</div>
            <div class="nw-ranking__score__score"><span>2022/05/15</span><br>971873</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">35<span>位</span></div>
            <div class="nw-ranking__score__name">EBISIMA</div>
            <div class="nw-ranking__score__score"><span>2022/05/02</span><br>971462</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">36<span>位</span></div>
            <div class="nw-ranking__score__name">MS1341</div>
            <div class="nw-ranking__score__score"><span>2022/05/06</span><br>970112</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">37<span>位</span></div>
            <div class="nw-ranking__score__name">10MARI*M</div>
            <div class="nw-ranking__score__score"><span>2022/05/02</span><br>969994</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">38<span>位</span></div>
            <div class="nw-ranking__score__name">suisei.H</div>
            <div class="nw-ranking__score__score"><span>2022/05/04</span><br>969935</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">39<span>位</span></div>
            <div class="nw-ranking__score__name">Mv.SEILU</div>
            <div class="nw-ranking__score__score"><span>2022/07/31</span><br>963300</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">40<span>位</span></div>
            <div class="nw-ranking__score__name">sasyu*sq</div>
            <div class="nw-ranking__score__score"><span>2022/04/27</span><br>963183</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">41<span>位</span></div>
            <div class="nw-ranking__score__name">HIKAGE</div>
            <div class="nw-ranking__score__score"><span>2022/08/11</span><br>962184</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">42<span>位</span></div>
            <div class="nw-ranking__score__name">JIMO5487</div>
            <div class="nw-ranking__score__score"><span>2022/05/25</span><br>962067</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">43<span>位</span></div>
            <div class="nw-ranking__score__name">JTR</div>
            <div class="nw-ranking__score__score"><span>2022/05/09</span><br>961891</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">44<span>位</span></div>
            <div class="nw-ranking__score__name">Uri</div>
            <div class="nw-ranking__score__score"><span>2022/05/29</span><br>961480</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">45<span>位</span></div>
            <div class="nw-ranking__score__name">MONA_o.O</div>
            <div class="nw-ranking__score__score"><span>2022/06/21</span><br>960951</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">45<span>位</span></div>
            <div class="nw-ranking__score__name">SKG</div>
            <div class="nw-ranking__score__score"><span>2022/07/21</span><br>960951</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">47<span>位</span></div>
            <div class="nw-ranking__score__name">DEX</div>
            <div class="nw-ranking__score__score"><span>2022/08/27</span><br>960834</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">48<span>位</span></div>
            <div class="nw-ranking__score__name">ZN</div>
            <div class="nw-ranking__score__score"><span>2022/08/08</span><br>960423</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">49<span>位</span></div>
            <div class="nw-ranking__score__name">pepe*LB</div>
            <div class="nw-ranking__score__score"><span>2022/08/28</span><br>959601</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">50<span>位</span></div>
            <div class="nw-ranking__score__name">Ivy</div>
            <div class="nw-ranking__score__score"><span>2022/08/25</span><br>959483</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">51<span>位</span></div>
            <div class="nw-ranking__score__name">Feng-yin</div>
            <div class="nw-ranking__score__score"><span>2022/05/01</span><br>959248</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">52<span>位</span></div>
            <div class="nw-ranking__score__name">NaH</div>
            <div class="nw-ranking__score__score"><span>2022/06/26</span><br>958837</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">53<span>位</span></div>
            <div class="nw-ranking__score__name">HarukaSF</div>
            <div class="nw-ranking__score__score"><span>2022/05/04</span><br>958309</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">54<span>位</span></div>
            <div class="nw-ranking__score__name">GUEST</div>
            <div class="nw-ranking__score__score"><span>2022/07/29</span><br>957780</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">55<span>位</span></div>
            <div class="nw-ranking__score__name">*erie*</div>
            <div class="nw-ranking__score__score"><span>2022/08/20</span><br>957135</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">56<span>位</span></div>
            <div class="nw-ranking__score__name">Lapriere</div>
            <div class="nw-ranking__score__score"><span>2022/05/05</span><br>957017</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">57<span>位</span></div>
            <div class="nw-ranking__score__name">HRSHOW</div>
            <div class="nw-ranking__score__score"><span>2022/08/22</span><br>956312</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">58<span>位</span></div>
            <div class="nw-ranking__score__name">ThrZer3O</div>
            <div class="nw-ranking__score__score"><span>2022/07/26</span><br>956254</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">59<span>位</span></div>
            <div class="nw-ranking__score__name">Achu</div>
            <div class="nw-ranking__score__score"><span>2022/06/05</span><br>956195</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">59<span>位</span></div>
            <div class="nw-ranking__score__name">N3</div>
            <div class="nw-ranking__score__score"><span>2022/08/21</span><br>956195</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">61<span>位</span></div>
            <div class="nw-ranking__score__name">Blue</div>
            <div class="nw-ranking__score__score"><span>2022/08/29</span><br>955784</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">62<span>位</span></div>
            <div class="nw-ranking__score__name">Amicom</div>
            <div class="nw-ranking__score__score"><span>2022/06/09</span><br>955373</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">63<span>位</span></div>
            <div class="nw-ranking__score__name">GENSO*99</div>
            <div class="nw-ranking__score__score"><span>2022/06/19</span><br>954786</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">64<span>位</span></div>
            <div class="nw-ranking__score__name">AKARIN</div>
            <div class="nw-ranking__score__score"><span>2022/06/28</span><br>954727</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">65<span>位</span></div>
            <div class="nw-ranking__score__name">KOTAN*sq</div>
            <div class="nw-ranking__score__score"><span>2022/04/27</span><br>954140</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">66<span>位</span></div>
            <div class="nw-ranking__score__name">KoroGi</div>
            <div class="nw-ranking__score__score"><span>2022/04/27</span><br>954081</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">66<span>位</span></div>
            <div class="nw-ranking__score__name"> S ABA</div>
            <div class="nw-ranking__score__score"><span>2022/05/05</span><br>954081</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">68<span>位</span></div>
            <div class="nw-ranking__score__name">SENN_ROW</div>
            <div class="nw-ranking__score__score"><span>2022/06/18</span><br>953494</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">69<span>位</span></div>
            <div class="nw-ranking__score__name">AEON</div>
            <div class="nw-ranking__score__score"><span>2022/08/14</span><br>952731</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">70<span>位</span></div>
            <div class="nw-ranking__score__name">ought to</div>
            <div class="nw-ranking__score__score"><span>2022/05/27</span><br>952554</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">71<span>位</span></div>
            <div class="nw-ranking__score__name">pe</div>
            <div class="nw-ranking__score__score"><span>2022/05/15</span><br>952026</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">72<span>位</span></div>
            <div class="nw-ranking__score__name">KURO</div>
            <div class="nw-ranking__score__score"><span>2022/05/29</span><br>951967</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">72<span>位</span></div>
            <div class="nw-ranking__score__name">C</div>
            <div class="nw-ranking__score__score"><span>2022/06/22</span><br>951967</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">74<span>位</span></div>
            <div class="nw-ranking__score__name">Pul...?</div>
            <div class="nw-ranking__score__score"><span>2022/06/01</span><br>951615</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">75<span>位</span></div>
            <div class="nw-ranking__score__name">tamagon</div>
            <div class="nw-ranking__score__score"><span>2022/05/02</span><br>951439</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">76<span>位</span></div>
            <div class="nw-ranking__score__name">TOH</div>
            <div class="nw-ranking__score__score"><span>2022/05/25</span><br>951263</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">77<span>位</span></div>
            <div class="nw-ranking__score__name">?</div>
            <div class="nw-ranking__score__score"><span>2022/05/22</span><br>951086</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">78<span>位</span></div>
            <div class="nw-ranking__score__name">sasurai</div>
            <div class="nw-ranking__score__score"><span>2022/06/25</span><br>950793</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">79<span>位</span></div>
            <div class="nw-ranking__score__name">9chibue</div>
            <div class="nw-ranking__score__score"><span>2022/08/19</span><br>950617</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">80<span>位</span></div>
            <div class="nw-ranking__score__name">REUSU</div>
            <div class="nw-ranking__score__score"><span>2022/05/15</span><br>950088</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">81<span>位</span></div>
            <div class="nw-ranking__score__name">W</div>
            <div class="nw-ranking__score__score"><span>2022/07/30</span><br>949442</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">82<span>位</span></div>
            <div class="nw-ranking__score__name">REMIRIA</div>
            <div class="nw-ranking__score__score"><span>2022/05/16</span><br>948033</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">83<span>位</span></div>
            <div class="nw-ranking__score__name">LastDIVE</div>
            <div class="nw-ranking__score__score"><span>2022/04/29</span><br>947152</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">84<span>位</span></div>
            <div class="nw-ranking__score__name">GL.nokai</div>
            <div class="nw-ranking__score__score"><span>2022/04/28</span><br>947093</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">85<span>位</span></div>
            <div class="nw-ranking__score__name">TACTIPOP</div>
            <div class="nw-ranking__score__score"><span>2022/05/26</span><br>947035</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">86<span>位</span></div>
            <div class="nw-ranking__score__name">*Yuzu</div>
            <div class="nw-ranking__score__score"><span>2022/06/01</span><br>946624</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">87<span>位</span></div>
            <div class="nw-ranking__score__name">Da-RiN</div>
            <div class="nw-ranking__score__score"><span>2022/06/25</span><br>946271</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">88<span>位</span></div>
            <div class="nw-ranking__score__name">*Yone*</div>
            <div class="nw-ranking__score__score"><span>2022/05/28</span><br>945919</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">89<span>位</span></div>
            <div class="nw-ranking__score__name">BAMBOO3</div>
            <div class="nw-ranking__score__score"><span>2022/05/02</span><br>945802</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">90<span>位</span></div>
            <div class="nw-ranking__score__name">DALIND</div>
            <div class="nw-ranking__score__score"><span>2022/06/24</span><br>944510</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">91<span>位</span></div>
            <div class="nw-ranking__score__name">*Ibih</div>
            <div class="nw-ranking__score__score"><span>2022/08/27</span><br>944216</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">92<span>位</span></div>
            <div class="nw-ranking__score__name">B_song</div>
            <div class="nw-ranking__score__score"><span>2022/04/29</span><br>944040</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">93<span>位</span></div>
            <div class="nw-ranking__score__name">TNRs42+i</div>
            <div class="nw-ranking__score__score"><span>2022/08/02</span><br>943981</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">94<span>位</span></div>
            <div class="nw-ranking__score__name">Nitro</div>
            <div class="nw-ranking__score__score"><span>2022/08/27</span><br>943864</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">94<span>位</span></div>
            <div class="nw-ranking__score__name">WKMIKAWA</div>
            <div class="nw-ranking__score__score"><span>2022/08/29</span><br>943864</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">96<span>位</span></div>
            <div class="nw-ranking__score__name">YOSHI</div>
            <div class="nw-ranking__score__score"><span>2022/05/22</span><br>943453</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">96<span>位</span></div>
            <div class="nw-ranking__score__name">Ctm*kwus</div>
            <div class="nw-ranking__score__score"><span>2022/05/26</span><br>943453</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">96<span>位</span></div>
            <div class="nw-ranking__score__name">POLKA_CH</div>
            <div class="nw-ranking__score__score"><span>2022/07/17</span><br>943453</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">99<span>位</span></div>
            <div class="nw-ranking__score__name">goma</div>
            <div class="nw-ranking__score__score"><span>2022/05/03</span><br>943277</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">100<span>位</span></div>
            <div class="nw-ranking__score__name">RBkogkog</div>
            <div class="nw-ranking__score__score"><span>2022/08/29</span><br>943159</div>
        </li>
    </ul>
</div>
