<section class="stageup"><h2><img src="/assets/img/web/stage/stageup_title.png" width="100%"></h2>
    <ul class="stageup__list">
        <a
                class="stageup__list__link" routerLink="/web/stageup/detail" value="1004">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">BOSS Re:MIX Vol.1</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="1005">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">BOSS Re:MIX Vol.2</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="1006">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">BOSS Re:MIX Vol.3</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="1001">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">SPURT Re:MIX Vol.1</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="1002">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">SPURT Re:MIX Vol.2</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="1003">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">SPURT Re:MIX Vol.3</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="1">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">ステージI</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="2">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">ステージII</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="3">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">ステージIII</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="4">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">ステージIV</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="5">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">ステージV</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="6">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">ステージVI</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="7">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">ステージVII</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="8">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">ステージVIII</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="9">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">ステージIX</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a> <a class="stageup__list__link" routerLink="/web/stageup/detail" value="10">
            <li class="stageup__list__top">
                <div class="stageup__list__top__course-info">
                    <div class="stageup__list__top__name">ステージX</div>
                    <div class="stageup__list__top__score"><span class="song-score">SCORE</span>0</div>
                </div>
                <div class="stageup__list__course-icon"></div>
            </li>
        </a>
    </ul>
</section>
