<section class="box is-load">
    <div class="box__cap"><img src="/assets/img/web/box/top_image/box_25011.png" alt="box_top_image" class=""></div>
    <div class="box__box">
        <div class="box__block">
            <div class="box__bg">
                <div class="box__bg-grade"></div>
                <div class="box__bg-img box__bg-img--1"></div>
                <div class="box__bg-cover"></div>
                <div class="box__bg-img box__bg-img--2"></div>
            </div>
            <div class="box__main">
                <ul class="box__ul">
                    <li class="box__li">
                        <div class="box__img_multi">
                            <div class="box__img-main"><img src="/assets/img/web/box/item/item_5.png" alt="box_item"
                                                            class="">
                                <div class="box__img-effect"><img src="/assets/img/web/box/item/item_5.png"
                                                                  alt="box_item"
                                                                  class=""></div>
                            </div>
                            <div class="box__new"><img src="/assets/img/web/box/new.png" alt=""></div>
                        </div>
                        <input type="hidden" class="item_output_num" value="1"> <input type="hidden"
                                                                                       class="item_category"
                                                                                       value="称号"> <input
                            type="hidden" class="item_rarity" value="2"> <input type="hidden" class="item_name"
                                                                                value="花見のはる"></li>
                    <li class="box__li">
                        <div class="box__img_multi">
                            <div class="box__img-main"><img src="/assets/img/web/box/item/item_5.png" alt="box_item"
                                                            class="">
                                <div class="box__img-effect"><img src="/assets/img/web/box/item/item_5.png"
                                                                  alt="box_item"
                                                                  class=""></div>
                            </div>
                            <div class="box__new"><img src="/assets/img/web/box/new.png" alt=""></div>
                        </div>
                        <input type="hidden" class="item_output_num" value="1"> <input type="hidden"
                                                                                       class="item_category"
                                                                                       value="称号"> <input
                            type="hidden" class="item_rarity" value="2"> <input type="hidden" class="item_name"
                                                                                value="わたしはあなたが好き"></li>
                    <li class="box__li">
                        <div class="box__img_multi">
                            <div class="box__img-main"><img src="/img/icon/202071.png" alt="icon" class="">
                                <div class="box__img-effect"><img src="/img/icon/202071.png" alt="icon" class=""></div>
                            </div>
                            <div class="box__new"><img src="/assets/img/web/box/new.png" alt=""></div>
                        </div>
                        <input type="hidden" class="item_output_num" value="1"> <input type="hidden"
                                                                                       class="item_category"
                                                                                       value="アイコン"> <input
                            type="hidden" class="item_rarity" value="2"> <input type="hidden" class="item_name"
                                                                                value="無名"></li>
                    <li class="box__li">
                        <div class="box__img_multi">
                            <div class="box__img-main"><img src="/assets/img/web/box/item/item_5.png" alt="box_item"
                                                            class="">
                                <div class="box__img-effect"><img src="/assets/img/web/box/item/item_5.png"
                                                                  alt="box_item"
                                                                  class=""></div>
                            </div>
                            <div class="box__new"><img src="/assets/img/web/box/new.png" alt=""></div>
                        </div>
                        <input type="hidden" class="item_output_num" value="1"> <input type="hidden"
                                                                                       class="item_category"
                                                                                       value="称号"> <input
                            type="hidden" class="item_rarity" value="2"> <input type="hidden" class="item_name"
                                                                                value="クールなふゆ"></li>
                    <li class="box__li">
                        <div class="box__img_multi">
                            <div class="box__img-main"><img src="/assets/img/web/box/item/item_5.png" alt="box_item"
                                                            class="">
                                <div class="box__img-effect"><img src="/assets/img/web/box/item/item_5.png"
                                                                  alt="box_item"
                                                                  class=""></div>
                            </div>
                            <div class="box__new"><img src="/assets/img/web/box/new.png" alt=""></div>
                        </div>
                        <input type="hidden" class="item_output_num" value="1"> <input type="hidden"
                                                                                       class="item_category"
                                                                                       value="称号"> <input
                            type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                                value="偉大な先人"></li>
                    <li class="box__li">
                        <div class="box__img_multi">
                            <div class="box__img-main"><img src="/assets/img/web/box/item/item_5.png" alt="box_item"
                                                            class="">
                                <div class="box__img-effect"><img src="/assets/img/web/box/item/item_5.png"
                                                                  alt="box_item"
                                                                  class=""></div>
                            </div>
                            <div class="box__new"><img src="/assets/img/web/box/new.png" alt=""></div>
                        </div>
                        <input type="hidden" class="item_output_num" value="1"> <input type="hidden"
                                                                                       class="item_category"
                                                                                       value="称号"> <input
                            type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                                value="お年玉！！"></li>
                    <li class="box__li">
                        <div class="box__img_multi">
                            <div class="box__img-main"><img src="/assets/img/web/box/item/item_5.png" alt="box_item"
                                                            class="">
                                <div class="box__img-effect"><img src="/assets/img/web/box/item/item_5.png"
                                                                  alt="box_item"
                                                                  class=""></div>
                            </div>
                            <div class="box__new"><img src="/assets/img/web/box/new.png" alt=""></div>
                        </div>
                        <input type="hidden" class="item_output_num" value="1"> <input type="hidden"
                                                                                       class="item_category"
                                                                                       value="称号"> <input
                            type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                                value="4時間で余裕でした"></li>
                    <li class="box__li">
                        <div class="box__img_multi">
                            <div class="box__img-main"><img src="/assets/img/web/box/item/item_5.png" alt="box_item"
                                                            class="">
                                <div class="box__img-effect"><img src="/assets/img/web/box/item/item_5.png"
                                                                  alt="box_item"
                                                                  class=""></div>
                            </div>
                            <div class="box__new"><img src="/assets/img/web/box/new.png" alt=""></div>
                        </div>
                        <input type="hidden" class="item_output_num" value="1"> <input type="hidden"
                                                                                       class="item_category"
                                                                                       value="称号"> <input
                            type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                                value="うそはうそであると見抜ける人でないと(ＷＡＣＣＡを使うのは)難しい">
                    </li>
                    <li class="box__li">
                        <div class="box__img_multi">
                            <div class="box__img-main"><img src="/assets/img/web/box/item/item_5.png" alt="box_item"
                                                            class="">
                                <div class="box__img-effect"><img src="/assets/img/web/box/item/item_5.png"
                                                                  alt="box_item"
                                                                  class=""></div>
                            </div>
                            <div class="box__new"><img src="/assets/img/web/box/new.png" alt=""></div>
                        </div>
                        <input type="hidden" class="item_output_num" value="1"> <input type="hidden"
                                                                                       class="item_category"
                                                                                       value="称号"> <input
                            type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                                value="チョコなどいらん！"></li>
                    <li class="box__li">
                        <div class="box__img_multi">
                            <div class="box__img-main"><img src="/assets/img/web/box/item/item_5.png" alt="box_item"
                                                            class="">
                                <div class="box__img-effect"><img src="/assets/img/web/box/item/item_5.png"
                                                                  alt="box_item"
                                                                  class=""></div>
                            </div>
                            <div class="box__new"><img src="/assets/img/web/box/new.png" alt=""></div>
                        </div>
                        <input type="hidden" class="item_output_num" value="1"> <input type="hidden"
                                                                                       class="item_category"
                                                                                       value="称号"> <input
                            type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                                value="許すななんて言えない"></li>
                </ul>
            </div>
            <div class="box__border box__border--top"></div>
            <div class="box__border box__border--right"></div>
            <div class="box__border box__border--bottom"></div>
            <div class="box__border box__border--left"></div>
        </div>
    </div>
    <p id="result_message" class="box__shortage"></p>
    <div class="box__box_result">
        <div class="box_draw_multi_items"><h2>獲得アイテム一覧</h2>
            <ul>
                <li class="draw_item"><span class="item_image"><img src="/assets/img/web/box/item/item_5.png"
                                                                    alt="box_item"
                                                                    class=""></span> <span class="rarity_image"><img
                        src="/img/trophy/silver.png" alt="trophySilver" class="img__rarity"></span> <span
                        class="disp_item_name">花見のはる</span> <span class="output_num">累計獲得数: <span
                        class="output_count">1</span></span> <input type="hidden" class="item_category" value="称号">
                    <input type="hidden" class="item_rarity" value="2"> <input type="hidden" class="item_name"
                                                                               value="花見のはる"></li>
                <li class="draw_item"><span class="item_image"><img src="/assets/img/web/box/item/item_5.png"
                                                                    alt="box_item"
                                                                    class=""></span> <span class="rarity_image"><img
                        src="/img/trophy/silver.png" alt="trophySilver" class="img__rarity"></span> <span
                        class="disp_item_name">わたしはあなたが好き</span> <span class="output_num">累計獲得数: <span
                        class="output_count">1</span></span> <input type="hidden" class="item_category" value="称号">
                    <input type="hidden" class="item_rarity" value="2"> <input type="hidden" class="item_name"
                                                                               value="わたしはあなたが好き"></li>
                <li class="draw_item"><span class="item_image"><img src="/img/icon/202071.png" alt="icon"
                                                                    class=""></span> <span class="rarity_image"><img
                        src="/img/trophy/silver.png" alt="trophySilver" class="img__rarity"></span> <span
                        class="disp_item_name">無名</span> <span class="output_num">累計獲得数: <span
                        class="output_count">1</span></span> <input type="hidden" class="item_category" value="アイコン">
                    <input type="hidden" class="item_rarity" value="2"> <input type="hidden" class="item_name"
                                                                               value="無名"></li>
                <li class="draw_item"><span class="item_image"><img src="/assets/img/web/box/item/item_5.png"
                                                                    alt="box_item"
                                                                    class=""></span> <span class="rarity_image"><img
                        src="/img/trophy/silver.png" alt="trophySilver" class="img__rarity"></span> <span
                        class="disp_item_name">クールなふゆ</span> <span class="output_num">累計獲得数: <span
                        class="output_count">1</span></span> <input type="hidden" class="item_category" value="称号">
                    <input type="hidden" class="item_rarity" value="2"> <input type="hidden" class="item_name"
                                                                               value="クールなふゆ"></li>
                <li class="draw_item"><span class="item_image"><img src="/assets/img/web/box/item/item_5.png"
                                                                    alt="box_item"
                                                                    class=""></span> <span class="rarity_image"><img
                        src="/img/trophy/bronze.png" alt="trophyBronze" class="img__rarity"></span> <span
                        class="disp_item_name">偉大な先人</span> <span class="output_num">累計獲得数: <span
                        class="output_count">1</span></span> <input type="hidden" class="item_category" value="称号">
                    <input type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                               value="偉大な先人"></li>
                <li class="draw_item"><span class="item_image"><img src="/assets/img/web/box/item/item_5.png"
                                                                    alt="box_item"
                                                                    class=""></span> <span class="rarity_image"><img
                        src="/img/trophy/bronze.png" alt="trophyBronze" class="img__rarity"></span> <span
                        class="disp_item_name">お年玉！！</span> <span class="output_num">累計獲得数: <span
                        class="output_count">1</span></span> <input type="hidden" class="item_category" value="称号">
                    <input type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                               value="お年玉！！"></li>
                <li class="draw_item"><span class="item_image"><img src="/assets/img/web/box/item/item_5.png"
                                                                    alt="box_item"
                                                                    class=""></span> <span class="rarity_image"><img
                        src="/img/trophy/bronze.png" alt="trophyBronze" class="img__rarity"></span> <span
                        class="disp_item_name">4時間で余裕でした</span> <span class="output_num">累計獲得数: <span
                        class="output_count">1</span></span> <input type="hidden" class="item_category" value="称号">
                    <input type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                               value="4時間で余裕でした"></li>
                <li class="draw_item"><span class="item_image"><img src="/assets/img/web/box/item/item_5.png"
                                                                    alt="box_item"
                                                                    class=""></span> <span class="rarity_image"><img
                        src="/img/trophy/bronze.png" alt="trophyBronze" class="img__rarity"></span> <span
                        class="disp_item_name">うそはうそであると見抜け...</span> <span class="output_num">累計獲得数: <span
                        class="output_count">1</span></span> <input type="hidden" class="item_category" value="称号">
                    <input type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                               value="うそはうそであると見抜ける人でないと(ＷＡＣＣＡを使うのは)難しい">
                </li>
                <li class="draw_item"><span class="item_image"><img src="/assets/img/web/box/item/item_5.png"
                                                                    alt="box_item"
                                                                    class=""></span> <span class="rarity_image"><img
                        src="/img/trophy/bronze.png" alt="trophyBronze" class="img__rarity"></span> <span
                        class="disp_item_name">チョコなどいらん！</span> <span class="output_num">累計獲得数: <span
                        class="output_count">1</span></span> <input type="hidden" class="item_category" value="称号">
                    <input type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                               value="チョコなどいらん！"></li>
                <li class="draw_item"><span class="item_image"><img src="/assets/img/web/box/item/item_5.png"
                                                                    alt="box_item"
                                                                    class=""></span> <span class="rarity_image"><img
                        src="/img/trophy/bronze.png" alt="trophyBronze" class="img__rarity"></span> <span
                        class="disp_item_name">許すななんて言えない</span> <span class="output_num">累計獲得数: <span
                        class="output_count">1</span></span> <input type="hidden" class="item_category" value="称号">
                    <input type="hidden" class="item_rarity" value="1"> <input type="hidden" class="item_name"
                                                                               value="許すななんて言えない"></li>
            </ul>
        </div>
    </div>
    <script>    $(function () {
      $(".box__li").click(function () {
        var itemImageSrc = $(this).find('div.box__img-main > img').attr('src');
        $('#modal_box_multi').find('#box_item_image').attr('src', itemImageSrc);
        var rarity = $(this).find('input.item_rarity').val();
        for (var i = 1; i <= 4; i++) {
          if (i <= rarity) {
            $('#modal_box_multi').find('#box_item_rarity' + i).show();
          } else {
            $('#modal_box_multi').find('#box_item_rarity' + i).hide();
          }
        }
        $('#modal_box_multi').find('#box_item_category').text($(this).find('input.item_category').val());
        $('#modal_box_multi').find('#box_item_name').text($(this).find('input.item_name').val());
        $('#modal_box_multi').find('#box_count').text($(this).find('input.item_output_num').val());
        $('#modal_box_multi').iziModal('open');
      });
      $(".draw_item").click(function () {
        var itemImageSrc = $(this).find('span.item_image > img').attr('src');
        $('#modal_box_multi').find('#box_item_image').attr('src', itemImageSrc);
        var rarity = $(this).find('input.item_rarity').val();
        for (var i = 1; i <= 4; i++) {
          if (i <= rarity) {
            $('#modal_box_multi').find('#box_item_rarity' + i).show();
          } else {
            $('#modal_box_multi').find('#box_item_rarity' + i).hide();
          }
        }
        $('#modal_box_multi').find('#box_item_category').text($(this).find('input.item_category').val());
        $('#modal_box_multi').find('#box_item_name').text($(this).find('input.item_name').val());
        $('#modal_box_multi').find('#box_count').text($(this).find('span.output_count').text());
        $('#modal_box_multi').iziModal('open');
      });
      $("#modal_box_multi").iziModal({
        title: ' ',
        closeButton: true,
        closeOnEscape: true,
        fullscreen: false,
        width: 414,
        overlayClose: false,
        transitionIn: 'fadeInDown',
        onOpening: function () {
          setValueWithModal();
          return false;
        }
      });
    });
    var setValueWithModal = function () {
      var valueText = $("#optionValue option:selected").text();
      $(".option_value").html(valueText);
    };</script>
    <p id="result_message" class="box__shortage"></p>
    <div class="box__button-area">
        <div class="box__button">
            <div class="box__open-btn" data-izimodal-open="#modal_box_draw250111">1回開ける</div>
            <p class="box__wp">
                <del class="box__dprice">500RP</del>
                →250RP
            </p>
        </div>
        <div class="box__button">
            <div class="box__open-btn" data-izimodal-open="#modal_box_draw2501110">10回開ける</div>
            <p class="box__wp">
                <del class="box__dprice">5000RP</del>
                →2500RP
            </p>
        </div>
    </div>
    <input type="hidden" id="lotteryNum" name="lotteryNum">
    <a class="pa box__detial-btn" routerLink="/web/box/detail"><p>ボックス詳細</p></a>
    <div class="box__notice"><h2>注意事項</h2>
        <ul>
            <li>※ボックスを開けるにはポイントや特定のアイテムが必要です。</li>
            <li>※ボックスの中身はアイテム別に出現確率が設定されており、ランダムに同じアイテムが出現することがあります。</li>
            <li>※取得できるアイテムはボックス詳細ページからご覧ください。</li>
            <li>※獲得数は該当のボックスにて獲得した数になります。ゲーム内や別ボックスで獲得したアイテムは数に含まれません。</li>
        </ul>
    </div>
</section>


<section class="box">
    <div class="box__cap"><img src="/assets/img/web/box/top_image/box_25011.png" alt="box_top_image" class=""></div>
    <div class="box__box">
        <div class="box__block">
            <div class="box__bg">
                <div class="box__bg-grade"></div>
                <div class="box__bg-img box__bg-img--1"></div>
                <div class="box__bg-cover"></div>
                <div class="box__bg-img box__bg-img--2"></div>
            </div>
            <div class="box__main">
                <div class="box__head">
                    <div class="box__img">
                        <div class="box__img-main"><img src="/assets/img/web/box/item/item_11.png" alt="box_item" class="">
                            <div class="box__img-effect"><img src="/assets/img/web/box/item/item_11.png" alt="box_item"
                                                              class=""></div>
                        </div>
                        <div class="box__new"></div>
                    </div>
                </div>
                <div class="box__body">
                    <div class="box__rank">
                        <ul class="box__rank-list">
                            <li class="box__rank-item"><img src="/assets/img/web/box/rarity/star1.png" alt=""></li>
                            <li class="box__rank-item"><img src="/assets/img/web/box/rarity/star2.png" alt=""></li>
                            <li class="box__rank-item"><img src="/assets/img/web/box/rarity/star3.png" alt=""></li>
                        </ul>
                    </div>
                    <div class="box__text"><p class="box__detail box__category"> ノーツタッチSE </p>
                        <p class="box__detail box__title"> 包丁トントン </p>
                        <p class="box__detail box__count"> ボックス獲得数：3 </p></div>
                </div>
            </div>
            <div class="box__border box__border--top"></div>
            <div class="box__border box__border--right"></div>
            <div class="box__border box__border--bottom"></div>
            <div class="box__border box__border--left"></div>
        </div>
    </div>
    <p id="result_message" class="box__shortage"></p>
    <div class="box__button-area">
        <div class="box__button">
            <div class="box__open-btn" data-izimodal-open="#modal_box_draw250111">1回開ける</div>
            <p class="box__wp">
                <del class="box__dprice">500RP</del>
                →250RP
            </p>
        </div>
        <div class="box__button">
            <div class="box__open-btn" data-izimodal-open="#modal_box_draw2501110">10回開ける</div>
            <p class="box__wp">
                <del class="box__dprice">5000RP</del>
                →2500RP
            </p>
        </div>
    </div>
    <input type="hidden" id="lotteryNum" name="lotteryNum">
    <a class="pa box__detial-btn" routerLink="/web/box/detail"><p>ボックス詳細</p></a>
    <div class="box__notice"><h2>注意事項</h2>
        <ul>
            <li>※ボックスを開けるにはポイントや特定のアイテムが必要です。</li>
            <li>※ボックスの中身はアイテム別に出現確率が設定されており、ランダムに同じアイテムが出現することがあります。</li>
            <li>※取得できるアイテムはボックス詳細ページからご覧ください。</li>
            <li>※獲得数は該当のボックスにて獲得した数になります。ゲーム内や別ボックスで獲得したアイテムは数に含まれません。</li>
        </ul>
    </div>
</section>
