<section class="song-open">
    <div class="contents-wrap">
        <div class="song-open__top">
            <div class="ranking__filter-btn filter-btn"><a class="btn-filter"
                                                           data-izimodal-open="#modal_filter_unlock_music">フィルタ</a>
                <input type="hidden" id="modal-filter-genre" name="modal-filter-genre" value="0"> <input type="hidden"
                                                                                                         id="modal-filter-order"
                                                                                                         name="modal-filter-order"
                                                                                                         value="0">
                <input type="hidden" id="modal-filter-sort" name="modal-filter-sort" value="0"></div>
            <dl>
                <dt>所持&nbsp;RP</dt>
                <dd><p class="wp-point">1730</p>
                    <p class="wp-unit">RP</p></dd>
            </dl>
        </div>
        <h2>楽曲オープン</h2>
        <ul class="song-open__song-list grid muuri" id="pagination-content" style="height: 2150px;">
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="191"
                data-music_name_ruby="さいきょうＳＴＲＯＮＧＥＲ" data-music_unlock="0" data-rank_normal_level="5"
                data-rank_hard_level="10" data-rank_expert_level="14" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/3020.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">最強STRONGER</div>
                        <div class="song-info__artist">REDALiCE vs USAO</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 5</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 10</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 14</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>5000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="192"
                data-music_name_ruby="ＬＥＴＹＯＵＤＩＶＥ！ＮＩＴＲＯＲＭＸ" data-music_unlock="22" data-rank_normal_level="4"
                data-rank_hard_level="8.1" data-rank_expert_level="12.1" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(107px); display: block;">
                <div class="item-content song-list__list-content " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/3022.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">Let you DIVE! (nitro rmx)</div>
                        <div class="song-info__artist">nitro (lowiro)</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 8+</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 12+</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn">
                            <div class="open-btn__opened">オープン済み</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="193"
                data-music_name_ruby="ＳＨＥＲＩＲＵＴＨ" data-music_unlock="0" data-rank_normal_level="4"
                data-rank_hard_level="10" data-rank_expert_level="13" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(214px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/3021.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">Sheriruth (Laur Remix)</div>
                        <div class="song-info__artist">Laur</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 10</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="249"
                data-music_name_ruby="ＬＯＳＴＩＬＬＵＳＩＯＮ" data-music_unlock="0" data-rank_normal_level="4"
                data-rank_hard_level="10.1" data-rank_expert_level="12.1" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(321px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2234.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">Lost Illusion</div>
                        <div class="song-info__artist">Yooh</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 10+</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 12+</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="252"
                data-music_name_ruby="ＬＨＡＫＳＨＡ" data-music_unlock="0" data-rank_normal_level="3" data-rank_hard_level="9"
                data-rank_expert_level="12" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(428px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2211.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">Lhaksha</div>
                        <div class="song-info__artist">Feryquitous</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 3</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 9</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 12</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="253"
                data-music_name_ruby="ＬＩＮＮＥＫＲＯＮＥ" data-music_unlock="0" data-rank_normal_level="4"
                data-rank_hard_level="9" data-rank_expert_level="13.1" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(535px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2210.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">LIN NE KRO NE feat. lasah</div>
                        <div class="song-info__artist">sasakure.UK</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 9</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13+</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="255"
                data-music_name_ruby="ねこむすめ" data-music_unlock="0" data-rank_normal_level="6" data-rank_hard_level="10"
                data-rank_expert_level="13.1" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(642px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2046.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">猫娘</div>
                        <div class="song-info__artist">かねこちはる</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 6</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 10</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13+</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="259"
                data-music_name_ruby="ＴＥＬＬＭＥ" data-music_unlock="0" data-rank_normal_level="3"
                data-rank_hard_level="7.1" data-rank_expert_level="11.1" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(749px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2013.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">Tell Me</div>
                        <div class="song-info__artist">RiraN</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 3</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 7+</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 11+</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="261"
                data-music_name_ruby="ＴＨＥＭＵＺＺＬＥＦＡＣＩＮＧ" data-music_unlock="0" data-rank_normal_level="4"
                data-rank_hard_level="9.1" data-rank_expert_level="13.1" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(856px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2014.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">THE MUZZLE FACING</div>
                        <div class="song-info__artist">かめりあ</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 9+</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13+</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="312"
                data-music_name_ruby="ＥＶＥ" data-music_unlock="0" data-rank_normal_level="4" data-rank_hard_level="9"
                data-rank_expert_level="13" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(963px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2232.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">EVE</div>
                        <div class="song-info__artist">P*Light</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 9</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="313"
                data-music_name_ruby="ＥＤＥＮ" data-music_unlock="0" data-rank_normal_level="4" data-rank_hard_level="10"
                data-rank_expert_level="13" data-rank_inferno_level="14"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(1070px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2235.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">eden</div>
                        <div class="song-info__artist">
                            "漆黒"の堕天使《Gram》†Versus† "聖刻"の熾天使《Gram》
                        </div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 10</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_inferno">INFERNO 14</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>5000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="314"
                data-music_name_ruby="ＳＩＬＥＮＴＰＨＯＢＩＡ" data-music_unlock="0" data-rank_normal_level="4"
                data-rank_hard_level="10" data-rank_expert_level="13" data-rank_inferno_level="14"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(1187px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2236.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">Silentphobia</div>
                        <div class="song-info__artist">t+pazolite VS 削除</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 10</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_inferno">INFERNO 14</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>5000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="322"
                data-music_name_ruby="ＳＨＡＫＥ！" data-music_unlock="0" data-rank_normal_level="4" data-rank_hard_level="9"
                data-rank_expert_level="12.1" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(1294px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2212.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">SHAKE!</div>
                        <div class="song-info__artist">REDALiCE</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 9</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 12+</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="323"
                data-music_name_ruby="ＤＵＡＬＢＲＥＡＫＥＲＸＸ" data-music_unlock="0" data-rank_normal_level="6"
                data-rank_hard_level="10.1" data-rank_expert_level="13.1" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(1401px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2213.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">DUAL BREAKER XX</div>
                        <div class="song-info__artist">Srav3R vs Getty</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 6</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 10+</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13+</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>5000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="326"
                data-music_name_ruby="ＬＩＢＥＲＡＴＥ" data-music_unlock="0" data-rank_normal_level="4"
                data-rank_hard_level="9" data-rank_expert_level="13" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(1508px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2054.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">Liberate</div>
                        <div class="song-info__artist">USAO</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 9</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="327"
                data-music_name_ruby="ＡＮＩＭＯＳＩＴＹ" data-music_unlock="0" data-rank_normal_level="6"
                data-rank_hard_level="10.1" data-rank_expert_level="13.1" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(1615px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2055.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">Animosity</div>
                        <div class="song-info__artist">Laur</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 6</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 10+</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13+</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="328"
                data-music_name_ruby="ＢＩＧＢＡＮＧ" data-music_unlock="0" data-rank_normal_level="7"
                data-rank_hard_level="11" data-rank_expert_level="14" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(1722px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2056.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">Big Bang</div>
                        <div class="song-info__artist">Massive New Krew</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 7</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 11</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 14</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>5000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="338"
                data-music_name_ruby="ＯＮＯＭＡＴＯＰＡＩＲＩＮＧ" data-music_unlock="0" data-rank_normal_level="2"
                data-rank_hard_level="8" data-rank_expert_level="12" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(1829px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2016.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">ONOMATO Pairing!!!</div>
                        <div class="song-info__artist">t+pazolite feat. ななひら</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 2</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 8</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 12</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="339"
                data-music_name_ruby="ＳＵＰＥＲＲＥＡＣＴＯＲ" data-music_unlock="0" data-rank_normal_level="4"
                data-rank_hard_level="8" data-rank_expert_level="13" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(1936px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2015.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">SUPER REACTOR</div>
                        <div class="song-info__artist">Kobaryo feat. HiTNEX-X</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 4</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 8</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 13</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>3000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="song-list__list-wrap item muuri-item muuri-item-shown" data-sequence_number="340"
                data-music_name_ruby="ＧＥＮＯＣＩＤＥＲ" data-music_unlock="0" data-rank_normal_level="6"
                data-rank_hard_level="11" data-rank_expert_level="14" data-rank_inferno_level="0"
                style="left: 0px; top: 0px; transform: translateX(0px) translateY(2043px); display: block;">
                <div class="item-content song-list__list-content  is-lock " style="opacity: 1; transform: scale(1);">
                    <div class="song-list__song-icon"><img src="/img/music/2017.png" alt="music" class=""></div>
                    <div class="song-list__song-info">
                        <div class="song-info__name">GENOCIDER</div>
                        <div class="song-info__artist">DJ Myosuke</div>
                        <ul class="song-info__diff">
                            <li>
                                <div class="song-info__lv diff_icon_normal">NORMAL 6</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_hard">HARD 11</div>
                            </li>
                            <li>
                                <div class="song-info__lv diff_icon_expert">EXPERT 14</div>
                            </li>
                        </ul>
                        <div class="song-info__open-btn"><p>RPが足りません</p>
                            <div class="open-btn__open-off">オープンする<br>5000&nbsp;RP</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<span id="modal_music_unlock3022" data-izimodal-iframeurl="/web/modal/music/unlockConfirm?mid=3022" aria-hidden="false"
      aria-labelledby="modal_music_unlock3022" role="dialog" class="iziModal"
      style="z-index: 999; border-radius: 3px; border-bottom: 3px solid rgb(136, 160, 185); overflow: hidden; max-width: 414px; display: inline; height: 213px;"><div
        class="iziModal-header iziModal-noSubtitle" style="background: rgb(136, 160, 185); padding-right: 10px;"><h2
        class="iziModal-header-title"> </h2><p class="iziModal-header-subtitle"></p><div
        class="iziModal-header-buttons"></div></div><div class="iziModal-wrap" style="height: auto;"><div
        class="iziModal-content" style="padding: 0px;"><div class="iziModal-iframe" style="height: 400px;">

    <div><div id="music_info">        <div class="song-open">        <div class="song-modal">            <div
            class="song-list__list-wrap">                <div class="song-list__song-icon">                    <img
            src="/img/music/3022.png" alt="music" class="">                </div>                <div
            class="song-list__song-info">                    <div
            class="song-info__name">Let you DIVE! (nitro rmx)</div>                    <div class="song-info__artist">nitro (lowiro)</div>                    <ul
            class="song-info__diff">                        <li><div
            class="song-info__lv diff_icon_normal">NORMAL 4</div></li>                        <li><div
            class="song-info__lv diff_icon_hard">HARD 8+</div></li>                        <li><div
            class="song-info__lv diff_icon_expert">EXPERT 12+</div></li>                                            </ul>                </div>            </div>            <p
            class="point-confirm">3000RPを消費して上記楽曲をオープンしますか？</p>            <p class="point-balance">4730RP → 1730RP</p>            <div
            class="confirm-btn">                                    <a class="btn yes-btn"
                                                                       data-izimodal-open="#modal_music_done_unlock">YES</a><a
            class="btn no-btn btn_close">NO</a>                            </div>        </div>    </div></div><script>    $(function () {
      $("#modal_music_done_unlock").iziModal({
        title: ' ',
        closeButton: false,
        closeOnEscape: true,
        fullscreen: false,
        width: 414,
        overlayClose: false,
        transitionIn: 'fadeInDown',
        onOpening: function (modal) {
          unlockDoneWithModal(modal);
          return false;
        },
        onClosing: function () {
          window.parent.$('#modal_music_unlock3022').iziModal('close');
        }
      });
    });
    $(".btn_close").click(function () {
      window.parent.$('#modal_music_unlock3022').iziModal('close');
    });
    var unlockDoneWithModal = function (modal) {
      modal.startLoading();
      $.ajax({
        url: '/web/music/unlock/exec',
        type: 'POST',
        dataType: 'json',
        data: {'musicId': 3022}
      }).done(function (data) {
        var statusCode = data.statusCode;
        if (statusCode == 0) {
          $("lockMstMusic").html("楽曲をオープンしました。");
        } else {
          $("#result_message").html("楽曲のオープンに失敗しました。");
        }
      }).fail(function () {
        $("#result_message").html("楽曲のオープンに失敗しました。");
      }).always(function () {
        modal.stopLoading();
      });
    };</script><div id="modal_music_done_unlock" aria-hidden="true" aria-labelledby="modal_music_done_unlock"
                    role="dialog" class="iziModal"
                    style="z-index: 999; border-radius: 3px; border-bottom: 3px solid rgb(136, 160, 185); overflow: hidden; max-width: 414px;"><div
            class="iziModal-header iziModal-noSubtitle" style="background: rgb(136, 160, 185);"><h2
            class="iziModal-header-title"> </h2><p class="iziModal-header-subtitle"></p><div
            class="iziModal-header-buttons"></div></div><div class="iziModal-wrap"><div class="iziModal-content"
                                                                                        style="padding: 0px;">        <p
            id="result_message">楽曲をオープンしました。</p>        <div><a routerLink="/web/music/unlock" class="btn" target="_parent">閉じる</a></div>    </div></div></div></div>
</div></div></div></span>
