<section class="option">
    <div class="option__setting"><h2 class="option__title">表示情報設定</h2>
        <ul class="option__select">
            <li class="second__index"><a routerLink="/web/option/judgePosition">
                <div class="select__top">
                    <div class="select__tl">判定表示位置</div>
                    <div class="select__right">センター</div>
                </div>
            </a>
                <div class="select__bottom">判定の表示位置を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/judgeDetail">
                <div class="select__top">
                    <div class="select__tl">判定詳細表示</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">「FAST/LATE」表示のON/OFFを設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/informationMask">
                <div class="select__top">
                    <div class="select__tl">表示情報の濃度</div>
                    <div class="select__right">5</div>
                </div>
            </a>
                <div class="select__bottom">表示情報の濃度を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/guideLineInterval">
                <div class="select__top">
                    <div class="select__tl">ガイドライン間隔線表示</div>
                    <div class="select__right">Aタイプ</div>
                </div>
            </a>
                <div class="select__bottom">ガイドラインの間隔線を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/guideLineMask">
                <div class="select__top">
                    <div class="select__tl">ガイドラインの濃度</div>
                    <div class="select__right">5</div>
                </div>
            </a>
                <div class="select__bottom">ガイドラインの濃度を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/guideMeasureLine">
                <div class="select__top">
                    <div class="select__tl">小節線表示</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">小節線のON/OFFを設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/centerDisplay">
                <div class="select__top">
                    <div class="select__tl">中央表示</div>
                    <div class="select__right">COMBO表示</div>
                </div>
            </a>
                <div class="select__bottom">画面中央表示を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/scoreDisplay">
                <div class="select__top">
                    <div class="select__tl">スコア表示方式</div>
                    <div class="select__right">プラス方式</div>
                </div>
            </a>
                <div class="select__bottom">プレイ中のスコア表示形式を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/multiRankDisplay">
                <div class="select__top">
                    <div class="select__tl">順位表示</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">マルチプレイ中の順位表示を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/emblemDisplay">
                <div class="select__top">
                    <div class="select__tl">エンブレム表示</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">ステージアップエンブレムの表示を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/rateDisplay">
                <div class="select__top">
                    <div class="select__tl">レート表示</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">レートの表示を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/playerLevelDisplay">
                <div class="select__top">
                    <div class="select__tl">プレイヤーレベル表示</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">プレイヤーレベルの表示を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/gateDirectingSkip">
                <div class="select__top">
                    <div class="select__tl">ゲート簡易演出</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">ゲート進行の簡易演出を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/missionDirectingSkip">
                <div class="select__top">
                    <div class="select__tl">WACCA BINGO 簡易演出</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">WACCA BINGOの簡易演出を設定できます。</div>
            </li>
        </ul>
    </div>
</section>
