<div class="collection__filter-btn filter-btn"><a class="btn-filter" data-izimodal-open="#modal_icon_filter_possess"
                                                  href="">フィルタ</a> <input
        id="modal-filter-disp" name="modal-filter-disp" type="hidden" value="0"> <input id="modal-filter-genre"
                                                                                        name="modal-filter-genre"
                                                                                        type="hidden"
                                                                                        value="0"> <input id="modal-filter-order"
                                                                                                          name="modal-filter-order"
                                                                                                          type="hidden"
                                                                                                          value="0">
    <input id="modal-filter-sort" name="modal-filter-sort" type="hidden" value="0"></div>
<div class="collection__icon">
    <div class="collection__current-icon collection-box">
        <dl>
            <dt>現在のアイコン</dt>
            <dd>
                <div class="current-icon__icon"><img alt="icon" class="" src="/assets/img/icon/102100.png"></div>
                <div class="current-icon__info">
                    <div class="current-icon__rank"><img alt="starimage" class=""
                                                         src="/assets/img/web/collection/rank_star_2.png"></div>
                    <p class="current-icon__name">リンカ</p></div>
            </dd>
        </dl>
    </div>
    <ul class="collection__icon-list grid muuri" style="height: 3405px;">
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="0" data-icon_id="102001"
            data-icon_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102001"><img
                        alt="icon" class="" src="/assets/img/icon/102001.png"></div>
                <p class="icon-list__name">WACCA LOGO</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_1.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="0" data-icon_id="102002"
            data-icon_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(0px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102002"><img
                        alt="icon" class="" src="/assets/img/icon/102002.png"></div>
                <p class="icon-list__name">WACCA コンソール</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_1.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="17" data-icon_id="102009"
            data-icon_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(227px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102009"><img
                        alt="icon" class="" src="/assets/img/icon/102009.png"></div>
                <p class="icon-list__name">illanai-assorted</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_1.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="17" data-icon_id="102013"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(227px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102013"><img
                        alt="icon" class="" src="/assets/img/icon/102013.png"></div>
                <p class="icon-list__name">Let you DIVE!</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="17" data-icon_id="102018"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(454px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102018"><img
                        alt="icon" class="" src="/assets/img/icon/102018.png"></div>
                <p class="icon-list__name">Gate One</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="6" data-icon_id="102023"
            data-icon_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(454px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102023"><img
                        alt="icon" class="" src="/assets/img/icon/102023.png"></div>
                <p class="icon-list__name">STAR</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_1.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="5" data-icon_id="102024"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(681px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102024"><img
                        alt="icon" class="" src="/assets/img/icon/102024.png"></div>
                <p class="icon-list__name">UnLocker</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="6" data-icon_id="102025"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(681px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102025"><img
                        alt="icon" class="" src="/assets/img/icon/102025.png"></div>
                <p class="icon-list__name">Feather</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="6" data-icon_id="102026"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(908px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102026"><img
                        alt="icon" class="" src="/assets/img/icon/102026.png"></div>
                <p class="icon-list__name">あいつ</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="11" data-icon_id="102028"
            data-icon_rarity="3"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(908px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102028"><img
                        alt="icon" class="" src="/assets/img/icon/102028.png"></div>
                <p class="icon-list__name">般若</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_3.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="11" data-icon_id="102029"
            data-icon_rarity="3"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1135px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102029"><img
                        alt="icon" class="" src="/assets/img/icon/102029.png"></div>
                <p class="icon-list__name">Gear</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_3.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="11" data-icon_id="102030"
            data-icon_rarity="3"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(1135px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102030"><img
                        alt="icon" class="" src="/assets/img/icon/102030.png"></div>
                <p class="icon-list__name">Pulse</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_3.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="11" data-icon_id="102047"
            data-icon_rarity="4"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1362px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102047"><img
                        alt="icon" class="" src="/assets/img/icon/102047.png"></div>
                <p class="icon-list__name">えりざべす</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_4.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="11" data-icon_id="102048"
            data-icon_rarity="4"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(1362px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102048"><img
                        alt="icon" class="" src="/assets/img/icon/102048.png"></div>
                <p class="icon-list__name">うぇるかむ　とぅ　へぶん</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_4.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="6" data-icon_id="102050"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1589px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102050"><img
                        alt="icon" class="" src="/assets/img/icon/102050.png"></div>
                <p class="icon-list__name">TANO*C</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="11" data-icon_id="102051"
            data-icon_rarity="4"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(1589px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102051"><img
                        alt="icon" class="" src="/assets/img/icon/102051.png"></div>
                <p class="icon-list__name">放置プレイ</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_4.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="11" data-icon_id="102054"
            data-icon_rarity="3"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1816px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102054"><img
                        alt="icon" class="" src="/assets/img/icon/102054.png"></div>
                <p class="icon-list__name">しょんぼり犬</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_3.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="17" data-icon_id="102063"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(1816px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102063"><img
                        alt="icon" class="" src="/assets/img/icon/102063.png"></div>
                <p class="icon-list__name">GRiDGALAXY</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="11" data-icon_id="102074"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2043px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102074"><img
                        alt="icon" class="" src="/assets/img/icon/102074.png"></div>
                <p class="icon-list__name">振袖エリザベス</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="13" data-icon_id="102100"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(2043px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102100"><img
                        alt="icon" class="" src="/assets/img/icon/102100.png"></div>
                <p class="icon-list__name">リンカ</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="13" data-icon_id="102101"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2270px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102101"><img
                        alt="icon" class="" src="/assets/img/icon/102101.png"></div>
                <p class="icon-list__name">ユメ</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="13" data-icon_id="102102"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(2270px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm102102"><img
                        alt="icon" class="" src="/assets/img/icon/102102.png"></div>
                <p class="icon-list__name">セイネ</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="13" data-icon_id="202045"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2497px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm202045"><img
                        alt="icon" class="" src="/assets/img/icon/202045.png"></div>
                <p class="icon-list__name">桃山みらい</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="13" data-icon_id="202060"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(2497px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm202060"><img
                        alt="icon" class="" src="/assets/img/icon/202060.png"></div>
                <p class="icon-list__name">エリザベス（Dot）</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="16" data-icon_id="202072"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2724px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm202072"><img
                        alt="icon" class="" src="/assets/img/icon/202072.png"></div>
                <p class="icon-list__name">リズム</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="13" data-icon_id="202082"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(2724px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm202082"><img
                        alt="icon" class="" src="/assets/img/icon/202082.png"></div>
                <p class="icon-list__name">リツモ</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="13" data-icon_id="202083"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2951px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm202083"><img
                        alt="icon" class="" src="/assets/img/icon/202083.png"></div>
                <p class="icon-list__name">フィシカ</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="13" data-icon_id="202084"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(2951px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm202084"><img
                        alt="icon" class="" src="/assets/img/icon/202084.png"></div>
                <p class="icon-list__name">ネロ</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="16" data-icon_id="302006"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3178px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm302006"><img
                        alt="icon" class="" src="/assets/img/icon/302006.png"></div>
                <p class="icon-list__name">でれでれ</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-icon_genre="14" data-icon_id="302018"
            data-icon_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(163px) translateY(3178px); display: block;">
            <div class="item-content" style="opacity: 1; transform: scale(1);">
                <div class="icon-list__icon" data-izimodal-open="#modal_icon_setting_confirm302018"><img
                        alt="icon" class="" src="/assets/img/icon/302018.png"></div>
                <p class="icon-list__name">リバース</p>
                <div class="icon-list__bottom">
                    <div class="icon-list__rank"><img alt="starimage" class=""
                                                      src="/assets/img/web/collection/rank_star_2.png"></div>
                    <div class="icon-list__set-btn">
                        <a class="pa pf" routerLink="/web/icon/index/exec"><p>SETする</p></a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
