<section id="option">
    <article>
        <div><h2><span>ガイドライン間隔線表示</span></h2>
            <div class="article"><p class="top_description">ガイドラインの間隔線を設定できます。</p>
                <div class="option_image_select">
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>なし</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/guide_line_interval/0.png"
                                                                    alt="option" class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="0"></div>
                    <div class="option_image_select_content  selected ">
                        <div class="option_image_select_value"><p>Aタイプ</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/guide_line_interval/1.png"
                                                                    alt="option" class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="1"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>Bタイプ</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/guide_line_interval/2.png"
                                                                    alt="option" class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="2"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>Cタイプ</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/guide_line_interval/3.png"
                                                                    alt="option" class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="3"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>Dタイプ</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/guide_line_interval/4.png"
                                                                    alt="option" class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="4"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>Eタイプ</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/guide_line_interval/5.png"
                                                                    alt="option" class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="5"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>Fタイプ</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/guide_line_interval/6.png"
                                                                    alt="option" class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="6"></div>
                    <div class="option_image_select_content ">
                        <div class="option_image_select_value"><p>Gタイプ</p></div>
                        <div class="option_image_select_image"><img src="/assets/img/web/guide_line_interval/7.png"
                                                                    alt="option" class=""></div>
                        <input type="hidden" id="option_value" name="option_value" value="7"></div>
                </div>
                <a class="btn option_confirm" data-izimodal-open="#modal_option_confirm">変更する</a> <a
                        routerLink="/web/option/displaySetting" class="back-btn bold">戻る</a></div><!-- /article -->
        </div>
    </article>
</section>
