<section class="box">
    <div class="box__index"><h2>BOX</h2>
        <div class="box__banner">
            <a class="pa pf" routerLink="/web/box/top">
                <div class="banner"><img src="/assets/img/web/top/banner/box_bn30511.png"></div>
            </a>
        </div>
        <div class="box__banner">
            <a class="pa pf" routerLink="/web/box/top">
                <div class="banner"><img src="/assets/img/web/top/banner/box_bn30011.png"></div>
            </a>
        </div>
        <div class="box__banner">
            <a class="pa pf" routerLink="/web/box/top">
                <div class="banner"><img src="/assets/img/web/top/banner/box_bn25011.png"></div>
            </a>
        </div>
        <div class="box__banner">
            <a class="pa pf" routerLink="/web/box/top">
                <div class="banner"><img src="/assets/img/web/top/banner/box_bn20011.png"></div>
            </a>
        </div>
    </div>
</section>
