<h2>申請中</h2>
<ul class="friend__friend-req-btns"><a routerLink="/web/friend/request/applying" class="friend-req-link">
    <li class="friend-list-btn__req     active ">申請中</li>
</a> <a routerLink="/web/friend/request/accepting" class="friend-req-link">
    <li class="friend-list-btn__accept ">受付中</li>
</a></ul>
<div class="req-count">フレンド申請数: 1/100</div>
<div class="friend__playerdata">
    <div class="user-info">
        <div class="user-info__icon">
            <div class="symbol__color__base"><img src="/img/symbol_color/303001.png" alt="symbol_color" class="">
                <div class="icon__image"><img src="/img/icon/102023.png" alt="icon" class=""></div>
            </div>
        </div>
        <div class="user-info__detail">
            <div class="user-info__detail__wrap">
                <div class="user-info__detail__lv"><span>Lv.5</span></div>
                <div class="user-info__detail__name">USER</div>
            </div>
            <div class="user-info__detail__title">WACCA Lily R ステージIIクリア！</div>
            <div class="user-info__detail__req-cancel" data-izimodal-open="#modal_friend_confirm"> 申請解除
            </div>
        </div>
    </div>
</div>
