<section class="option">
    <div class="option__setting"><h2 class="option__title">デザイン設定</h2>
        <ul class="option__select">
            <li class="second__index"><a routerLink="/web/option/myColor">
                <div class="select__top">
                    <div class="select__tl">マイカラー</div>
                    <div class="select__right">ルーンカラー</div>
                </div>
            </a>
                <div class="select__bottom">マイカラーを設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/noteWidth">
                <div class="select__top">
                    <div class="select__tl">ノーツ幅設定</div>
                    <div class="select__right">2</div>
                </div>
            </a>
                <div class="select__bottom">ノーツ幅を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/touchNoteColor">
                <div class="select__top">
                    <div class="select__tl">タッチノーツの色</div>
                    <div class="select__right">ライトマゼンタ</div>
                </div>
            </a>
                <div class="select__bottom">タッチノーツの色を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/chainNoteColor">
                <div class="select__top">
                    <div class="select__tl">チェインノーツの色</div>
                    <div class="select__right">ライトイエロー</div>
                </div>
            </a>
                <div class="select__bottom">チェインノーツの色を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/slideNoteLeftColor">
                <div class="select__top">
                    <div class="select__tl">←スライドノーツの色</div>
                    <div class="select__right">オレンジ</div>
                </div>
            </a>
                <div class="select__bottom">←スライドノーツの色を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/slideNoteRightColor">
                <div class="select__top">
                    <div class="select__tl">→スライドノーツの色</div>
                    <div class="select__right">ライム</div>
                </div>
            </a>
                <div class="select__bottom">→スライドノーツの色を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/snapNoteUpColor">
                <div class="select__top">
                    <div class="select__tl">↑スナップノーツの色</div>
                    <div class="select__right">レッド</div>
                </div>
            </a>
                <div class="select__bottom">↑スナップノーツの色を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/snapNoteDownColor">
                <div class="select__top">
                    <div class="select__tl">↓スナップノーツの色</div>
                    <div class="select__right">スカイブルー</div>
                </div>
            </a>
                <div class="select__bottom">↓スナップノーツの色を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/holdNoteColor">
                <div class="select__top">
                    <div class="select__tl">ホールドノーツの色</div>
                    <div class="select__right">ダークイエロー</div>
                </div>
            </a>
                <div class="select__bottom">ホールドノーツの色を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/slideColorInvert">
                <div class="select__top">
                    <div class="select__tl">スライドカラー反転</div>
                    <div class="select__right">通常</div>
                </div>
            </a>
                <div class="select__bottom">スライドカラー反転を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/touchEffectPop">
                <div class="select__top">
                    <div class="select__tl">タッチエフェクト(ポップ)</div>
                    <div class="select__right">デフォルト</div>
                </div>
            </a>
                <div class="select__bottom">タッチエフェクト(ポップ)の表示を設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/touchEffectShoot">
                <div class="select__top">
                    <div class="select__tl">タッチエフェクト(シュート)</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">タッチエフェクト(シュート)のON/OFFを設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/keyBeam">
                <div class="select__top">
                    <div class="select__tl">キービーム</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">キービームのON/OFFを設定できます。</div>
            </li>
            <li class="second__index"><a routerLink="/web/option/rNoteEffect">
                <div class="select__top">
                    <div class="select__tl">Rノーツエフェクト</div>
                    <div class="select__right">ON</div>
                </div>
            </a>
                <div class="select__bottom">RノーツエフェクトのON/OFFを設定できます。</div>
            </li>
        </ul>
    </div>
</section>
