<h2>トータルReverseポイント</h2>
<div class="ranking__wp-score">
    <div class="ranking__wp-score__rank top-rank">-位</div>
    <div class="ranking__wp-score__name">USER_001</div>
    <div class="ranking__wp-score__right">
        <div class="ranking__wp-score__date">2022/06/23</div>
        <div class="ranking__wp-score__score">14730<span>RP</span></div>
    </div>
</div>
<div class="aggregate">集計開始日：2021/08/10 07:00</div>
<div class="nw-ranking wp"><h2>全国ランキング</h2>
    <ul class="nw-ranking-wrap">
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">OmochaJK</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">21900012<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-2nd"><img src="/assets/img/web/ranking/icon-2nd.png" height="22"></div>
            <div class="nw-ranking__score__name">4.2K</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">14913441<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-3rd"><img src="/assets/img/web/ranking/icon-3rd.png" height="22"></div>
            <div class="nw-ranking__score__name">+lie</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">14239532<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">4<span>位</span></div>
            <div class="nw-ranking__score__name">LiME487</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">12660371<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">5<span>位</span></div>
            <div class="nw-ranking__score__name">NB1RS</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">12426891<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">6<span>位</span></div>
            <div class="nw-ranking__score__name">UtsuLie</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/22</div>
                <div class="nw-ranking__wp-score__score">12326606<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">7<span>位</span></div>
            <div class="nw-ranking__score__name"> CHILD</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">11169018<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">8<span>位</span></div>
            <div class="nw-ranking__score__name">Satomai</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/07</div>
                <div class="nw-ranking__wp-score__score">10896365<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">9<span>位</span></div>
            <div class="nw-ranking__score__name">YZ.4241</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">10811993<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">10<span>位</span></div>
            <div class="nw-ranking__score__name">GUMI</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/26</div>
                <div class="nw-ranking__wp-score__score">10736507<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">11<span>位</span></div>
            <div class="nw-ranking__score__name">Mi5et5u</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">10111191<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">12<span>位</span></div>
            <div class="nw-ranking__score__name">Ronach+i</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">9572205<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">13<span>位</span></div>
            <div class="nw-ranking__score__name">KUR@10</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/07/22</div>
                <div class="nw-ranking__wp-score__score">9559349<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">14<span>位</span></div>
            <div class="nw-ranking__score__name">herakino</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/21</div>
                <div class="nw-ranking__wp-score__score">9395945<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">15<span>位</span></div>
            <div class="nw-ranking__score__name">pepe*LB</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/30</div>
                <div class="nw-ranking__wp-score__score">9116756<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">16<span>位</span></div>
            <div class="nw-ranking__score__name">JIFTo</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/21</div>
                <div class="nw-ranking__wp-score__score">9105788<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">17<span>位</span></div>
            <div class="nw-ranking__score__name">GUEST</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">9028000<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">18<span>位</span></div>
            <div class="nw-ranking__score__name">AA</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/24</div>
                <div class="nw-ranking__wp-score__score">9002115<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">19<span>位</span></div>
            <div class="nw-ranking__score__name">VER3</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/21</div>
                <div class="nw-ranking__wp-score__score">8388006<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">20<span>位</span></div>
            <div class="nw-ranking__score__name">Lucifer2</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">8280036<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">21<span>位</span></div>
            <div class="nw-ranking__score__name">AKUDO</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">8177756<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">22<span>位</span></div>
            <div class="nw-ranking__score__name">Kate</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">8078107<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">23<span>位</span></div>
            <div class="nw-ranking__score__name">MOARE</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">7950093<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">24<span>位</span></div>
            <div class="nw-ranking__score__name">KINDDDDD</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">7892904<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">25<span>位</span></div>
            <div class="nw-ranking__score__name">*Ibih</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">7647318<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">26<span>位</span></div>
            <div class="nw-ranking__score__name">FLAMME</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">7586511<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">27<span>位</span></div>
            <div class="nw-ranking__score__name">TsumayoG</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">7538320<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">28<span>位</span></div>
            <div class="nw-ranking__score__name">SUI=SS*</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/30</div>
                <div class="nw-ranking__wp-score__score">7437411<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">29<span>位</span></div>
            <div class="nw-ranking__score__name">*MiyaKo*</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">7372862<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">30<span>位</span></div>
            <div class="nw-ranking__score__name">TNRs42+i</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">7290061<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">31<span>位</span></div>
            <div class="nw-ranking__score__name">4ki-72me</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/27</div>
                <div class="nw-ranking__wp-score__score">7235116<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">32<span>位</span></div>
            <div class="nw-ranking__score__name">84M</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">7213553<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">33<span>位</span></div>
            <div class="nw-ranking__score__name">Arisa01</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">7168887<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">34<span>位</span></div>
            <div class="nw-ranking__score__name">KICCO</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">7107612<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">35<span>位</span></div>
            <div class="nw-ranking__score__name">HHH_Kuma</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/22</div>
                <div class="nw-ranking__wp-score__score">7104572<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">36<span>位</span></div>
            <div class="nw-ranking__score__name">sasurai</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">7090639<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">37<span>位</span></div>
            <div class="nw-ranking__score__name">LDA_Laur</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6983233<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">38<span>位</span></div>
            <div class="nw-ranking__score__name">GUEST?</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">6947473<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">39<span>位</span></div>
            <div class="nw-ranking__score__name">R2IS</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6937479<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">40<span>位</span></div>
            <div class="nw-ranking__score__name">ski@nkr</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">6900120<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">41<span>位</span></div>
            <div class="nw-ranking__score__name">Pul...?</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6830637<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">42<span>位</span></div>
            <div class="nw-ranking__score__name">KSHM</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">6744025<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">43<span>位</span></div>
            <div class="nw-ranking__score__name">HarukaSF</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/26</div>
                <div class="nw-ranking__wp-score__score">6721877<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">44<span>位</span></div>
            <div class="nw-ranking__score__name">FUNKY.KK</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">6680687<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">45<span>位</span></div>
            <div class="nw-ranking__score__name">!kuw@</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6618229<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">46<span>位</span></div>
            <div class="nw-ranking__score__name">CHIKINUG</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6569924<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">47<span>位</span></div>
            <div class="nw-ranking__score__name">-Robert-</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/25</div>
                <div class="nw-ranking__wp-score__score">6519329<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">48<span>位</span></div>
            <div class="nw-ranking__score__name">DIVEwitU</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/27</div>
                <div class="nw-ranking__wp-score__score">6513589<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">49<span>位</span></div>
            <div class="nw-ranking__score__name">February</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/06</div>
                <div class="nw-ranking__wp-score__score">6487038<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">50<span>位</span></div>
            <div class="nw-ranking__score__name">BuraiARP</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6366095<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">51<span>位</span></div>
            <div class="nw-ranking__score__name">XENOViA</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6287365<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">52<span>位</span></div>
            <div class="nw-ranking__score__name">Yoza_127</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6272140<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">53<span>位</span></div>
            <div class="nw-ranking__score__name">v0vxx</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6213749<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">54<span>位</span></div>
            <div class="nw-ranking__score__name">HMG_ yo</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/30</div>
                <div class="nw-ranking__wp-score__score">6143990<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">55<span>位</span></div>
            <div class="nw-ranking__score__name">RBkogkog</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6103990<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">56<span>位</span></div>
            <div class="nw-ranking__score__name">SiRen-HZ</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">6090906<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">57<span>位</span></div>
            <div class="nw-ranking__score__name">BOOGIE</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">6046050<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">58<span>位</span></div>
            <div class="nw-ranking__score__name">Lotus</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">5822281<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">59<span>位</span></div>
            <div class="nw-ranking__score__name">POLKA_CH</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/15</div>
                <div class="nw-ranking__wp-score__score">5822019<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">60<span>位</span></div>
            <div class="nw-ranking__score__name">#ATTO#</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">5741930<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">61<span>位</span></div>
            <div class="nw-ranking__score__name">WTGS 1=1</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">5733159<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">62<span>位</span></div>
            <div class="nw-ranking__score__name">Fugetsu</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/15</div>
                <div class="nw-ranking__wp-score__score">5687105<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">63<span>位</span></div>
            <div class="nw-ranking__score__name">TOMORROW</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">5662524<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">64<span>位</span></div>
            <div class="nw-ranking__score__name">10MARI*M</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/07/09</div>
                <div class="nw-ranking__wp-score__score">5609282<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">65<span>位</span></div>
            <div class="nw-ranking__score__name">shnrin</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/19</div>
                <div class="nw-ranking__wp-score__score">5542252<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">66<span>位</span></div>
            <div class="nw-ranking__score__name">Blue</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">5504451<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">67<span>位</span></div>
            <div class="nw-ranking__score__name">Stay*G</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">5501080<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">68<span>位</span></div>
            <div class="nw-ranking__score__name">Ayame</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/27</div>
                <div class="nw-ranking__wp-score__score">5498673<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">69<span>位</span></div>
            <div class="nw-ranking__score__name">Ry0K4</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">5443151<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">70<span>位</span></div>
            <div class="nw-ranking__score__name">Shiomame</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">5384759<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">71<span>位</span></div>
            <div class="nw-ranking__score__name">kanakou</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">5354578<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">72<span>位</span></div>
            <div class="nw-ranking__score__name">EBISIMA</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/27</div>
                <div class="nw-ranking__wp-score__score">5287508<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">73<span>位</span></div>
            <div class="nw-ranking__score__name">PAS</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">5279802<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">74<span>位</span></div>
            <div class="nw-ranking__score__name">O1R0</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/24</div>
                <div class="nw-ranking__wp-score__score">5271104<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">75<span>位</span></div>
            <div class="nw-ranking__score__name">B_Gang</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">5251797<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">76<span>位</span></div>
            <div class="nw-ranking__score__name">LDA_Ky</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/27</div>
                <div class="nw-ranking__wp-score__score">5244307<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">77<span>位</span></div>
            <div class="nw-ranking__score__name">EseL:SF</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">5229587<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">78<span>位</span></div>
            <div class="nw-ranking__score__name">REXXXXHK</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">5228694<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">79<span>位</span></div>
            <div class="nw-ranking__score__name">Uri</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">5228152<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">80<span>位</span></div>
            <div class="nw-ranking__score__name">OJIPaaN</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">5192342<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">81<span>位</span></div>
            <div class="nw-ranking__score__name">TLRD</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">5170470<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">82<span>位</span></div>
            <div class="nw-ranking__score__name">MiNaMi</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/27</div>
                <div class="nw-ranking__wp-score__score">5069237<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">83<span>位</span></div>
            <div class="nw-ranking__score__name">NATTO</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/26</div>
                <div class="nw-ranking__wp-score__score">5059682<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">84<span>位</span></div>
            <div class="nw-ranking__score__name">YCHinSir</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/27</div>
                <div class="nw-ranking__wp-score__score">5034148<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">85<span>位</span></div>
            <div class="nw-ranking__score__name">Sails</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/21</div>
                <div class="nw-ranking__wp-score__score">5031650<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">86<span>位</span></div>
            <div class="nw-ranking__score__name">Paly_4</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">4884540<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">87<span>位</span></div>
            <div class="nw-ranking__score__name">HIME</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">4878827<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">88<span>位</span></div>
            <div class="nw-ranking__score__name">Soahc@NN</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/30</div>
                <div class="nw-ranking__wp-score__score">4864674<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">89<span>位</span></div>
            <div class="nw-ranking__score__name">ADAM</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">4862050<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">90<span>位</span></div>
            <div class="nw-ranking__score__name">SGING</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/27</div>
                <div class="nw-ranking__wp-score__score">4819486<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">91<span>位</span></div>
            <div class="nw-ranking__score__name">Arthur</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">4765555<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">92<span>位</span></div>
            <div class="nw-ranking__score__name">PCM</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/25</div>
                <div class="nw-ranking__wp-score__score">4752347<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">93<span>位</span></div>
            <div class="nw-ranking__score__name">ARPSaint</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">4734944<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">94<span>位</span></div>
            <div class="nw-ranking__score__name">MIYA*RB</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">4722652<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">95<span>位</span></div>
            <div class="nw-ranking__score__name">I+i</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/27</div>
                <div class="nw-ranking__wp-score__score">4689743<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">96<span>位</span></div>
            <div class="nw-ranking__score__name">GENSO*99</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">4645713<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">97<span>位</span></div>
            <div class="nw-ranking__score__name"> F1GT4RT</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/30</div>
                <div class="nw-ranking__wp-score__score">4631075<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">98<span>位</span></div>
            <div class="nw-ranking__score__name">ROZUN</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/29</div>
                <div class="nw-ranking__wp-score__score">4601306<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">99<span>位</span></div>
            <div class="nw-ranking__score__name">Ray*LB</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/27</div>
                <div class="nw-ranking__wp-score__score">4598245<span>RP</span></div>
            </div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">100<span>位</span></div>
            <div class="nw-ranking__score__name">yama</div>
            <div class="nw-ranking__wp-score__right">
                <div class="nw-ranking__wp-score__date">2022/08/28</div>
                <div class="nw-ranking__wp-score__score">4588068<span>RP</span></div>
            </div>
        </li>
    </ul>
</div>
