<div class="collection__filter-btn filter-btn"><a class="btn-filter" data-izimodal-open="#modal_filter_title" href="">フィルタ</a>
    <input id="modal-filter-disp" name="modal-filter-disp" type="hidden" value="0"> <input id="modal-filter-genre"
                                                                                           name="modal-filter-genre"
                                                                                           type="hidden"
                                                                                           value="0"> <input
            id="modal-filter-order" name="modal-filter-order" type="hidden" value="0"> <input id="modal-filter-sort"
                                                                                              name="modal-filter-sort"
                                                                                              type="hidden"
                                                                                              value="0"></div>

<div class="collection__nav">
    <ul class="collection__nav__wrap">
        <li class="collection__btn"><a routerLink="/web/title/preset">通常称号</a></li>
        <li class="collection__btn active"><a routerLink="/web/title/special">特別称号</a></li>
        <li class="collection__btn"><a routerLink="/web/title/custom">カスタマイズ</a></li>
    </ul>
</div>

<div class="collection__title">
    <div class="collection__current-title collection-box">
        <dl>
            <dt>現在の称号</dt>
            <dd>God ？raves?</dd>
        </dl>
    </div>
    <ul class="collection__title-list grid muuri" style="height: 781px;">
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104135"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block;"><p
                data-izimodal-open="#modal_title_special104135" style="opacity: 1; transform: scale(1);">ついに始まる…</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="6" data-title_id="104136"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(71px); display: block;"><p
                data-izimodal-open="#modal_title_special104136" style="opacity: 1; transform: scale(1);">サントラには目がない</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="13" data-title_id="104138"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(142px); display: block;"><p
                data-izimodal-open="#modal_title_special104138" style="opacity: 1; transform: scale(1);">君とならばEver…</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104143"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(213px); display: block;"><p
                data-izimodal-open="#modal_title_special104143" style="opacity: 1; transform: scale(1);">タノシーはいいぞ</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="13" data-title_id="104145"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(284px); display: block;"><p
                data-izimodal-open="#modal_title_special104145" style="opacity: 1; transform: scale(1);">
            円を描く程度の能力</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="13" data-title_id="104208"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(355px); display: block;"><p
                data-izimodal-open="#modal_title_special104208" style="opacity: 1; transform: scale(1);">銀髪の堕天使</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="13" data-title_id="204102"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(426px); display: block;"><p
                data-izimodal-open="#modal_title_special204102" style="opacity: 1; transform: scale(1);">Good Night, Bad
            God.</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="13" data-title_id="204103"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(497px); display: block;"><p
                data-izimodal-open="#modal_title_special204103" style="opacity: 1; transform: scale(1);">God more
            raves?</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="13" data-title_id="204104"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(568px); display: block;"><p
                data-izimodal-open="#modal_title_special204104" style="opacity: 1; transform: scale(1);">CHAIN CHAIN
            CHAIN GOD!!!</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="13" data-title_id="204175"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(639px); display: block;"><p
                data-izimodal-open="#modal_title_special204175" style="opacity: 1; transform: scale(1);">
            国立ノタリウム研究所のトンネル</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="13" data-title_id="204176"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(710px); display: block;"><p
                data-izimodal-open="#modal_title_special204176" style="opacity: 1; transform: scale(1);">果てしない大空へ</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/special/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
    </ul>
</div>
