<section id="option">
    <article>
        <div><h2><span>ノーツタッチSE</span></h2></div>
    </article>
</section>
<section class="collection">
    <div class="contents-wrap">
        <div class="collection__se">
            <div class="collection__current-se collection-box">
                <div class="current-se__stop-btn"><a class="input_sound_btn start">
                    <audio class="input_sound" preload="auto">
                        <source src="/sound/input_sound/205004.mp3" type="audio/mp3">
                    </audio>
                </a></div>
                <dl>
                    <dt>現在のノーツタッチSE</dt>
                    <dd>GROOVE</dd>
                </dl>
            </div>
            <ul class="collection__se-list">
                <li>
                    <div class="se-list__play-btn"><a class="input_sound_btn start">
                        <audio class="input_sound" preload="auto">
                            <source src="/sound/input_sound/105001.mp3" type="audio/mp3">
                        </audio>
                    </a></div>
                    <div class="se-list__detail"><p class="se-list__name"
                                                    data-izimodal-open="#modal_input_sound_confirm105001">デフォルト(WACCA
                        Lily R)</p>
                        <div class="se-list__bottom">
                            <div class="se-list__rank"><img src="/assets/img/web/collection/rank_star_1.png" alt="starimage"
                                                            class=""></div>
                            <a class="pa pf" routerLink="/web/option/noteTouchSe/exec">
                                    <div class="se-list__set-btn">SETする</div>
                                </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="se-list__play-btn"><a class="input_sound_btn start">
                        <audio class="input_sound" preload="auto">
                            <source src="/sound/input_sound/105002.mp3" type="audio/mp3">
                        </audio>
                    </a></div>
                    <div class="se-list__detail"><p class="se-list__name"
                                                    data-izimodal-open="#modal_input_sound_confirm105002">ウッド</p>
                        <div class="se-list__bottom">
                            <div class="se-list__rank"><img src="/assets/img/web/collection/rank_star_1.png" alt="starimage"
                                                            class=""></div>
                            <a class="pa pf" routerLink="/web/option/noteTouchSe/exec">
                                    <div class="se-list__set-btn">SETする</div>
                                </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="se-list__play-btn"><a class="input_sound_btn start">
                        <audio class="input_sound" preload="auto">
                            <source src="/sound/input_sound/105005.mp3" type="audio/mp3">
                        </audio>
                    </a></div>
                    <div class="se-list__detail"><p class="se-list__name"
                                                    data-izimodal-open="#modal_input_sound_confirm105005">スターライト</p>
                        <div class="se-list__bottom">
                            <div class="se-list__rank"><img src="/assets/img/web/collection/rank_star_1.png" alt="starimage"
                                                            class=""></div>
                            <a class="pa pf" routerLink="/web/option/noteTouchSe/exec">
                                    <div class="se-list__set-btn">SETする</div>
                                </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="se-list__play-btn"><a class="input_sound_btn start">
                        <audio class="input_sound" preload="auto">
                            <source src="/sound/input_sound/105006.mp3" type="audio/mp3">
                        </audio>
                    </a></div>
                    <div class="se-list__detail"><p class="se-list__name"
                                                    data-izimodal-open="#modal_input_sound_confirm105006">J-ドラム</p>
                        <div class="se-list__bottom">
                            <div class="se-list__rank"><img src="/assets/img/web/collection/rank_star_2.png" alt="starimage"
                                                            class=""></div>
                            <a class="pa pf" routerLink="/web/option/noteTouchSe/exec">
                                    <div class="se-list__set-btn">SETする</div>
                                </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="se-list__play-btn"><a class="input_sound_btn start">
                        <audio class="input_sound" preload="auto">
                            <source src="/sound/input_sound/105008.mp3" type="audio/mp3">
                        </audio>
                    </a></div>
                    <div class="se-list__detail"><p class="se-list__name"
                                                    data-izimodal-open="#modal_input_sound_confirm105008">クラップ</p>
                        <div class="se-list__bottom">
                            <div class="se-list__rank"><img src="/assets/img/web/collection/rank_star_1.png" alt="starimage"
                                                            class=""></div>
                            <a class="pa pf" routerLink="/web/option/noteTouchSe/exec">
                                    <div class="se-list__set-btn">SETする</div>
                                </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="se-list__play-btn"><a class="input_sound_btn start">
                        <audio class="input_sound" preload="auto">
                            <source src="/sound/input_sound/105011.mp3" type="audio/mp3">
                        </audio>
                    </a></div>
                    <div class="se-list__detail"><p class="se-list__name"
                                                    data-izimodal-open="#modal_input_sound_confirm105011">タノシーガチ</p>
                        <div class="se-list__bottom">
                            <div class="se-list__rank"><img src="/assets/img/web/collection/rank_star_1.png" alt="starimage"
                                                            class=""></div>
                            <a class="pa pf" routerLink="/web/option/noteTouchSe/exec">
                                    <div class="se-list__set-btn">SETする</div>
                                </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="se-list__play-btn"><a class="input_sound_btn start">
                        <audio class="input_sound" preload="auto">
                            <source src="/sound/input_sound/205003.mp3" type="audio/mp3">
                        </audio>
                    </a></div>
                    <div class="se-list__detail"><p class="se-list__name"
                                                    data-izimodal-open="#modal_input_sound_confirm205003">タンバリン</p>
                        <div class="se-list__bottom">
                            <div class="se-list__rank"><img src="/assets/img/web/collection/rank_star_3.png" alt="starimage"
                                                            class=""></div>
                            <a class="pa pf" routerLink="/web/option/noteTouchSe/exec">
                                    <div class="se-list__set-btn">SETする</div>
                                </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="se-list__play-btn"><a class="input_sound_btn start">
                        <audio class="input_sound" preload="auto">
                            <source src="/sound/input_sound/205004.mp3" type="audio/mp3">
                        </audio>
                    </a></div>
                    <div class="se-list__detail"><p class="se-list__name"
                                                    data-izimodal-open="#modal_input_sound_confirm205004">GROOVE</p>
                        <div class="se-list__bottom">
                            <div class="se-list__rank"><img src="/assets/img/web/collection/rank_star_2.png" alt="starimage"
                                                            class=""></div>
                            <a class="pa pf" routerLink="/web/option/noteTouchSe/exec">
                                    <div class="se-list__set-btn">SETする</div>
                                </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="se-list__play-btn"><a class="input_sound_btn start">
                        <audio class="input_sound" preload="auto">
                            <source src="/sound/input_sound/205005.mp3" type="audio/mp3">
                        </audio>
                    </a></div>
                    <div class="se-list__detail"><p class="se-list__name"
                                                    data-izimodal-open="#modal_input_sound_confirm205005">
                        デフォルト(WACCA)</p>
                        <div class="se-list__bottom">
                            <div class="se-list__rank"><img src="/assets/img/web/collection/rank_star_1.png" alt="starimage"
                                                            class=""></div>
                            <a class="pa pf" routerLink="/web/option/noteTouchSe/exec">
                                    <div class="se-list__set-btn">SETする</div>
                                </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="se-list__play-btn"><a class="input_sound_btn start">
                        <audio class="input_sound" preload="auto">
                            <source src="/sound/input_sound/205006.mp3" type="audio/mp3">
                        </audio>
                    </a></div>
                    <div class="se-list__detail"><p class="se-list__name"
                                                    data-izimodal-open="#modal_input_sound_confirm205006">包丁トントン</p>
                        <div class="se-list__bottom">
                            <div class="se-list__rank"><img src="/assets/img/web/collection/rank_star_3.png" alt="starimage"
                                                            class=""></div>
                            <a class="pa pf" routerLink="/web/option/noteTouchSe/exec">
                                    <div class="se-list__set-btn">SETする</div>
                                </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a routerLink="/web/option/soundSetting" class="back-btn bold">戻る</a></div>
</section>
