<section class="option">
    <div class="option__setting"><h2 class="option__title">オプション設定</h2>
        <ul class="option__select">
            <li class="first__index"><a routerLink="/web/option/playerName">
                <div class="select__top long">
                    <div class="select__tl">プレイヤー名変更</div>
                </div>
            </a></li>
            <li class="first__index"><a routerLink="/web/option/gameSetting">
                <div class="select__top long">
                    <div class="select__tl">ゲーム設定</div>
                </div>
            </a></li>
            <li class="first__index"><a routerLink="/web/option/displaySetting">
                <div class="select__top long">
                    <div class="select__tl">表示情報設定</div>
                </div>
            </a></li>
            <li class="first__index"><a routerLink="/web/option/designSetting">
                <div class="select__top long">
                    <div class="select__tl">デザイン設定</div>
                </div>
            </a></li>
            <li class="first__index"><a routerLink="/web/option/soundSetting">
                <div class="select__top long">
                    <div class="select__tl">サウンド設定</div>
                </div>
            </a></li>
        </ul>
    </div>
</section>
