<div class="playdata__score-detail">
    <div class="playdata__score-detail-top">
        <div class="score-detail-top__song-icon"><img src="/img/music/3030.png" alt="music" class=""></div>
        <div class="score-detail-top__song-info">
            <div class="song-info__name">ヒトガタ</div>
            <div class="song-info__artist">HIMEHINA</div>
            <div class="song-info__play-count">累計プレイ回数：
                <span>                            1                        </span>回
            </div>
        </div>
    </div>
    <ul class="score-detail__list">
        <li>
            <div class="score-detail__list__song-info">
                <div class="song-info__top">
                    <div class="song-info__top__lv">
                        <div class="song-info__top__lv diff_icon_normal">NORMAL 3</div>
                    </div>
                    <div class="song-info__top__play-count">プレイ回数： 0 回</div>
                </div>
                <div class="song-info__bottom">
                    <div class="song-info__score"><span class="song-score">SCORE </span> 0</div>
                    <div class="score-detail__icon">
                        <div><img src="/assets/img/web/music/rate_icon/no_rate.svg" alt="noRate" class=""></div>
                        <div><img src="/assets/img/web/music/achieve_icon/no_achieve.svg" alt="achieveimage"
                                  style="height:26px;"></div>
                    </div>
                    <a class="pa pf" routerLink="/web/ranking/musicHighScore/detail"><p class="score-detail__ranking-btn">
                        ランキング</p></a>
                </div>
            </div>
        </li>
        <li>
            <div class="score-detail__list__song-info">
                <div class="song-info__top">
                    <div class="song-info__top__lv">
                        <div class="song-info__top__lv diff_icon_hard">HARD 9+</div>
                    </div>
                    <div class="song-info__top__play-count">プレイ回数： 1 回</div>
                </div>
                <div class="song-info__bottom">
                    <div class="song-info__score"><span class="song-score">SCORE </span> 993443</div>
                    <div class="score-detail__icon">
                        <div><img src="/assets/img/web/music/rate_icon/rate_13.png" alt="rate" class=""></div>
                        <div><img src="/assets/img/web/music/achieve_icon/achieve3.png" alt="achieveimage" class=""></div>
                    </div>
                    <a class="pa pf" routerLink="/web/ranking/musicHighScore/detail"><p class="score-detail__ranking-btn">
                        ランキング</p></a>
                </div>
            </div>
        </li>
        <li>
            <div class="score-detail__list__song-info">
                <div class="song-info__top">
                    <div class="song-info__top__lv">
                        <div class="song-info__top__lv diff_icon_expert">EXPERT 12</div>
                    </div>
                    <div class="song-info__top__play-count">プレイ回数： 0 回</div>
                </div>
                <div class="song-info__bottom">
                    <div class="song-info__score"><span class="song-score">SCORE </span> 0</div>
                    <div class="score-detail__icon">
                        <div><img src="/assets/img/web/music/rate_icon/no_rate.svg" alt="noRate" class=""></div>
                        <div><img src="/assets/img/web/music/achieve_icon/no_achieve.svg" alt="achieveimage"
                                  style="height:26px;"></div>
                    </div>
                    <a class="pa pf" routerLink="/web/ranking/musicHighScore/detail"><p class="score-detail__ranking-btn">
                        ランキング</p></a>
                </div>
            </div>
        </li>
    </ul>
</div>
<a class="back-btn" onclick="javascript:history.go(-1);">戻る</a>
