<div style="margin-bottom: 15px; height: 22px;"></div>

<div class="collection__nav">
    <ul class="collection__nav__wrap">
        <li class="collection__btn"><a routerLink="/web/title/preset">通常称号</a></li>
        <li class="collection__btn"><a routerLink="/web/title/special">特別称号</a></li>
        <li class="collection__btn active"><a routerLink="/web/title/custom">カスタマイズ</a></li>
    </ul>
</div>

<div class="collection__title">
    <div class="collection__current-title collection-box">
        <dl>
            <dt>現在の称号</dt>
            <dd>God ？raves?</dd>
        </dl>
    </div>
    <div class="select_box decoration"><select id="partId1" name="partId1">
        <option value="0">(空白)</option>
        <option value="107001">ゲスト</option>
        <option value="107002">ＷＡＣＣＡ</option>
        <option value="107003">ウェルカム</option>
        <option value="107004">マルチプレイ</option>
        <option value="107007">ボカロ</option>
        <option value="107023">ハードコア</option>
        <option value="107030">この体</option>
        <option value="107033">俺たちの戦い</option>
        <option value="107034">アクセサリー</option>
        <option value="107051">七夕</option>
        <option value="107052">百鬼</option>
        <option value="107054">北海道</option>
        <option value="107061">茨城県</option>
        <option value="107066">東京都</option>
        <option value="107074">岐阜県</option>
        <option value="107076">愛知県</option>
        <option value="107077">三重県</option>
        <option value="107080">大阪府</option>
        <option value="107081">兵庫県</option>
        <option value="107082">奈良県</option>
        <option value="107083">和歌山県</option>
        <option value="107085">島根県</option>
        <option value="107086">岡山県</option>
        <option value="107101">北海道</option>
        <option value="107111">はじめました</option>
        <option value="107112">ワッカ！</option>
        <option value="107113">満タンです</option>
        <option value="107114">誘ってください</option>
        <option value="107117">タノシー</option>
        <option value="107124">愛好家</option>
        <option value="107131">なじんできた</option>
        <option value="107134">マニア</option>
        <option value="107164">ついに</option>
        <option value="107165">サントラ</option>
        <option value="107166">始まる…</option>
        <option value="107167">目がない</option>
        <option value="107240">始まったばかりだ</option>
        <option value="107252">（笑）</option>
        <option value="107253">夜行</option>
        <option value="107256">じゃがいも</option>
        <option value="107263">納豆</option>
        <option value="107268">もんじゃ</option>
        <option value="107276">赤かぶ</option>
        <option value="107278">味噌カツ</option>
        <option value="107279">伊勢海老</option>
        <option value="107282">たこやき</option>
        <option value="107283">神戸牛</option>
        <option value="107284">奈良漬け</option>
        <option value="107285">はっさく</option>
        <option value="107287">出雲そば</option>
        <option value="107288">きびだんご</option>
        <option value="107293">みかん</option>
        <option value="107303">君主！</option>
        <option value="107313">ＳＳ以上</option>
        <option value="107314">マジのクリア</option>
        <option value="107323">君ワッカ</option>
        <option value="107324">うまいねぇ</option>
        <option value="107325">初めて</option>
        <option value="107326">フルコンボ</option>
        <option value="107327">もうちょい</option>
        <option value="107328">あと一歩</option>
        <option value="107329">私のレベル</option>
        <option value="107330">…１０だ！</option>
        <option value="107334">君</option>
        <option value="107336">Ever…</option>
        <option value="107346">タノシー</option>
        <option value="107347">いいぞ</option>
        <option value="107350">円を描く</option>
        <option value="107351">程度の能力</option>
        <option value="107374">ＷＡＣＣＡ Ｓ</option>
        <option value="107464">銀髪</option>
        <option value="107465">堕天使</option>
        <option value="207015">WACCA Lily</option>
        <option value="207044">WACCA Lily 紺レート</option>
        <option value="207045">WACCA Lily 黄レート</option>
        <option value="207046">WACCA Lily 赤レート</option>
        <option value="207047">WACCA Lily 紫レート</option>
        <option value="207048">WACCA Lily 青レート</option>
        <option value="207052">達成！</option>
        <option value="207053">赤</option>
        <option value="207054">独壇場</option>
        <option value="207075">元気</option>
        <option value="207076">おじさん</option>
        <option value="207092">Miss</option>
        <option value="207104">Let's</option>
        <option value="207105">Dive…</option>
        <option value="207108">レバニラ</option>
        <option value="207109">好き？</option>
        <option value="207110">焼肉</option>
        <option value="207111">定食</option>
        <option value="207115">判定</option>
        <option value="207119">朝</option>
        <option value="207122">you</option>
        <option value="207130">有象</option>
        <option value="207131">無象</option>
        <option value="207132">わからない</option>
        <option value="207163">Good Night,</option>
        <option value="207164">Bad God.</option>
        <option selected="" value="207165">God</option>
        <option value="207167">raves?</option>
        <option value="207168">CHAIN</option>
        <option value="207170">CHAIN GOD!!!</option>
        <option value="207174">チキン</option>
        <option value="207175">別腹</option>
        <option value="207192">お姉さま</option>
        <option value="207193">一緒</option>
        <option value="207202">エモ</option>
        <option value="207203">あき</option>
        <option value="207209">大量の</option>
        <option value="207211">箱</option>
        <option value="207215">デッカイ</option>
        <option value="207216">ノーツ</option>
        <option value="207217">滅するべし</option>
        <option value="207220">後発</option>
        <option value="207221">負けません！</option>
        <option value="207227">取る</option>
        <option value="207229">取らせる</option>
        <option value="207238">デフォルトSE</option>
        <option value="207240">良くある</option>
        <option value="207262">ステージアップ</option>
        <option value="207264">いけそうです</option>
        <option value="207288">WACCA Lily R 紺レート</option>
        <option value="207289">WACCA Lily R 黄レート</option>
        <option value="207290">WACCA Lily R 赤レート</option>
        <option value="207291">WACCA Lily R 紫レート</option>
        <option value="207296">国立ノタリウム研究所</option>
        <option value="207297">トンネル</option>
        <option value="207298">果てしない</option>
        <option value="207299">大空へ</option>
        <option value="207639">笹</option>
        <option value="207640">食え</option>
        <option value="307087">WACCA Reverse 紺レート</option>
        <option value="307088">WACCA Reverse 黄レート</option>
        <option value="307089">WACCA Reverse 赤レート</option>
        <option value="307090">WACCA Reverse 紫レート</option>
        <option value="307091">WACCA Reverse 青レート</option>
        <option value="307100">WACCA Reverse</option>
        <option value="307204">いつになく</option>
        <option value="307205">寒いな</option>
        <option value="307206">こたつ</option>
        <option value="307207">de</option>
    </select></div>
    <div class="select_box decoration"><select id="partId2" name="partId2">
        <option value="0">(空白)</option>
        <option value="107448"> (半角スペース)</option>
        <option value="107120">ワッカ</option>
        <option value="107155">まだ</option>
        <option value="107156">から</option>
        <option value="107157">に</option>
        <option value="107158">の</option>
        <option value="107159">が</option>
        <option value="107160">と</option>
        <option value="107161">以外</option>
        <option value="107162">でも</option>
        <option value="107163">は</option>
        <option value="107168">には</option>
        <option value="107169">そして</option>
        <option value="107170">そこで</option>
        <option value="107171">それで</option>
        <option value="107172">さらに</option>
        <option value="107173">それに</option>
        <option value="107174">しかも</option>
        <option value="107175">ただし</option>
        <option value="107176">する</option>
        <option value="107177">すると</option>
        <option value="107178">ところ</option>
        <option value="107179">また</option>
        <option value="107180">または</option>
        <option value="107181">および</option>
        <option value="107182">同じく</option>
        <option value="107183">ながら</option>
        <option value="107184">たり</option>
        <option value="107185">とか</option>
        <option value="107186">や</option>
        <option value="107187">やら</option>
        <option value="107188">か</option>
        <option value="107189">なり</option>
        <option value="107190">しか</option>
        <option value="107191">のみ</option>
        <option value="107192">まで</option>
        <option value="107193">なお</option>
        <option value="107194">まさに</option>
        <option value="107195">して</option>
        <option value="107196">だが</option>
        <option value="107197">しかし</option>
        <option value="107198">やがて</option>
        <option value="107199">さて</option>
        <option value="107200">むしろ</option>
        <option value="107201">いっそ</option>
        <option value="107202">まして</option>
        <option value="107203">もし</option>
        <option value="107204">かりに</option>
        <option value="107205">たとえ</option>
        <option value="107206">たら</option>
        <option value="107207">なら</option>
        <option value="107208">ては</option>
        <option value="107209">のに</option>
        <option value="107210">まさか</option>
        <option value="107211">しては</option>
        <option value="107212">つまり</option>
        <option value="107213">だから</option>
        <option value="107214">よって</option>
        <option value="107215">ゆえに</option>
        <option value="107216">では</option>
        <option value="107217">いわば</option>
        <option value="107218">ので</option>
        <option value="107219">ために</option>
        <option value="107220">だけに</option>
        <option value="107221">からの</option>
        <option value="107222">トゥ</option>
        <option value="107237">にも</option>
        <option value="107238">ちょっと</option>
        <option value="107241">も</option>
        <option value="107242">＜</option>
        <option value="107246">など</option>
        <option value="107255">といえば</option>
        <option value="107335">とならば</option>
        <option value="107353">な</option>
        <option value="207120">1</option>
        <option value="207121">2</option>
        <option value="207166">more</option>
        <option value="207169">CHAIN</option>
        <option value="207200">い</option>
        <option value="207210">みかんの</option>
        <option value="207228">のではなく</option>
        <option selected="" value="207239">？</option>
        <option value="207263">6</option>
    </select></div>
    <div class="select_box decoration"><select id="partId3" name="partId3">
        <option value="0">(空白)</option>
        <option value="107001">ゲスト</option>
        <option value="107002">ＷＡＣＣＡ</option>
        <option value="107003">ウェルカム</option>
        <option value="107004">マルチプレイ</option>
        <option value="107007">ボカロ</option>
        <option value="107023">ハードコア</option>
        <option value="107030">この体</option>
        <option value="107033">俺たちの戦い</option>
        <option value="107034">アクセサリー</option>
        <option value="107051">七夕</option>
        <option value="107052">百鬼</option>
        <option value="107054">北海道</option>
        <option value="107061">茨城県</option>
        <option value="107066">東京都</option>
        <option value="107074">岐阜県</option>
        <option value="107076">愛知県</option>
        <option value="107077">三重県</option>
        <option value="107080">大阪府</option>
        <option value="107081">兵庫県</option>
        <option value="107082">奈良県</option>
        <option value="107083">和歌山県</option>
        <option value="107085">島根県</option>
        <option value="107086">岡山県</option>
        <option value="107101">北海道</option>
        <option value="107111">はじめました</option>
        <option value="107112">ワッカ！</option>
        <option value="107113">満タンです</option>
        <option value="107114">誘ってください</option>
        <option value="107117">タノシー</option>
        <option value="107124">愛好家</option>
        <option value="107131">なじんできた</option>
        <option value="107134">マニア</option>
        <option value="107164">ついに</option>
        <option value="107165">サントラ</option>
        <option value="107166">始まる…</option>
        <option value="107167">目がない</option>
        <option value="107240">始まったばかりだ</option>
        <option value="107252">（笑）</option>
        <option value="107253">夜行</option>
        <option value="107256">じゃがいも</option>
        <option value="107263">納豆</option>
        <option value="107268">もんじゃ</option>
        <option value="107276">赤かぶ</option>
        <option value="107278">味噌カツ</option>
        <option value="107279">伊勢海老</option>
        <option value="107282">たこやき</option>
        <option value="107283">神戸牛</option>
        <option value="107284">奈良漬け</option>
        <option value="107285">はっさく</option>
        <option value="107287">出雲そば</option>
        <option value="107288">きびだんご</option>
        <option value="107293">みかん</option>
        <option value="107303">君主！</option>
        <option value="107313">ＳＳ以上</option>
        <option value="107314">マジのクリア</option>
        <option value="107323">君ワッカ</option>
        <option value="107324">うまいねぇ</option>
        <option value="107325">初めて</option>
        <option value="107326">フルコンボ</option>
        <option value="107327">もうちょい</option>
        <option value="107328">あと一歩</option>
        <option value="107329">私のレベル</option>
        <option value="107330">…１０だ！</option>
        <option value="107334">君</option>
        <option value="107336">Ever…</option>
        <option value="107346">タノシー</option>
        <option value="107347">いいぞ</option>
        <option value="107350">円を描く</option>
        <option value="107351">程度の能力</option>
        <option value="107374">ＷＡＣＣＡ Ｓ</option>
        <option value="107464">銀髪</option>
        <option value="107465">堕天使</option>
        <option value="207015">WACCA Lily</option>
        <option value="207044">WACCA Lily 紺レート</option>
        <option value="207045">WACCA Lily 黄レート</option>
        <option value="207046">WACCA Lily 赤レート</option>
        <option value="207047">WACCA Lily 紫レート</option>
        <option value="207048">WACCA Lily 青レート</option>
        <option value="207052">達成！</option>
        <option value="207053">赤</option>
        <option value="207054">独壇場</option>
        <option value="207075">元気</option>
        <option value="207076">おじさん</option>
        <option value="207092">Miss</option>
        <option value="207104">Let's</option>
        <option value="207105">Dive…</option>
        <option value="207108">レバニラ</option>
        <option value="207109">好き？</option>
        <option value="207110">焼肉</option>
        <option value="207111">定食</option>
        <option value="207115">判定</option>
        <option value="207119">朝</option>
        <option value="207122">you</option>
        <option value="207130">有象</option>
        <option value="207131">無象</option>
        <option value="207132">わからない</option>
        <option value="207163">Good Night,</option>
        <option value="207164">Bad God.</option>
        <option value="207165">God</option>
        <option selected="" value="207167">raves?</option>
        <option value="207168">CHAIN</option>
        <option value="207170">CHAIN GOD!!!</option>
        <option value="207174">チキン</option>
        <option value="207175">別腹</option>
        <option value="207192">お姉さま</option>
        <option value="207193">一緒</option>
        <option value="207202">エモ</option>
        <option value="207203">あき</option>
        <option value="207209">大量の</option>
        <option value="207211">箱</option>
        <option value="207215">デッカイ</option>
        <option value="207216">ノーツ</option>
        <option value="207217">滅するべし</option>
        <option value="207220">後発</option>
        <option value="207221">負けません！</option>
        <option value="207227">取る</option>
        <option value="207229">取らせる</option>
        <option value="207238">デフォルトSE</option>
        <option value="207240">良くある</option>
        <option value="207262">ステージアップ</option>
        <option value="207264">いけそうです</option>
        <option value="207288">WACCA Lily R 紺レート</option>
        <option value="207289">WACCA Lily R 黄レート</option>
        <option value="207290">WACCA Lily R 赤レート</option>
        <option value="207291">WACCA Lily R 紫レート</option>
        <option value="207296">国立ノタリウム研究所</option>
        <option value="207297">トンネル</option>
        <option value="207298">果てしない</option>
        <option value="207299">大空へ</option>
        <option value="207639">笹</option>
        <option value="207640">食え</option>
        <option value="307087">WACCA Reverse 紺レート</option>
        <option value="307088">WACCA Reverse 黄レート</option>
        <option value="307089">WACCA Reverse 赤レート</option>
        <option value="307090">WACCA Reverse 紫レート</option>
        <option value="307091">WACCA Reverse 青レート</option>
        <option value="307100">WACCA Reverse</option>
        <option value="307204">いつになく</option>
        <option value="307205">寒いな</option>
        <option value="307206">こたつ</option>
        <option value="307207">de</option>
    </select></div>
    <p>設定したいワードを選択してください。</p>            <a class="btn" data-izimodal-open="#modal_title_customize">変更する</a></div>
