<section id="option">
    <article>
        <div><h2><span>中央表示</span></h2>
            <div class="article"><p class="top_description">画面中央表示を設定できます。</p>
                <p><select id="optionValue" name="optionValue">
                    <option value="0">なし</option>
                    <option value="1" selected="">COMBO表示</option>
                    <option value="2">スコア（加算タイプ）</option>
                    <option value="3">スコア（減算タイプ）</option>
                    <option value="4">Sボーダー</option>
                    <option value="5">SSボーダー</option>
                    <option value="6">SSSボーダー</option>
                    <option value="7">自己ベストボーダー</option>
                </select></p>
                <a class="btn option_confirm" data-izimodal-open="#modal_option_confirm">変更する</a> <a
                        routerLink="/web/option/displaySetting" class="back-btn bold">戻る</a></div><!-- /article -->
        </div>
    </article>
</section>
