<div class="playdata__playerdata">
    <div class="user-info">
        <div class="user-info__icon">
            <div class="user-info__icon__stage"></div>
            <div class="symbol__color__base"><img alt="symbol_color" class="" src="/img/symbol_color/303001.png">
                <div class="icon__image"><img alt="icon" class="" src="/img/icon/102100.png"></div>
            </div>
        </div>
        <div class="user-info__detail">
            <div class="user-info__detail__wrap">
                <div class="user-info__detail__lv"><span>Lv 24</span></div>
                <div class="user-info__detail__name">USER_001</div>
            </div>
            <div class="user-info__detail__title">God ？raves?</div>
            <div class="user-info__detail__wrap">
                <div class="user-info__detail__wp"><img src="/assets/img/web/top/info/rp.png"
                                                        width="20">7480<span>&nbsp;RP</span></div>
                <div class="user-info__detail__ex"><img src="/assets/img/web/top/info/ex.png" width="28">0</div>
            </div>
            <div class="rating__wrap">
                <div class="rating__img"><img alt="rating_icon" class="" src="/assets/img/web/rating/rate_003.png">
                    <div class="rating__data">1613</div>
                </div>
            </div>
        </div>
    </div>
    <div class="play-count">
        <dl class="play-count__title">
            <dt>楽曲プレイ回数</dt>
            <dd>168<span>回</span></dd>
        </dl>
        <dl class="play-count__detail">
            <dt>VS モードプレイ回数</dt>
            <dd>0<span>回</span></dd>
        </dl>
        <dl class="play-count__detail">
            <dt>CO-OP モード楽曲プレイ回数</dt>
            <dd>0<span>回</span></dd>
        </dl>
    </div>
    <div class="poss-wp">
        <dl class="poss-wp__title">
            <dt>所持&nbsp;RP</dt>
            <dd>7480<span>RP</span></dd>
        </dl>
        <dl class="poss-wp__detail">
            <dt>累計&nbsp;RP</dt>
        <dd>14730<span>RP</span></dd>
        </dl>
        <dl class="poss-wp__detail">
            <dt>使用&nbsp;RP</dt>
            <dd>7250<span>RP</span></dd>
        </dl>
    </div>
    <div class="playdata__difficulty">
        <ul class="playdata__difficulty__wrap">
            <li class="difficulty__btn difficulty__btn-all active"><img height="8"
                                                                        src="/assets/img/web/play_data/btntx_all.png"></li>
            <li class="difficulty__btn difficulty__btn-normal"><img height="8"
                                                                    src="/assets/img/web/play_data/btntx_normal.png"></li>
            <li class="difficulty__btn difficulty__btn-hard"><img height="8" src="/assets/img/web/play_data/btntx_hard.png">
            </li>
            <li class="difficulty__btn difficulty__btn-expert"><img height="8"
                                                                    src="/assets/img/web/play_data/btntx_expert.png"></li>
            <li class="difficulty__btn difficulty__btn-inferno"><img height="8"
                                                                     src="/assets/img/web/play_data/btntx_inferno.png"></li>
        </ul>
    </div>
    <div class="playdata__score-point">
        <ul class="playdata__score-point__wrap">
            <li>
                <div><img src="/assets/img/web/play_data/icon/c_txt_clear.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">98/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">27/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">34/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">37/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_s.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">95/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">27/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">34/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">34/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_s_plus.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">92/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">27/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">34/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">31/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li>
                <div><img src="/assets/img/web/play_data/icon/c_txt_missless.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">76/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">27/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">33/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">16/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_ss.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">90/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">27/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">34/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">29/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_ss_plus.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">70/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">26/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">30/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">14/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li>
                <div><img src="/assets/img/web/play_data/icon/c_txt_full.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">46/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">26/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">17/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">3/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_sss.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">69/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">26/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">30/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">13/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_sss_plus.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">27/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">20/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">6/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">1/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li>
                <div><img src="/assets/img/web/play_data/icon/c_txt_all_m.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">23/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">20/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">3/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">0/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_master.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">23/<span
                        class="score-point__difficulty difficulty__all is-show">1139</span></p>
                <p class="score-point__difficulty difficulty__normal">20/<span
                        class="score-point__difficulty difficulty__normal">371</span></p>
                <p class="score-point__difficulty difficulty__hard">3/<span
                        class="score-point__difficulty difficulty__hard">371</span></p>
                <p class="score-point__difficulty difficulty__expert">0/<span
                        class="score-point__difficulty difficulty__expert">371</span></p>
                <p class="score-point__difficulty difficulty__inferno">0/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
        </ul>
    </div>
</div>
