<div class="ranking__difficulty">
    <ul class="ranking__difficulty__wrap">
        <li id="isNormal" class="difficulty__btn difficulty__btn-normal  active ">
            <a class="pa mode_n" routerLink="/web/ranking/totalHighScore/detail"><img src="/assets/img/web/play_data/btntx_normal.png"
                                                                              height="8"></a>
        </li>
        <li id="isHard" class="difficulty__btn difficulty__btn-hard ">
            <a class="pa mode_h" routerLink="/web/ranking/totalHighScore/detail"><img src="/assets/img/web/play_data/btntx_hard.png"
                                                                              height="8"></a>
        </li>
        <li id="isExpert" class="difficulty__btn difficulty__btn-expert ">
            <a class="pa mode_ex" routerLink="/web/ranking/totalHighScore/detail"><img src="/assets/img/web/play_data/btntx_expert.png"
                                                                              height="8"></a>
        </li>
        <li id="isInferno" class="difficulty__btn difficulty__btn-inferno ">
            <a class="pa mode_inf" routerLink="/web/ranking/totalHighScore/detail"><img src="/assets/img/web/play_data/btntx_inferno.png"
                                                                              height="8"></a>
        </li>
    </ul>
</div>
<div class="ranking__score">
    <div class="ranking__score__rank top-rank">1722位</div>
    <div class="ranking__score__name">USER_001</div>
    <div class="ranking__score__score"><span>SCORE</span><br>27376168</div>
</div>

<div class="nw-ranking"><h2>全国ランキング</h2>
    <ul class="nw-ranking-wrap">
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">TUTI</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">DJHakuyu</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">Satomai</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">218m16</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">Nag@re*</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">YZ.4241</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">Gsyo</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">OISTA</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">WaLuiGi</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">CHART</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">Uri</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">84M</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">PLUS-400</div>
            <div class="nw-ranking__score__score"><span>2022/07/19</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">yama</div>
            <div class="nw-ranking__score__score"><span>2022/07/23</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">KSHM</div>
            <div class="nw-ranking__score__score"><span>2022/07/23</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">JIFTo</div>
            <div class="nw-ranking__score__score"><span>2022/08/04</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">Soahc@NN</div>
            <div class="nw-ranking__score__score"><span>2022/08/06</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">mikan</div>
            <div class="nw-ranking__score__score"><span>2022/08/17</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">-ATLAX-</div>
            <div class="nw-ranking__score__score"><span>2022/08/24</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">Yoza_127</div>
            <div class="nw-ranking__score__score"><span>2022/08/26</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank rank-1st"><img src="/assets/img/web/ranking/icon-1st.png" height="22"></div>
            <div class="nw-ranking__score__name">ASAKI</div>
            <div class="nw-ranking__score__score"><span>2022/08/27</span><br>371000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">22<span>位</span></div>
            <div class="nw-ranking__score__name">MARIANTE</div>
            <div class="nw-ranking__score__score"><span>2022/08/28</span><br>370954094</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">23<span>位</span></div>
            <div class="nw-ranking__score__name">LiME487</div>
            <div class="nw-ranking__score__score"><span>2022/08/29</span><br>370761265</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">24<span>位</span></div>
            <div class="nw-ranking__score__name">ALUCARD</div>
            <div class="nw-ranking__score__score"><span>2022/08/29</span><br>370704083</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">25<span>位</span></div>
            <div class="nw-ranking__score__name">KOHAKU</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>370568177</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">26<span>位</span></div>
            <div class="nw-ranking__score__name">EL-115</div>
            <div class="nw-ranking__score__score"><span>2022/08/18</span><br>370530867</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">27<span>位</span></div>
            <div class="nw-ranking__score__name">LEMRUS</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>370502062</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">28<span>位</span></div>
            <div class="nw-ranking__score__name">LED</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>370271502</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">29<span>位</span></div>
            <div class="nw-ranking__score__name">HS-Kerug</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>370218361</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">30<span>位</span></div>
            <div class="nw-ranking__score__name">MTU38</div>
            <div class="nw-ranking__score__score"><span>2022/08/28</span><br>370215051</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">31<span>位</span></div>
            <div class="nw-ranking__score__name">KZ&amp;manju</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>370176802</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">32<span>位</span></div>
            <div class="nw-ranking__score__name">HOSOUS</div>
            <div class="nw-ranking__score__score"><span>2022/08/28</span><br>370012310</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">33<span>位</span></div>
            <div class="nw-ranking__score__name">(VUV)=2</div>
            <div class="nw-ranking__score__score"><span>2022/07/23</span><br>369973028</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">34<span>位</span></div>
            <div class="nw-ranking__score__name">Shiomame</div>
            <div class="nw-ranking__score__score"><span>2022/07/20</span><br>369950334</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">35<span>位</span></div>
            <div class="nw-ranking__score__name">CHIMNAE</div>
            <div class="nw-ranking__score__score"><span>2022/08/26</span><br>369946549</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">36<span>位</span></div>
            <div class="nw-ranking__score__name">Mr.814</div>
            <div class="nw-ranking__score__score"><span>2022/07/25</span><br>369940534</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">37<span>位</span></div>
            <div class="nw-ranking__score__name">GEN-H</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>369735484</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">38<span>位</span></div>
            <div class="nw-ranking__score__name">PELMO</div>
            <div class="nw-ranking__score__score"><span>2022/08/12</span><br>367863897</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">39<span>位</span></div>
            <div class="nw-ranking__score__name">YuYu</div>
            <div class="nw-ranking__score__score"><span>2022/08/29</span><br>367152010</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">40<span>位</span></div>
            <div class="nw-ranking__score__name">CBR1000</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>366773469</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">41<span>位</span></div>
            <div class="nw-ranking__score__name">TETSUYA.</div>
            <div class="nw-ranking__score__score"><span>2022/08/07</span><br>366266628</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">42<span>位</span></div>
            <div class="nw-ranking__score__name">K-FISHER</div>
            <div class="nw-ranking__score__score"><span>2022/07/24</span><br>363854483</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">43<span>位</span></div>
            <div class="nw-ranking__score__name">CREAMPAN</div>
            <div class="nw-ranking__score__score"><span>2022/07/10</span><br>363000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">44<span>位</span></div>
            <div class="nw-ranking__score__name">NakaM</div>
            <div class="nw-ranking__score__score"><span>2022/08/27</span><br>362478576</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">45<span>位</span></div>
            <div class="nw-ranking__score__name">Nerketur</div>
            <div class="nw-ranking__score__score"><span>2022/08/01</span><br>357952402</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">46<span>位</span></div>
            <div class="nw-ranking__score__name">WKM@SSRB</div>
            <div class="nw-ranking__score__score"><span>2022/08/05</span><br>357000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">47<span>位</span></div>
            <div class="nw-ranking__score__name">RANDOM</div>
            <div class="nw-ranking__score__score"><span>2022/08/06</span><br>356962462</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">48<span>位</span></div>
            <div class="nw-ranking__score__name">KAMIJO</div>
            <div class="nw-ranking__score__score"><span>2022/08/25</span><br>356916267</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">49<span>位</span></div>
            <div class="nw-ranking__score__name">NYAFTAMA</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>356489585</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">50<span>位</span></div>
            <div class="nw-ranking__score__name">JUNCHI</div>
            <div class="nw-ranking__score__score"><span>2022/07/21</span><br>354402219</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">51<span>位</span></div>
            <div class="nw-ranking__score__name">PAr4FfiN</div>
            <div class="nw-ranking__score__score"><span>2022/07/05</span><br>354000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">52<span>位</span></div>
            <div class="nw-ranking__score__name">Mi5et5u</div>
            <div class="nw-ranking__score__score"><span>2022/07/17</span><br>353489355</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">53<span>位</span></div>
            <div class="nw-ranking__score__name">ZED</div>
            <div class="nw-ranking__score__score"><span>2022/08/25</span><br>353106006</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">54<span>位</span></div>
            <div class="nw-ranking__score__name">KOM</div>
            <div class="nw-ranking__score__score"><span>2022/08/28</span><br>351038656</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">55<span>位</span></div>
            <div class="nw-ranking__score__name">I+i</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>351000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">56<span>位</span></div>
            <div class="nw-ranking__score__name">YUKARI</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>350296050</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">57<span>位</span></div>
            <div class="nw-ranking__score__name">KUTAR$&amp;%</div>
            <div class="nw-ranking__score__score"><span>2022/07/19</span><br>350053445</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">58<span>位</span></div>
            <div class="nw-ranking__score__name">RIRI@-01</div>
            <div class="nw-ranking__score__score"><span>2022/07/01</span><br>349000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">59<span>位</span></div>
            <div class="nw-ranking__score__name">GON2036</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>347582163</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">60<span>位</span></div>
            <div class="nw-ranking__score__name">MGFRM</div>
            <div class="nw-ranking__score__score"><span>2022/06/26</span><br>347000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">61<span>位</span></div>
            <div class="nw-ranking__score__name">HACHI</div>
            <div class="nw-ranking__score__score"><span>2022/08/09</span><br>346734654</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">62<span>位</span></div>
            <div class="nw-ranking__score__name">ACT</div>
            <div class="nw-ranking__score__score"><span>2022/06/04</span><br>346000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">63<span>位</span></div>
            <div class="nw-ranking__score__name">GEORGE</div>
            <div class="nw-ranking__score__score"><span>2022/06/19</span><br>345286521</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">64<span>位</span></div>
            <div class="nw-ranking__score__name">PAN</div>
            <div class="nw-ranking__score__score"><span>2022/06/01</span><br>345284512</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">65<span>位</span></div>
            <div class="nw-ranking__score__name">INUNIN</div>
            <div class="nw-ranking__score__score"><span>2022/06/20</span><br>344382083</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">66<span>位</span></div>
            <div class="nw-ranking__score__name">MASAKAZU</div>
            <div class="nw-ranking__score__score"><span>2022/06/03</span><br>343855022</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">67<span>位</span></div>
            <div class="nw-ranking__score__name">MAME</div>
            <div class="nw-ranking__score__score"><span>2022/05/14</span><br>343437226</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">68<span>位</span></div>
            <div class="nw-ranking__score__name">VEL*hono</div>
            <div class="nw-ranking__score__score"><span>2022/04/16</span><br>342000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">68<span>位</span></div>
            <div class="nw-ranking__score__name">Master.K</div>
            <div class="nw-ranking__score__score"><span>2022/06/15</span><br>342000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">70<span>位</span></div>
            <div class="nw-ranking__score__name">Yuzuri</div>
            <div class="nw-ranking__score__score"><span>2022/03/26</span><br>341000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">71<span>位</span></div>
            <div class="nw-ranking__score__name">herakino</div>
            <div class="nw-ranking__score__score"><span>2022/06/28</span><br>340657278</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">72<span>位</span></div>
            <div class="nw-ranking__score__name">CAPTOR</div>
            <div class="nw-ranking__score__score"><span>2022/03/05</span><br>339000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">72<span>位</span></div>
            <div class="nw-ranking__score__name">SiRen-HZ</div>
            <div class="nw-ranking__score__score"><span>2022/03/07</span><br>339000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">74<span>位</span></div>
            <div class="nw-ranking__score__name">RISUROU</div>
            <div class="nw-ranking__score__score"><span>2022/03/13</span><br>337912567</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">75<span>位</span></div>
            <div class="nw-ranking__score__name">$HIRO$</div>
            <div class="nw-ranking__score__score"><span>2022/05/01</span><br>336988687</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">76<span>位</span></div>
            <div class="nw-ranking__score__name">NEOESAN</div>
            <div class="nw-ranking__score__score"><span>2022/02/12</span><br>335813248</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">77<span>位</span></div>
            <div class="nw-ranking__score__name">Rua</div>
            <div class="nw-ranking__score__score"><span>2022/06/24</span><br>335774180</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">78<span>位</span></div>
            <div class="nw-ranking__score__name">EUPHORIA</div>
            <div class="nw-ranking__score__score"><span>2022/01/15</span><br>333000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">79<span>位</span></div>
            <div class="nw-ranking__score__name">HMG_uRua</div>
            <div class="nw-ranking__score__score"><span>2022/06/06</span><br>332000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">80<span>位</span></div>
            <div class="nw-ranking__score__name">SYUN</div>
            <div class="nw-ranking__score__score"><span>2021/12/28</span><br>330000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">81<span>位</span></div>
            <div class="nw-ranking__score__name">S</div>
            <div class="nw-ranking__score__score"><span>2022/02/28</span><br>327287463</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">82<span>位</span></div>
            <div class="nw-ranking__score__name">E.ch4N@W</div>
            <div class="nw-ranking__score__score"><span>2021/12/23</span><br>326000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">83<span>位</span></div>
            <div class="nw-ranking__score__name">LAQ</div>
            <div class="nw-ranking__score__score"><span>2021/12/13</span><br>325995280</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">84<span>位</span></div>
            <div class="nw-ranking__score__name">OTACON</div>
            <div class="nw-ranking__score__score"><span>2021/12/01</span><br>325000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">85<span>位</span></div>
            <div class="nw-ranking__score__name">Est_MNT</div>
            <div class="nw-ranking__score__score"><span>2022/05/05</span><br>324988741</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">86<span>位</span></div>
            <div class="nw-ranking__score__name">MASAKI</div>
            <div class="nw-ranking__score__score"><span>2022/07/18</span><br>324377547</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">87<span>位</span></div>
            <div class="nw-ranking__score__name">WZOJIU</div>
            <div class="nw-ranking__score__score"><span>2022/06/18</span><br>323998649</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">88<span>位</span></div>
            <div class="nw-ranking__score__name">*Lite*</div>
            <div class="nw-ranking__score__score"><span>2022/08/19</span><br>323985141</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">89<span>位</span></div>
            <div class="nw-ranking__score__name">H.HINANI</div>
            <div class="nw-ranking__score__score"><span>2022/07/21</span><br>323350859</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">90<span>位</span></div>
            <div class="nw-ranking__score__name">SLOTH</div>
            <div class="nw-ranking__score__score"><span>2021/12/13</span><br>322000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">91<span>位</span></div>
            <div class="nw-ranking__score__name">FT.A_LKU</div>
            <div class="nw-ranking__score__score"><span>2022/04/27</span><br>320538876</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">92<span>位</span></div>
            <div class="nw-ranking__score__name">Alkali</div>
            <div class="nw-ranking__score__score"><span>2022/02/05</span><br>319083937</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">93<span>位</span></div>
            <div class="nw-ranking__score__name">sima</div>
            <div class="nw-ranking__score__score"><span>2021/10/27</span><br>315000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">94<span>位</span></div>
            <div class="nw-ranking__score__name">ZETTA@xz</div>
            <div class="nw-ranking__score__score"><span>2022/05/02</span><br>313000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">95<span>位</span></div>
            <div class="nw-ranking__score__name">KAMINARI</div>
            <div class="nw-ranking__score__score"><span>2021/12/26</span><br>312335909</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">96<span>位</span></div>
            <div class="nw-ranking__score__name">Talamaar</div>
            <div class="nw-ranking__score__score"><span>2021/12/05</span><br>312000000</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">97<span>位</span></div>
            <div class="nw-ranking__score__name">HIMON K</div>
            <div class="nw-ranking__score__score"><span>2022/08/27</span><br>311021353</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">98<span>位</span></div>
            <div class="nw-ranking__score__name">Ritsuwi</div>
            <div class="nw-ranking__score__score"><span>2022/04/04</span><br>310883356</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">99<span>位</span></div>
            <div class="nw-ranking__score__name">WANDER</div>
            <div class="nw-ranking__score__score"><span>2022/07/16</span><br>310486011</div>
        </li>
        <li>
            <div class="nw-ranking__score__rank">100<span>位</span></div>
            <div class="nw-ranking__score__name">SACHI</div>
            <div class="nw-ranking__score__score"><span>2022/06/04</span><br>306931359</div>
        </li>
    </ul>
</div>
