<section id="option">
    <article>
        <div><h2><span>マイカラー</span></h2></div>
    </article>
</section>

<section class="collection">
    <div class="contents-wrap">
        <div class="collection__mycolor">
            <div class="collection__current-mycolor collection-box">
                <dl>
                    <dt>現在のマイカラー</dt>
                    <dd>
                        <div class="current-mycolor__icon"><img src="/img/symbol_color/303001.png" alt="symbol_color"
                                                                class=""></div>
                        <div class="current-mycolor__info">
                            <div class="current-mycolor__rank"><img src="/assets/img/web/collection/rank_star_1.png"
                                                                    alt="starimage" class=""></div>
                            <p class="current-mycolor__name">ルーンカラー</p></div>
                    </dd>
                </dl>
            </div>
            <ul class="collection__mycolor-list">
                <li>
                    <div class="mycolor-list__icon" data-izimodal-open="#modal_symbol_color_confirm103001"><img
                            src="/img/symbol_color/103001.png" alt="symbol_color" class=""></div>
                    <p class="mycolor-list__name">デフォルトカラー</p>
                    <div class="mycolor-list__bottom">
                        <div class="mycolor-list__rank"><img src="/assets/img/web/collection/rank_star_1.png" alt="starimage"
                                                             class=""></div>
                        <div class="mycolor-list__set-btn">
                            <a class="pa pf" routerLink="/web/option/myColor/exec"><p>SETする</p></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mycolor-list__icon" data-izimodal-open="#modal_symbol_color_confirm103004"><img
                            src="/img/symbol_color/103004.png" alt="symbol_color" class=""></div>
                    <p class="mycolor-list__name">EXバイオレット</p>
                    <div class="mycolor-list__bottom">
                        <div class="mycolor-list__rank"><img src="/assets/img/web/collection/rank_star_3.png" alt="starimage"
                                                             class=""></div>
                        <div class="mycolor-list__set-btn">
                            <a class="pa pf" routerLink="/web/option/myColor/exec"><p>SETする</p></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mycolor-list__icon" data-izimodal-open="#modal_symbol_color_confirm103006"><img
                            src="/img/symbol_color/103006.png" alt="symbol_color" class=""></div>
                    <p class="mycolor-list__name">カラフルアーチ</p>
                    <div class="mycolor-list__bottom">
                        <div class="mycolor-list__rank"><img src="/assets/img/web/collection/rank_star_2.png" alt="starimage"
                                                             class=""></div>
                        <div class="mycolor-list__set-btn">
                            <a class="pa pf" routerLink="/web/option/myColor/exec"><p>SETする</p></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mycolor-list__icon" data-izimodal-open="#modal_symbol_color_confirm203001"><img
                            src="/img/symbol_color/203001.png" alt="symbol_color" class=""></div>
                    <p class="mycolor-list__name">リリィカラー</p>
                    <div class="mycolor-list__bottom">
                        <div class="mycolor-list__rank"><img src="/assets/img/web/collection/rank_star_1.png" alt="starimage"
                                                             class=""></div>
                        <div class="mycolor-list__set-btn">
                            <a class="pa pf" routerLink="/web/option/myColor/exec"><p>SETする</p></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mycolor-list__icon" data-izimodal-open="#modal_symbol_color_confirm203004"><img
                            src="/img/symbol_color/203004.png" alt="symbol_color" class=""></div>
                    <p class="mycolor-list__name">トリコロール</p>
                    <div class="mycolor-list__bottom">
                        <div class="mycolor-list__rank"><img src="/assets/img/web/collection/rank_star_2.png" alt="starimage"
                                                             class=""></div>
                        <div class="mycolor-list__set-btn">
                            <a class="pa pf" routerLink="/web/option/myColor/exec"><p>SETする</p></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mycolor-list__icon" data-izimodal-open="#modal_symbol_color_confirm303001"><img
                            src="/img/symbol_color/303001.png" alt="symbol_color" class=""></div>
                    <p class="mycolor-list__name">ルーンカラー</p>
                    <div class="mycolor-list__bottom">
                        <div class="mycolor-list__rank"><img src="/assets/img/web/collection/rank_star_1.png" alt="starimage"
                                                             class=""></div>
                        <div class="mycolor-list__set-btn">
                            <a class="pa pf" routerLink="/web/option/myColor/exec"><p>SETする</p></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a routerLink="/web/option/designSetting" class="back-btn bold">戻る</a></div>
</section>
