<section class="stageup">
    <div class="stageup__detail">
        <div class="stageup__detail__top">
            <div class="stageup__detail__top__course-info">
                <div class="stageup__detail__top__name">ステージIII</div>
                <div class="stageup__detail__top__score"><span class="song-score">TOTAL SCORE</span>0</div>
            </div>
            <div class="stageup__detail__course-icon"></div>
        </div>
        <ul class="stageup__detail__wrap">
            <li>
                <div class="stageup__detail__song-icon"><img src="/img/music/2215.png" alt="music" class=""></div>
                <div class="stageup__detail__song-info">
                    <div class="stageup__detail__song-info__top"><span class="song-num">1曲目</span></div>
                    <div class="stageup__detail__song-info__name">フィクサー</div>
                    <div class="stageup__detail__song-info__score"><span class="song-score">SCORE</span>0</div>
                </div>
            </li>
            <li>
                <div class="stageup__detail__song-icon"><img src="/img/music/2092.png" alt="music" class=""></div>
                <div class="stageup__detail__song-info">
                    <div class="stageup__detail__song-info__top"><span class="song-num">2曲目</span></div>
                    <div class="stageup__detail__song-info__name">ホイホイ☆幻想ホロイズム</div>
                    <div class="stageup__detail__song-info__score"><span class="song-score">SCORE</span>0</div>
                </div>
            </li>
            <li>
                <div class="stageup__detail__song-icon"><img src="/img/music/2231.png" alt="music" class=""></div>
                <div class="stageup__detail__song-info">
                    <div class="stageup__detail__song-info__top"><span class="song-num">3曲目</span></div>
                    <div class="stageup__detail__song-info__name">Purple Skies</div>
                    <div class="stageup__detail__song-info__score"><span class="song-score">SCORE</span>0</div>
                </div>
            </li>
        </ul>
        <div class="stageup__detail__bottom">
            <a class="pa pf" routerLink="/web/ranking/stageupScore/detail"><p class="stageup__detail__ranking-btn">
                ランキング</p></a>
        </div>
    </div>
    <a class="back-btn" routerLink="/web/stageup">戻る</a></section>
