<section class="login">
    <h2>WACCA マイページ</h2>
    <div class="information">
        <ul class="information__tab">
            <li class="tab__btn btn__update is-active">更新情報</li>
            <li class="tab__btn btn__news">お知らせ</li>
        </ul>
        <div class="information__body info-update is-show panel">
            <ul>
                <li class="info_attention">
                    <div><p class="txt">更新情報はありません</p></div>
                </li>
            </ul>
        </div>
        <div class="information__body info-news panel">
            <ul>
                <li class="has-link info_attention"><a href="https://info-wacca.marv.jp/article/15988">
                    <div><p class="info-title">「WACCA」各種テーマソングデジタル販売開始！</p><span
                            class="info-date"> </span></div>
                </a></li>
                <li class="has-link info_attention"><a href="https://info-wacca.marv.jp/article/15683">
                    <div><p class="info-title">【重要】オンラインサービス終了とオフライン版稼働について</p><span
                            class="info-date"> </span></div>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="login-btn"><a class="btn login" routerLink="/login/select">ログイン</a></div>
</section>
<section id="login">
    <article>
        <div class="twitter"><img src="/assets/img/web/twitter.svg">
            <div class="twitter-content">
                <iframe allowfullscreen="true" allowtransparency="true" class="twitter-timeline twitter-timeline-rendered" data-darkreader-inline-border-bottom=""
                        data-darkreader-inline-border-left="" data-darkreader-inline-border-right=""
                        data-darkreader-inline-border-top=""
                        data-widget-id="profile:WACCA_official" frameborder="0"
                        id="twitter-widget-0" scrolling="no"
                        style="position: static; visibility: visible; display: inline-block; width: calc(100vw - 20px); height: 300px; padding: 0px; border: none; --darkreader-inline-border-top: initial; --darkreader-inline-border-right: initial; --darkreader-inline-border-bottom: initial; --darkreader-inline-border-left: initial; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" title="Twitter Timeline"></iframe>
                <script async="" charset="utf-8" src="https://platform.twitter.com/widgets.js"></script>
            </div>
        </div>
    </article>
</section>
