<section id="option">
    <article>
        <div><h2><span>背景動画設定</span></h2>
            <div class="article"><p class="top_description">プレイ中の背景動画表示を設定できます。</p>
                <div class="option_img"><span class="option_img_before"><img src="/assets/img/web/movie/0.png" alt="option"
                                                                             class=""></span> <span
                        class="option_arrow_lr"></span> <span class="option_img_after"><img
                        src="/assets/img/web/movie/1.png" alt="option" class=""></span></div>
                <p><select id="optionValue" name="optionValue">
                    <option value="0" selected="">毎回確認</option>
                    <option value="1">OFF</option>
                    <option value="2">ON</option>
                </select></p>
                <a class="btn option_confirm" data-izimodal-open="#modal_option_confirm">変更する</a> <a
                        routerLink="/web/option/gameSetting" class="back-btn bold">戻る</a></div><!-- /article -->
        </div>
    </article>
</section>
