<section class="box">
    <div class="box__cap"><img src="/assets/img/web/top/banner/box_bn30511.png" alt="box_banner" class=""></div>
    <a class="pa box__back-btn" routerLink="/web/box/top"><p> 戻る </p></a>
    <div class="box__progress collection-box">
        <dl class="progress__wrap">
            <dt class="progress__title">ボックス獲得状況</dt>
            <dd class="progress__data">
                <div class="data__summary">
                    <dl class="summary__wrap">
                        <dt>獲得率</dt>
                        <dd>0％</dd>
                    </dl>
                    <dl class="summary__wrap">
                        <dt>獲得数</dt>
                        <dd>0個</dd>
                    </dl>
                </div>
                <div class="data__items">
                    <dl class="items__wrap">
                        <dt><img src="/img/trophy/platinum.png" alt="trophyPlatinum" class="img__rarity"></dt>
                        <dd>0/<span>6</span></dd>
                    </dl>
                </div>
            </dd>
        </dl>
    </div>
    <div class="box__box-list">
        <div class="box-list__rarity">
            <div class="box-list__icon">
                <dt><img src="/img/trophy/platinum.png" alt="trophyPlatinum" class="img__rarity"></dt>
            </div>
            <div class="box-list__rank"><img src="/assets/img/web/collection/rank_star_4.png" alt="starimage" class="">
            </div>
        </div>
        <ul class="box-list__title-list">
            <li class="unacquired"><p>エリザベス(SPURT)</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>リリィ(SPURT)</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>ルーン(SPURT)</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>【裏】ルーン(SPURT)</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>特盛なあいつ</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">プレート</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>特盛な大懶獣</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">プレート</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="box__notice"><h2>注意事項</h2>
        <ul>
            <li>※ボックスを開けるにはポイントや特定のアイテムが必要です。</li>
            <li>※ボックスの中身はアイテム別に出現確率が設定されており、ランダムに同じアイテムが出現することがあります。</li>
            <li>※取得できるアイテムはボックス詳細ページからご覧ください。</li>
            <li>※獲得数は該当のボックスにて獲得した数になります。ゲーム内や別ボックスで獲得したアイテムは数に含まれません。</li>
        </ul>
    </div>
    <a class="pa box__back-btn" routerLink="/web/box/top"><p>戻る</p></a>
</section>


<section class="box">
    <div class="box__cap"><img src="/assets/img/web/box/top_image/box_25011.png" alt="box_top_image" class=""></div>
    <a class="pa box__back-btn" routerLink="/web/box/top"><p> 戻る </p></a>
    <div class="box__progress collection-box">
        <dl class="progress__wrap">
            <dt class="progress__title">ボックス獲得状況</dt>
            <dd class="progress__data">
                <div class="data__summary">
                    <dl class="summary__wrap">
                        <dt>獲得率</dt>
                        <dd>24％</dd>
                    </dl>
                    <dl class="summary__wrap">
                        <dt>獲得数</dt>
                        <dd>13個</dd>
                    </dl>
                </div>
                <div class="data__items">
                    <dl class="items__wrap">
                        <dt><img src="/img/trophy/bronze.png" alt="trophyBronze" class="img__rarity"></dt>
                        <dd>8/<span>30</span></dd>
                    </dl>
                    <dl class="items__wrap">
                        <dt><img src="/img/trophy/silver.png" alt="trophySilver" class="img__rarity"></dt>
                        <dd>4/<span>20</span></dd>
                    </dl>
                    <dl class="items__wrap">
                        <dt><img src="/img/trophy/gold.png" alt="trophyGold" class="img__rarity"></dt>
                        <dd>1/<span>1</span></dd>
                    </dl>
                    <dl class="items__wrap">
                        <dt><img src="/img/trophy/platinum.png" alt="trophyPlatinum" class="img__rarity"></dt>
                        <dd>0/<span>2</span></dd>
                    </dl>
                </div>
            </dd>
        </dl>
    </div>
    <div class="box__box-list">
        <div class="box-list__rarity">
            <div class="box-list__icon">
                <dt><img src="/img/trophy/platinum.png" alt="trophyPlatinum" class="img__rarity"></dt>
            </div>
            <div class="box-list__rank"><img src="/assets/img/web/collection/rank_star_4.png" alt="starimage" class=""></div>
        </div>
        <ul class="box-list__title-list">
            <li class="unacquired"><p>ディープパープル</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">マイカラー</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>ふぃーばー</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">プレート</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="box__box-list">
        <div class="box-list__rarity">
            <div class="box-list__icon">
                <dt><img src="/img/trophy/gold.png" alt="trophyGold" class="img__rarity"></dt>
            </div>
            <div class="box-list__rank"><img src="/assets/img/web/collection/rank_star_3.png" alt="starimage" class=""></div>
        </div>
        <ul class="box-list__title-list">
            <li><p>包丁トントン</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">ノーツタッチSE</div>
                    <div class="title-list__num"> 獲得数: 2</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="box__box-list">
        <div class="box-list__rarity">
            <div class="box-list__icon">
                <dt><img src="/img/trophy/silver.png" alt="trophySilver" class="img__rarity"></dt>
            </div>
            <div class="box-list__rank"><img src="/assets/img/web/collection/rank_star_2.png" alt="starimage" class=""></div>
        </div>
        <ul class="box-list__title-list">
            <li class="unacquired"><p>萌</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>君WACCAうまいねぇ</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>こんせき</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>しんげき</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>無名</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li><p>リズム</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li class="unacquired"><p>渦</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>トライアングル</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>目玉焼き</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>双子焼き</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">アイコン</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li><p>お姉さまと一緒</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li class="unacquired"><p>わたしはあなたが好き</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>人気DJの学園生活</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>花見のはる</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>アツいなつ</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li><p>エモいあき</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li class="unacquired"><p>クールなふゆ</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>サインコサインタンジェント</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li><p>大量のみかんの箱</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li class="unacquired"><p>るくあんすis…？</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="box__box-list">
        <div class="box-list__rarity">
            <div class="box-list__icon">
                <dt><img src="/img/trophy/bronze.png" alt="trophyBronze" class="img__rarity"></dt>
            </div>
            <div class="box-list__rank"><img src="/assets/img/web/collection/rank_star_1.png" alt="starimage" class=""></div>
        </div>
        <ul class="box-list__title-list">
            <li class="unacquired"><p>お年玉！！</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>お豆まき</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>チョコなどいらん！</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>ひな祭り</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>うそはうそであると見抜ける人でないと(ＷＡＣＣＡを使うのは)難しい</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>ゴールドラッシュ</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li><p>七夕（笑）</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li><p>百鬼夜行</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li class="unacquired"><p>クリスマスは予定なし</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li><p>デッカイノーツ</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li><p>Miss滅するべし</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li class="unacquired"><p>偉大な先人</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li><p>後発でも負けません！</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li class="unacquired"><p>許すななんて言えない</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>4時間で余裕でした</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li><p>取るのではなく取らせる</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li class="unacquired"><p>1日1譜面</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>LRこれでいける</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>ポップステップシュート！</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li><p>デフォルトSE？良くある</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
            <li class="unacquired"><p>ノーツ判定経験が生きたな</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>ノーツカラーいっぱい！</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>たまにはステージアップ！</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>高レート憧れちゃうなー</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>解禁条件ほう、そんなのもあるのか</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>ゲートミッション忘れちゃうよね</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>リサイクルボックスではない</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>これは4プレイで達成しました</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li class="unacquired"><p>難易度5＋あるかもね</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 未獲得</div>
                </div>
            </li>
            <li><p>ステージアップ6いけそうです</p>
                <div class="title-list__bottom">
                    <div class="title-list__title">称号</div>
                    <div class="title-list__num"> 獲得数: 1</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="box__notice"><h2>注意事項</h2>
        <ul>
            <li>※ボックスを開けるにはポイントや特定のアイテムが必要です。</li>
            <li>※ボックスの中身はアイテム別に出現確率が設定されており、ランダムに同じアイテムが出現することがあります。</li>
            <li>※取得できるアイテムはボックス詳細ページからご覧ください。</li>
            <li>※獲得数は該当のボックスにて獲得した数になります。ゲーム内や別ボックスで獲得したアイテムは数に含まれません。</li>
        </ul>
    </div>
    <a class="pa box__back-btn" routerLink="/web/box/top"><p>戻る</p></a>
</section>
