<section class="user-info">
    <div class="user-info__icon">
        <div class="user-info__icon__stage"></div>
        <div class="symbol__color__base"><img alt="symbol_color" class="" src="/img/symbol_color/303001.png">
            <div class="icon__image"><img alt="icon" class="" src="/img/icon/102100.png"></div>
        </div>
    </div>
    <div class="user-info__detail">
        <div class="user-info__detail__wrap">
            <div class="user-info__detail__lv"><span>Lv.24</span></div>
            <div class="user-info__detail__name">USER_001</div>
        </div>
        <div class="user-info__detail__title">God ？raves?</div>
        <div class="user-info__detail__wrap">
            <div class="user-info__detail__wp"><img src="/assets/img/web/top/info/rp.png" width="20">7480<span>&nbsp;RP</span>
            </div>
            <div class="user-info__detail__ex"><img src="/assets/img/web/top/info/ex.png" width="28">0</div>
        </div>
        <div class="rating__wrap">
            <div class="rating__img"><img alt="rating_icon" class="" src="/assets/img/web/rating/rate_003.png">
                <div class="rating__data">1613</div>
            </div>
        </div>
    </div>
</section>
<section class="banners"><a routerLink="/web/mission">
    <div class="banner"><img src="/assets/img/web/top/banner/mission_banner.png"></div>
</a> <a routerLink="/web/box">
    <div class="banner"><img src="/assets/img/web/top/banner/box.png"></div>
</a></section>
<section class="information">
    <ul class="information__tab">
        <li class="tab__btn btn__update is-active">更新情報</li>
        <li class="tab__btn btn__news">お知らせ</li>
    </ul>
    <div class="information__body info-update is-show panel">
        <ul>
            <li class="info_attention">
                <div><p class="txt">更新情報はありません</p></div>
            </li>
        </ul>
    </div>
    <div class="information__body info-news panel">
        <ul>
            <li class="has-link info_attention"><a href="https://info-wacca.marv.jp/article/15988">
                <div><p class="info-title">「WACCA」各種テーマソングデジタル販売開始！</p>
                    <span class="info-date"> </span></div>
            </a></li>
            <li class="has-link info_attention"><a href="https://info-wacca.marv.jp/article/15683">
                <div><p class="info-title">【重要】オンラインサービス終了とオフライン版稼働について</p>
                    <span class="info-date"> </span></div>
            </a></li>
        </ul>
    </div>
</section>
<section class="bottom_btn">
    <ul>
        <li style="margin: 0 auto;"><a routerLink="/web/music/unlock">楽曲オープン</a></li>
    </ul>
</section>
