<section id="option">
    <article>
        <div><h2><span>プレイヤー名変更</span></h2>
            <div class="article"><p><input type="text" id="playerName" name="playerName" value="USER_001" maxlength="8"
                                           inputmode="url"></p>
                <p>8文字以内で入力してください。</p>
                <p>使用できる文字は、</p>
                <p>半角英数字と一部記号のみとなります。</p>
                <p>使用できる記号は<a class="link" data-izimodal-open="#modal_option_not_allowed">コチラ</a>となります。</p>
                <a class="btn option_confirm" data-izimodal-open="#modal_option_confirm">変更する</a></div>
            <!-- /article -->        </div>
    </article>
</section>
