<section class="friend friend-list friend-conf friend-search playdata friend-data friend-req-accept">
    <div class="friend__tab">
        <ul class="friend__tab__wrap">
            <li class="tab__btn   active "><a routerLink="/web/friend/list">フレンド</a></li>
            <li class="tab__btn "><a routerLink="/web/friend/find">検索</a></li>
            <li class="tab__btn "><a routerLink="/web/friend/request/applying">申請/受付</a></li>
            <li class="tab__btn disapproval"><span class="ic-vip gray">スコア比較</span></li>
        </ul>
    </div>
    <div class="contents-wrap">
        <router-outlet></router-outlet>
    </div>
</section>
