<h2>フレンドデータ</h2>
<div class="playdata__playerdata">
    <div class="user-info">
        <div class="user-info__icon">
            <div class="user-info__icon__official"><img src="/assets/img/web/common/official.png" alt="official" class="">
            </div>
            <div class="user-info__icon__stage"></div>
            <div class="symbol__color__base"><img src="/img/symbol_color/303001.png" alt="symbol_color" class="">
                <div class="icon__image"><img src="/img/icon/102069.png" alt="icon" class=""></div>
            </div>
        </div>
        <div class="user-info__detail">
            <div class="user-info__detail__wrap">
                <div class="user-info__detail__lv"><span>Lv.219</span></div>
                <div class="user-info__detail__name">CDEFG</div>
            </div>
            <div class="user-info__detail__title">WACCA Lily ステージXクリア！</div>
            <div class="rating__wrap">
                <div class="rating__img"><img src="/assets/img/web/rating/rate_003.png" alt="rating_icon" class="">
                    <div class="rating__data">1709</div>
                </div>
            </div>
        </div>
    </div>
    <div class="playdata__difficulty">
        <ul class="playdata__difficulty__wrap">
            <li class="difficulty__btn difficulty__btn-all active"><img src="/assets/img/web/play_data/btntx_all.png"
                                                                        height="8"></li>
            <li class="difficulty__btn difficulty__btn-normal"><img src="/assets/img/web/play_data/btntx_normal.png"
                                                                    height="8"></li>
            <li class="difficulty__btn difficulty__btn-hard"><img src="/assets/img/web/play_data/btntx_hard.png" height="8">
            </li>
            <li class="difficulty__btn difficulty__btn-expert"><img src="/assets/img/web/play_data/btntx_expert.png"
                                                                    height="8"></li>
            <li class="difficulty__btn difficulty__btn-inferno"><img src="/assets/img/web/play_data/btntx_inferno.png"
                                                                     height="8"></li>
        </ul>
    </div>
    <div class="playdata__score-point">
        <ul class="playdata__score-point__wrap">
            <li>
                <div><img src="/assets/img/web/play_data/icon/c_txt_clear.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">74/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">1/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">25/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">47/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_s.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">62/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">0/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">19/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">42/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_s_plus.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">42/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">0/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">15/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">26/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li>
                <div><img src="/assets/img/web/play_data/icon/c_txt_missless.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">45/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">1/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">21/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">22/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_ss.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">42/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">0/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">15/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">26/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_ss_plus.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">17/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">0/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">10/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">6/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li>
                <div><img src="/assets/img/web/play_data/icon/c_txt_full.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">21/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">0/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">12/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">8/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_sss.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">17/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">0/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">10/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">6/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_sss_plus.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">6/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">0/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">2/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">3/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li>
                <div><img src="/assets/img/web/play_data/icon/c_txt_all_m.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">6/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">0/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">2/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">3/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
            <li class="rate">
                <div><img src="/assets/img/web/play_data/icon/c_txt_master.png"></div>
                <p class="score-point__difficulty difficulty__all is-show">6/<span
                        class="score-point__difficulty difficulty__all is-show">1181</span></p>
                <p class="score-point__difficulty difficulty__normal">0/<span
                        class="score-point__difficulty difficulty__normal">385</span></p>
                <p class="score-point__difficulty difficulty__hard">2/<span
                        class="score-point__difficulty difficulty__hard">385</span></p>
                <p class="score-point__difficulty difficulty__expert">3/<span
                        class="score-point__difficulty difficulty__expert">385</span></p>
                <p class="score-point__difficulty difficulty__inferno">1/<span
                        class="score-point__difficulty difficulty__inferno">26</span></p></li>
        </ul>
    </div>
</div>
<a class="friend-cancel-btn" data-izimodal-open="#modal_friend_confirm">フレンドを解除する</a>
<a class="back-btn" routerLink="/web/friend/list">戻る</a>
