<section class="collection">
    <div class="collection__tab">
        <ul class="collection__tab__wrap">
            <li class="tab__btn  active "><a routerLink="/web/title/preset"> 称号</a></li>
            <li class="tab__btn "><a routerLink="/web/icon">アイコン</a></li>
            <li class="tab__btn "><a routerLink="/web/plate">プレート</a></li>
            <li class="tab__btn "><a routerLink="/web/naviCharacter">ナビキャラ</a></li>
            <li class="tab__btn "><a routerLink="/web/trophy">トロフィー</a></li>
        </ul>
    </div>
    <div class="contents-wrap">
        <router-outlet></router-outlet>
    </div>
</section>
