<div class="collection__filter-btn filter-btn"><a class="btn-filter" data-izimodal-open="#modal_filter_title" href="">フィルタ</a>
    <input id="modal-filter-disp" name="modal-filter-disp" type="hidden" value="0"> <input id="modal-filter-genre"
                                                                                           name="modal-filter-genre"
                                                                                           type="hidden"
                                                                                           value="0"> <input
            id="modal-filter-order" name="modal-filter-order" type="hidden" value="0"> <input id="modal-filter-sort"
                                                                                              name="modal-filter-sort"
                                                                                              type="hidden"
                                                                                              value="0"></div>

<div class="collection__nav">
    <ul class="collection__nav__wrap">
        <li class="collection__btn active"><a routerLink="/web/title/preset" style="color: #fff;">通常称号</a></li>
        <li class="collection__btn"><a routerLink="/web/title/special" style="color: #fff;">特別称号</a></li>
        <li class="collection__btn"><a routerLink="/web/title/custom" style="color: #fff;">カスタマイズ</a></li>
    </ul>
</div>

<div class="collection__title">
    <div class="collection__current-title collection-box">
        <dl>
            <dt>現在の称号</dt>
            <dd>God ？raves?</dd>
        </dl>
    </div>
    <ul class="collection__title-list grid muuri" style="height: 4828px;">
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="0" data-title_id="104001"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block;"><p
                data-izimodal-open="#modal_title_preset104001" style="opacity: 1; transform: scale(1);">ゲスト</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="0" data-title_id="104002"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(71px); display: block;"><p
                data-izimodal-open="#modal_title_preset104002" style="opacity: 1; transform: scale(1);">ＷＡＣＣＡはじめました</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="0" data-title_id="104003"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(142px); display: block;"><p
                data-izimodal-open="#modal_title_preset104003" style="opacity: 1; transform: scale(1);">ウェルカムトゥワッカ！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="0" data-title_id="104005"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(213px); display: block;"><p
                data-izimodal-open="#modal_title_preset104005" style="opacity: 1; transform: scale(1);">
            マルチプレイ誘ってください</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104006"
            data-title_rarity="3"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(284px); display: block;"><p
                data-izimodal-open="#modal_title_preset104006" style="opacity: 1; transform: scale(1);">
            ＳＳ以上がマジのクリア</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_3.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104011"
            data-title_rarity="3"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(355px); display: block;"><p
                data-izimodal-open="#modal_title_preset104011" style="opacity: 1; transform: scale(1);">君ワッカうまいねぇ</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_3.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104012"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(426px); display: block;"><p
                data-izimodal-open="#modal_title_preset104012" style="opacity: 1; transform: scale(1);">初めてのフルコンボ</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104013"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(497px); display: block;"><p
                data-izimodal-open="#modal_title_preset104013" style="opacity: 1; transform: scale(1);">もうちょいあと一歩</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="1" data-title_id="104014"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(568px); display: block;"><p
                data-izimodal-open="#modal_title_preset104014" style="opacity: 1; transform: scale(1);">私のレベルは…１０だ！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="6" data-title_id="104015"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(639px); display: block;"><p
                data-izimodal-open="#modal_title_preset104015" style="opacity: 1; transform: scale(1);">ボカロ愛好家</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="6" data-title_id="104018"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(710px); display: block;"><p
                data-izimodal-open="#modal_title_preset104018" style="opacity: 1; transform: scale(1);">ハードコアタノシー</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104051"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(781px); display: block;"><p
                data-izimodal-open="#modal_title_preset104051" style="opacity: 1; transform: scale(1);">この体にもなじんできた</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104054"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(852px); display: block;"><p
                data-izimodal-open="#modal_title_preset104054" style="opacity: 1; transform: scale(1);">
            俺たちの戦いは始まったばかりだ</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104055"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(923px); display: block;"><p
                data-izimodal-open="#modal_title_preset104055" style="opacity: 1; transform: scale(1);">アクセサリーマニア</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104075"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(994px); display: block;"><p
                data-izimodal-open="#modal_title_preset104075" style="opacity: 1; transform: scale(1);">七夕（笑）</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104076"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1065px); display: block;"><p
                data-izimodal-open="#modal_title_preset104076" style="opacity: 1; transform: scale(1);">百鬼夜行</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104078"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1136px); display: block;"><p
                data-izimodal-open="#modal_title_preset104078" style="opacity: 1; transform: scale(1);">
            北海道といえばじゃがいも</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104085"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1207px); display: block;"><p
                data-izimodal-open="#modal_title_preset104085" style="opacity: 1; transform: scale(1);">
            茨城県といえば納豆</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104090"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1278px); display: block;"><p
                data-izimodal-open="#modal_title_preset104090" style="opacity: 1; transform: scale(1);">
            東京都といえばもんじゃ</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104098"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1349px); display: block;"><p
                data-izimodal-open="#modal_title_preset104098" style="opacity: 1; transform: scale(1);">
            岐阜県といえば赤かぶ</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104100"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1420px); display: block;"><p
                data-izimodal-open="#modal_title_preset104100" style="opacity: 1; transform: scale(1);">
            愛知県といえば味噌カツ</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104101"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1491px); display: block;"><p
                data-izimodal-open="#modal_title_preset104101" style="opacity: 1; transform: scale(1);">
            三重県といえば伊勢海老</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104104"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1562px); display: block;"><p
                data-izimodal-open="#modal_title_preset104104" style="opacity: 1; transform: scale(1);">
            大阪府といえばたこやき</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104105"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1633px); display: block;"><p
                data-izimodal-open="#modal_title_preset104105" style="opacity: 1; transform: scale(1);">
            兵庫県といえば神戸牛</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104106"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1704px); display: block;"><p
                data-izimodal-open="#modal_title_preset104106" style="opacity: 1; transform: scale(1);">
            奈良県といえば奈良漬け</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104107"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1775px); display: block;"><p
                data-izimodal-open="#modal_title_preset104107" style="opacity: 1; transform: scale(1);">
            和歌山県といえばはっさく</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104109"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1846px); display: block;"><p
                data-izimodal-open="#modal_title_preset104109" style="opacity: 1; transform: scale(1);">
            島根県といえば出雲そば</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="104110"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1917px); display: block;"><p
                data-izimodal-open="#modal_title_preset104110" style="opacity: 1; transform: scale(1);">
            岡山県といえばきびだんご</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="12" data-title_id="104125"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(1988px); display: block;"><p
                data-izimodal-open="#modal_title_preset104125" style="opacity: 1; transform: scale(1);">北海道君主！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="14" data-title_id="104162"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2059px); display: block;"><p
                data-izimodal-open="#modal_title_preset104162" style="opacity: 1; transform: scale(1);">ＷＡＣＣＡ
            Ｓはじめました</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="14" data-title_id="204015"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2130px); display: block;"><p
                data-izimodal-open="#modal_title_preset204015" style="opacity: 1; transform: scale(1);">WACCA
            Lilyはじめました</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="204035"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2201px); display: block;"><p
                data-izimodal-open="#modal_title_preset204035" style="opacity: 1; transform: scale(1);">WACCA Lily
            紺レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="204036"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2272px); display: block;"><p
                data-izimodal-open="#modal_title_preset204036" style="opacity: 1; transform: scale(1);">WACCA Lily
            黄レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="204037"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2343px); display: block;"><p
                data-izimodal-open="#modal_title_preset204037" style="opacity: 1; transform: scale(1);">WACCA Lily
            赤レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="204038"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2414px); display: block;"><p
                data-izimodal-open="#modal_title_preset204038" style="opacity: 1; transform: scale(1);">WACCA Lily
            紫レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="204039"
            data-title_rarity="3"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2485px); display: block;"><p
                data-izimodal-open="#modal_title_preset204039" style="opacity: 1; transform: scale(1);">WACCA Lily
            青レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_3.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204043"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2556px); display: block;"><p
                data-izimodal-open="#modal_title_preset204043" style="opacity: 1; transform: scale(1);">赤の独壇場</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204055"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2627px); display: block;"><p
                data-izimodal-open="#modal_title_preset204055" style="opacity: 1; transform: scale(1);">元気なおじさん</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204071"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2698px); display: block;"><p
                data-izimodal-open="#modal_title_preset204071" style="opacity: 1; transform: scale(1);">Let's Dive…</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204073"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2769px); display: block;"><p
                data-izimodal-open="#modal_title_preset204073" style="opacity: 1; transform: scale(1);">レバニラ好き？</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204074"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2840px); display: block;"><p
                data-izimodal-open="#modal_title_preset204074" style="opacity: 1; transform: scale(1);">焼肉定食</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204079"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2911px); display: block;"><p
                data-izimodal-open="#modal_title_preset204079" style="opacity: 1; transform: scale(1);">朝1ＷＡＣＣＡ</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204080"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(2982px); display: block;"><p
                data-izimodal-open="#modal_title_preset204080" style="opacity: 1; transform: scale(1);">ＷＡＣＣＡ2you</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204084"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3053px); display: block;"><p
                data-izimodal-open="#modal_title_preset204084" style="opacity: 1; transform: scale(1);">有象無象</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204085"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3124px); display: block;"><p
                data-izimodal-open="#modal_title_preset204085" style="opacity: 1; transform: scale(1);">判定がわからない</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="204106"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3195px); display: block;"><p
                data-izimodal-open="#modal_title_preset204106" style="opacity: 1; transform: scale(1);">チキンは別腹</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204116"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3266px); display: block;"><p
                data-izimodal-open="#modal_title_preset204116" style="opacity: 1; transform: scale(1);">お姉さまと一緒</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204121"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3337px); display: block;"><p
                data-izimodal-open="#modal_title_preset204121" style="opacity: 1; transform: scale(1);">エモいあき</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204124"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3408px); display: block;"><p
                data-izimodal-open="#modal_title_preset204124" style="opacity: 1; transform: scale(1);">大量のみかんの箱</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204126"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3479px); display: block;"><p
                data-izimodal-open="#modal_title_preset204126" style="opacity: 1; transform: scale(1);">デッカイノーツ</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204127"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3550px); display: block;"><p
                data-izimodal-open="#modal_title_preset204127" style="opacity: 1; transform: scale(1);">Miss滅するべし</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204129"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3621px); display: block;"><p
                data-izimodal-open="#modal_title_preset204129" style="opacity: 1; transform: scale(1);">
            後発でも負けません！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204132"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3692px); display: block;"><p
                data-izimodal-open="#modal_title_preset204132" style="opacity: 1; transform: scale(1);">
            取るのではなく取らせる</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204136"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3763px); display: block;"><p
                data-izimodal-open="#modal_title_preset204136" style="opacity: 1; transform: scale(1);">
            デフォルトSE？良くある</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="16" data-title_id="204146"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3834px); display: block;"><p
                data-izimodal-open="#modal_title_preset204146" style="opacity: 1; transform: scale(1);">
            ステージアップ6いけそうです</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="204167"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3905px); display: block;"><p
                data-izimodal-open="#modal_title_preset204167" style="opacity: 1; transform: scale(1);">WACCA Lily R
            紺レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="204168"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(3976px); display: block;"><p
                data-izimodal-open="#modal_title_preset204168" style="opacity: 1; transform: scale(1);">WACCA Lily R
            黄レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="204169"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4047px); display: block;"><p
                data-izimodal-open="#modal_title_preset204169" style="opacity: 1; transform: scale(1);">WACCA Lily R
            赤レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="204170"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4118px); display: block;"><p
                data-izimodal-open="#modal_title_preset204170" style="opacity: 1; transform: scale(1);">WACCA Lily R
            紫レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="204504"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4189px); display: block;"><p
                data-izimodal-open="#modal_title_preset204504" style="opacity: 1; transform: scale(1);">笹食え</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="304065"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4260px); display: block;"><p
                data-izimodal-open="#modal_title_preset304065" style="opacity: 1; transform: scale(1);">WACCA Reverse
            紺レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="304066"
            data-title_rarity="1"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4331px); display: block;"><p
                data-izimodal-open="#modal_title_preset304066" style="opacity: 1; transform: scale(1);">WACCA Reverse
            黄レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_1.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="304067"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4402px); display: block;"><p
                data-izimodal-open="#modal_title_preset304067" style="opacity: 1; transform: scale(1);">WACCA Reverse
            赤レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="304068"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4473px); display: block;"><p
                data-izimodal-open="#modal_title_preset304068" style="opacity: 1; transform: scale(1);">WACCA Reverse
            紫レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="15" data-title_id="304069"
            data-title_rarity="3"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4544px); display: block;"><p
                data-izimodal-open="#modal_title_preset304069" style="opacity: 1; transform: scale(1);">WACCA Reverse
            青レート達成！</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_3.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="14" data-title_id="304075"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4615px); display: block;"><p
                data-izimodal-open="#modal_title_preset304075" style="opacity: 1; transform: scale(1);">WACCA
            Reverseはじめました</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="304151"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4686px); display: block;"><p
                data-izimodal-open="#modal_title_preset304151" style="opacity: 1; transform: scale(1);">いつになく寒いな</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
        <li class="item filter-having muuri-item muuri-item-shown" data-title_genre="11" data-title_id="304152"
            data-title_rarity="2"
            style="left: 0px; top: 0px; transform: translateX(0px) translateY(4757px); display: block;"><p
                data-izimodal-open="#modal_title_preset304152" style="opacity: 1; transform: scale(1);">こたつdeみかん</p>
            <div class="title-list__bottom">
                <div class="title-list__rank"><img alt="starimage" class="" src="/assets/img/web/collection/rank_star_2.png">
                </div>
                <a class="pa pf" routerLink="/web/title/preset/exec">
                    <div class="title-list__set-btn">SETする</div>
                </a>
            </div>
        </li>
    </ul>
</div>
